{include file="common/head"/}
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this" lay-id="1">咨询</li>
        <li class="" lay-id="2">活动</li>
        <li class="" lay-id="3">圈子</li>
        <li class="" lay-id="4">论坛</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <table id="table0" lay-filter="test"></table>
        </div>
        <div class="layui-tab-item">
            <table id="table1" lay-filter="test"></table>
        </div>
        <div class="layui-tab-item">
            <table id="table2" lay-filter="test"></table>
        </div>
        <div class="layui-tab-item">
            <table id="table3" lay-filter="test"></table>
        </div>
    </div>
</div>
<script type="text/html" id="action">
    <a  class="layui-btn layui-btn-xs" lay-event="reply">回复列表</a>
    <a  class="layui-btn layui-btn-xs" lay-event="del">删除</a>
    <a  class="layui-btn layui-btn-xs" lay-event="shouli">受理</a>
</script>
<div id="show" style="display:none;">
    <div class="layui-container-fluid" style="padding:20px">
        <div class="layui-row pd20">
            <div class="layui-col-xs4">
                <blockquote class="layui-elem-quote">送检单位信息</blockquote>
                <p>需求标题：<span id="title"></span></p>
                <p>截止时间：<span id="endtime"></span></p>
                <p>邮政编码：<span id="code"></span></p>
                <p>发布公司：<span id="company"></span></p>
                <p>公司地址：<span id="address"></span></p>
                <p>联系人：<span id="r_name"></span></p>
                <p>联系电话：<span id="r_phone"></span></p>
                <p>联系人地址：<span id="r_address"></span></p>

            </div>
            <div class="layui-col-xs4 layui-col-xs-offset4">
                <blockquote class="layui-elem-quote">送检商务要求</blockquote>
                <p>处理方式：<span id="chuli_type"></span></p>
                <p>开具发票：<span id="receipt"></span></p>
                <!--<p>资质要求：<span id="intelligence"></span></p>-->
                <p>接受分包：<span id="subpackage"></span></p>
                <!--<p>报告版式：<span id="format"></span></p>-->
                <p>报告方式：<span id="way"></span></p>
                <p>是否加急：<span id="urgent"></span></p>
                <p>相关附件：</p>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs7">
                <table id="table" lay-filter="list"></table>
            </div>
            <div class="layui-col-xs4 layui-col-xs-offset1">
                <form class="layui-form layui-form-pane" action="" id="add_jindu">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">添加项目进度</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" name="desc" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <button type="button" class="layui-btn" id="test2">附件上传</button>
                        <input type="hidden" name="file" id="file">
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            <img class="layui-upload-img" id="demo1">
                            <p id="demoText"></p>
                        </blockquote>
                    </div>
                    <div class="layui-form-item">
                        <input type="hidden" name="order_id" id="order_id">
                        <button class="layui-btn" lay-submit="" lay-filter="add_jindu">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="tanchuceng" style="display: none">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">受理订单</li>
            <li>拒绝受理</li>

        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                订单金额: <input type="area" class="layui-input" placeholder="请填写订单金额" id="price">
                实验周期:<input type="area" class="layui-input" placeholder="请填写试验周期" id="time">
                实验地址: <input type="area" class="layui-input" placeholder="请填写实验室地址" id="addr">
                联系方式:<input type="area" class="layui-input" placeholder="请填写实验室联系方式" id="phone">
                <input type="hidden" id="o_id" value="">
                <button class="layui-btn layui-btn-lg" onclick="order()" style="display: block;margin: auto">受理订单</button>

            </div>
            <div class="layui-tab-item">

                <input type="area" class="layui-textarea" id="info">
                <input type="hidden" id="orderid" value="">
                <button class="layui-btn layui-btn-lg" onclick="info()">拒绝订单</button>

            </div>

        </div>
    </div>
</div>
<script type="text/html" id="titleTpl">
    <span style="{{d.title_style}}">{{d.title}}</span>
    {{# if(d.thumb){ }}<img src="__ADMIN__/images/image.gif" onmouseover="layer.tips('<img src=__PUBLIC__/{{d.thumb}}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();">{{# } }}
</script>
{include file="common/foot"/}
<script>
    var posid = '';
    layui.use(['element','table', 'layer','form','upload'], function(){
        var element = layui.element
            ,$ = layui.jquery
            ,layer = layui.layer
            ,table= layui.table
            ,form = layui.form
            ,upload = layui.upload;
        element.on('tab(docDemoTabBrief)', function(data){
            var  index = parseInt(data.index) + 1;
            var tableIn = table.render({
                elem: '#table'+ index
                ,url: "{:url('ajax_order')}"+"?type=" + index //数据接口
                ,page: true //开启分页
                ,limit:10
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', width:120,align:'center'}
                    ,{field: 'title', title: '标题', width:320,align:'left',templet:'#titleTpl'}
                    ,{field: 'views', title: '浏览次数', width:160,align:'left'}
                    ,{field: 'reply', title: '留言数量', width:160,align:'left'}
                    ,{field: 'add_time', title: '发布时间', width: 100, align:'center'}
                    ,{field: 'status_cn', title: '状态', width: 80,align:'center'}
                    ,{width: '260', align: 'center', toolbar: '#action',fixed:'right'}
                ]]
            });
        });
        table.render({
            elem: '#table0'
            ,url: "{:url('ajax_order')}?type=1" //数据接口
            ,page: true //开启分页
            ,limit:10
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width:120,align:'center'}
                ,{field: 'title', title: '标题', width:320,align:'left',templet:'#titleTpl'}
                ,{field: 'views', title: '浏览次数', width:160,align:'left'}
                ,{field: 'reply', title: '留言数量', width:160,align:'left'}
                ,{field: 'add_time', title: '发布时间', width: 100, align:'center'}
                ,{field: 'status_cn', title: '状态', width: 80,align:'center'}
                ,{width: '260', align: 'center', toolbar: '#action',fixed:'right'}
            ]]
        });

        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'read') {
                //data.id
                var read = layer.open({
                    type: 1
                    , title: '订单详情' //不显示标题栏
                    , closeBtn: 1
                    , shade: 0.8
                    , anim: 2
                    , maxmin: true
                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    , moveType: 1 //拖拽模式，0或者1
                    , content: $('#show')
                    , success: function (layero) {
                        posid= data.id;
                        $("#order_id").val(posid);
                        $.post("{:url('show')}", {id: posid}, function (data) {
                            if (data.code == 1) {
                                $('#title').text(data.data.title);
                                $('#endtime').text(data.data.endtime);
                                $('#code').text(data.data.code);
                                $('#company').text(data.data.company);
                                $('#address').text(data.data.address);
                                $('#r_name').text(data.data.r_name);
                                $('#r_phone').text(data.data.r_phone);
                                $('#r_address').text(data.data.r_address);
                                $('#chuli_type').text(data.data.chuli_type);
                                $('#receipt').text(data.data.receipt);
                                $('#intelligence').text(data.data.intelligence);
                                $('#subpackage').text(data.data.subpackage);
                                $('#format').text(data.data.format);
                                $('#way').text(data.data.way);
                                $('#urgent').text(data.data.urgent);
                                //显示项目详情
                                table.render({
                                    elem: '#table'
                                    , url: "{:url('ajax_order_show')}"+"?id=" + posid//数据接口
                                    , page: true //开启分页
                                    , cols: [[ //表头
                                        {field: 'id', title: 'ID', width: 120, align: 'center',event:'show'}
                                        , {field: 'order_id', title: '订单号', width: 120, align: 'left',event:'show'}
                                        , {field: 'area', title: '三级分类', width: 180, sort: true, align: 'center',event:'show'}
                                        , {field: 'caizhi', title: '材质', width: 150, align: 'center',event:'show'}
                                        , {field: 'xinghao', title: '型号', width: 120, align: 'center',event:'show'}
                                        , {field: 'other', title: '其他', width: 120, align: 'center',event:'show'}
                                        , {field: 'content', title: '检测要求', width: 380, align: 'left',event:'show'}
                                        , {field: 'num', title: '样品数量', width: 180, align: 'center',event:'show'}
                                        , {field: 'status', title: '检测进度', width: 120, align: 'center',event:'show'}
                                    ]]
                                });
                            }
                        })
                    }
                });
                layer.full(read);
            }
            if (obj.event === 'waibao') {
                var posid=data.id;
                layer.prompt({
                    formType: 0,
                    value: '',
                    title: '请输入实验室ID',
                    area: ['800px', '350px'] //自定义文本域宽高
                }, function(value, index, elem){
                    $.post("{:url('Xuqiu/waibao')}", {id:posid,user_id:value}, function (res) {
                        if (res.code > 0){
                            layer.msg(res.msg);
                            location.reload();
                        }else{
                            layer.msg(res.msg);
                        }
                    });
                    layer.close(index);
                });
            }
            if (obj.event === 'shouli') {
                var posid=data.id;
                $('#o_id').val(posid);
                $('#orderid').val(posid);
                var index = layer.open({
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['350px', '360px'], //宽高
                    content: $('#tanchuceng') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                });

                // layer.tab({
                //     area: ['600px', '300px'],
                //     tab: [{
                //         title: '受理需求',
                //         content: '<form class="layui-form" action="">\n' +
                //         '        <div class="layui-form-item">\n' +
                //         '          <label class="layui-form-label">输入框</label>\n' +
                //         '          <div class="layui-input-block">\n' +
                //         '            <input type="text" name="title" required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" data-form-un="1526443087087.4587">\n' +
                //         '          </div>\n' +
                //         '        </div>'+
                //         '        <div class="layui-form-item">\n' +
                //         '          <label class="layui-form-label">输入框</label>\n' +
                //         '          <div class="layui-input-block">\n' +
                //         '            <input type="text" name="title" required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" data-form-un="1526443087087.4587">\n' +
                //         '          </div>\n' +
                //         '        </div>'+
                //             '</form>'
                //
                //     }, {
                //         title: '拒绝需求',
                //         content: $('#jujue')
                //     }]//自定义文本域宽高
                // }, function(value, index, elem){
                //     $.post("{:url('Xuqiu/waibao')}", {id:posid,user_id:value}, function (res) {
                //         if (res.code > 0){
                //             layer.msg(res.msg);
                //             location.reload();
                //         }else{
                //             layer.msg(res.msg);
                //         }
                //     });
                //     layer.close(index);
                // });
            }


        });
        var uploadInst = upload.render({
            elem: '#test2'
            ,url: "{:url('UpFiles/upImages')}"
            ,accept:'file'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else{
                    $("#file").val(res.src);
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        form.on('submit(add_jindu)', function (data) {
            var $form = $('#add_jindu');
            form.render();
            if(data.field.order_id == ''){
                layer.msg('请从左侧选择一个订单');
            }else{
                $.post("{:url('Xuqiu/addjindu')}", $form.serialize(), function (res) {
                    if (res.code > 0){
                        layer.msg('提交成功');
                        // tableIn.reload();
                        location.reload();
                    }else{
                        layer.msg('提交失败');
                        // tableIn.reload();
                        location.reload();
                    }
                });
            }
            return false;
        });

    });
    function info() {
        var $ =layui.$;
        var id = $('#orderid').val();
        var info = $('#info').val();
        var status = 3;

        $.post("{:url('Xuqiu/shouli')}", {id:id,info:info,status:status}, function (res) {
            if (res.code > 0){
                layer.msg(res.msg);
                location.reload();
            }else{
                layer.msg(res.msg);
            }
        });
    }
    function order() {
        var $ =layui.$;
        var id = $('#o_id').val();
        var price = $('#price').val();
        var status = 1;
        var time = $('#time').val();
        var phone = $('#phone').val();
        var addr = $('#addr').val()
        $.post("{:url('Xuqiu/shouli')}", {id:id,price:price,status:status,time:time,phone:phone,addr:addr}, function (res) {
            if (res.code > 0){
                layer.msg(res.msg);
                location.reload();
            }else{
                layer.msg(res.msg);
            }
        });
    }
</script>