{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{:lang('list')}</legend>
    </fieldset>
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
        </div>
        <button class="layui-btn" id="search" data-type="reload">{:lang('search')}</button>
        <a href="{:url('app_add')}" class="layui-btn" style="float:right;margin-right: 15px;">{:lang('add')}</a>
        <div style="clear: both;"></div>
    </div>
    <table class="layui-table" id="app_list" lay-filter="app_list"></table>
</div>
{include file="common/foot"/}
<!--<script type="text/html" id="order">-->
    <!--<input name="{{d.id}}" data-id="{{d.id}}" class="list_order layui-input" value=" {{d.listorder}}" size="10"/>-->
<!--</script>-->
<script type="text/html" id="title">
    <span style="{{d.title_style}}">{{d.title}}</span>
    {{# if(d.thumb){ }}<img src="__ADMIN__/images/image.gif" onmouseover="layer.tips('<img src=__PUBLIC__/{{d.thumb}}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();">{{# } }}
</script>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="posid" value="{{d.id}}" lay-skin="switch" lay-text="置顶|取消" lay-filter="sexDemo" {{ d.posid == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="action">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['table','form'], function() {
        var table = layui.table, $ = layui.jquery,form=layui.form;
        var tableIn = table.render({
            id: 'content',
            elem: '#app_list',
            url: '{:url("lists")}',
            method: 'post',
            page: true,
            cols: [[
                {field: 'id', title: 'ID', width: 80, fixed: true},
                {field: 'version', title: '版本号', width: 80},
                {field: 'desc', title: '版本描述',width:200},
                {field: 'down_url', title: '下载地址'},
                {field: 'add_time', title: '添加时间'},
                {width: 160, align: 'center', toolbar: '#action',title:'操作',fixed:'right'}
            ]],
            limit: 10
        });
        form.on('switch(sexDemo)', function(obj){
            var id = this.value;
            var field = 'posid';
            var value;
            if (obj.elem.checked == true){
                value = '1'
            }else{
                value = '0'
            }
            $.post('{:url("changefield")}',{id:id,field:field,value:value},function(res){
                if(res.code === 1){
                    layer.msg(res.msg, {time: 1000, icon: 1});
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            })
        });

        //搜索
        $('#search').on('click', function () {
            var key = $('#key').val();
            // if ($.trim(key) === '') {
            //     layer.msg('{:lang("pleaseEnter")}关键字！', {icon: 0});
            //     return;
            // }
            tableIn.reload({
                where: {key: key,catid:'{:input("catid")}'}
            });
        });
        $('body').on('blur','.list_order',function() {
            var id = $(this).attr('data-id');
            var listorder = $(this).val();
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post('{:url("listorder")}',{id:id,listorder:listorder},function(res){
                layer.close(loading);
                if(res.code === 1){
                    layer.msg(res.msg, {time: 1000, icon: 1});
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            })
        });
        table.on('tool(app_list)', function(obj) {
            var data = obj.data;
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if(obj.event === 'del'){
                layer.confirm('您确定要删除该内容吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('del')}",{id:data.id},function(res){
                        layer.close(loading);
                        if(res.code==1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });

    });
</script>