{include file="common/head"/}
<script src='__STATIC__/ueditor/ueditor.config.js'></script>
<script src='__STATIC__/ueditor/ueditor.all.js'></script>

<div style="margin: 15px;" class="fadeInUp animated">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>添加检测分类</legend>
    </fieldset>
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">父级</label>
            <div class="layui-input-4">
                <select name="pid" lay-verify="required" lay-filter="pid" >
                    <option value="0">默认顶级</option>
                    {volist name="jccategory" id="vo"}
                    <option value="{$vo.id}-{$vo.lvl}">{$vo.lefthtml}{$vo.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分类名称</label>
            <div class="layui-input-4">
                <input type="text" maxlength="100" name="name" lay-verify="required" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">检测依据</label>
            <div class="layui-input-4">
                <textarea name="jcyj" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-4">
                <input type="text" maxlength="500" name="desc" lay-verify="required" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分类状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" lay-filter="status" checked value="1" title="开启">
                <input type="radio" name="status" lay-filter="status" value="0" title="关闭">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-2">
                <input type="text" maxlength="10" name="sort" value="50" placeholder="{:lang('pleaseEnter')}排序编号" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="category">立即提交</button>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}

<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form,layer = layui.layer,$= layui.jquery;
        form.on('submit(category)', function (data) {
            // 提交到方法 默认为本身
            $.post("{:url('add')}",data.field,function(res){
                if(res.code > 0){
                    layer.msg(res.msg,{time:1000,icon:1});
                    location.reload();
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });
        })
    });
</script>