{include file="common/head"/}
<div style="margin: 15px;" class="fadeInUp animated">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>编辑检测分类</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">

    </blockquote>
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">分类名称</label>
            <div class="layui-input-4">
                <input type="text" maxlength="100" name="name" lay-verify="required" placeholder="" class="layui-input" value="{$info.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分类状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" lay-filter="status" checked value="1" title="开启">
                <input type="radio" name="status" lay-filter="status" value="0" title="关闭">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-2">
                <input type="text" maxlength="10" name="sort" value="50" placeholder="{:lang('pleaseEnter')}排序编号" class="layui-input">
            </div>
        </div>
        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">检测依据</label>-->
            <!--<div class="layui-input-4">-->
                <!--<textarea name="jcyj" class="layui-textarea">{$info.jcyj}</textarea>-->
            <!--</div>-->
        <!--</div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-4">
                <input type="text" maxlength="500" name="desc" value="{$info.desc}" lay-verify="required" placeholder="" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$info.id}">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form,layer = layui.layer,$= layui.jquery;
        form.on('submit(submit)', function (data) {
            // 提交到方法 默认为本身
            $.post("{:url('edit')}",data.field,function(res){
                if(res.code == 1){
                    layer.msg(res.msg,{time:3000,icon:1});
                }else{
                    layer.msg(res.msg,{time:3000,icon:2});
                }
            });
        })
    });
</script>