{include file="common/head"/}
{include file="common/foot"/}
<script src="__STATIC__/common/js/jquery.2.1.1.min.js"></script>
<script src="__STATIC__/ueditor/ueditor.config.js" type="text/javascript"></script>
<script src="__STATIC__/ueditor/ueditor.all.min.js" type="text/javascript"></script>
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form" method="post">
        {if condition="$info['id'] neq ''"}<input TYPE="hidden" name="id" value="{$info.id}">{/if}
        <div class="layui-form-item">
            <label class="layui-form-label">项目标题</label>
            <div class="layui-input-4">
                <input type="text" maxlength="100" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                       class="layui-input" value="{$info.title}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">缩略图</label>
            <div class="layui-input-4">
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo1" src="__PUBLIC__/{$info.thumb}">
                        <p id="demoText"></p>
                    </div>
                    <input type="hidden" name="thumb" id="thumb">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属分类</label>
            <div class="layui-input-4">
                <select name="catid" lay-verify="required">
                    <option value=""></option>

                    {volist name="category" id="vo"}
                    {eq name="vo.id" value="$info.catid"}
                    <option value="{$vo.id}" selected>{$vo.lefthtml}{$vo.name}</option>
                    {else /}
                    <option value="{$vo.id}">{$vo.lefthtml}{$vo.name}</option>
                    {/eq}
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">检测依据</label>
            <div class="layui-input-4">
                <textarea type="text" name="keywords" class="layui-textarea">{$info.keywords}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">简要描述</label>
            <div class="layui-input-4">
                <textarea type="text" name="description" class="layui-textarea">{$info.description}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">项目详情</label>
            <div class="layui-input-4">
                <textarea name="content" id="content" cols="30" rows="10">{$info.content}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                {if condition="MODULE_NAME eq 'page'"}
                <a href="{:url('category/index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
                {else /}
                <a href="{:url('index')}" class="layui-btn layui-btn-primary">
                    {:lang('back')}
                </a>
                {/if}
            </div>
        </div>
    </form>
</div>
<script>
    //Demo
    layui.use(['form','upload'], function(){
        var form = layui.form
            ,upload = layui.upload;
        form.render(); //更新全部
        form.render('select'); //刷新select选择框渲染
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '{:url("UpFiles/upload")}'
            ,done: function(res){
                console.log(res);
                $('#demo1').attr('src', "__PUBLIC__"+res.url);
                $('#thumb').val(res.url);
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        //监听提交
        form.on('submit(submit)', function(data){
            $.post("{:url('edithandle')}",data.field,function(res){
                if(res.code > 0){
                    layer.msg(res.msg,{time:1000,icon:1});
                    form.render();
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });
            return false;
        });
    });
    var ue = UE.getEditor('content');
</script>
