{include file="common/head"/}
<body>
<div class="header" style="background: url('/public/style/images/login-header-qhc.jpg')">
    <div class="main">
        <a class="logo" href="{:url('index/index')}" title="航天标检-河南航天精工制造有限公司研究检测分公司"></a>
    </div>
</div>

<div class="main layui-clear" style="padding-top:50px;">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
            <li class="layui-this">邮箱找回密码</li>
            <li class="">手机号找回密码</li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <form method="post">
                            <div class="layui-form-item">
                                <label for="L_email" id="phone" class="layui-form-label">邮　　箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" maxlength="60" id="L_email" name="email" lay-verify="required" placeholder="请输入邮箱帐号" autocomplete="off" class="layui-input">
                                    <input type="hidden" id="type" name="type" value="">
                                </div>
                                <button type="button" class="layui-btn layui-btn-normal" id="sentEmail">发送</button>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_vercode" class="layui-form-label">验  证  码</label>
                                <div class="layui-input-inline">
                                    <input type="text" maxlength="6" id="L_vercode" name="code" lay-verify="required" placeholder="请输入您收到的验证码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">密　　码</label>
                                <div class="layui-input-inline">
                                    <input type="password" maxlength="30" id="L_pass" name="password" lay-verify="required" placeholder="8-30字母数字特殊字符组合" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_repass" class="layui-form-label">确认密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" maxlength="30" id="L_repass" name="password2" lay-verify="required" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button type="button" class="layui-btn" lay-filter="sub" lay-submit>提交</button>
                                <span style="padding-left:20px;"><a href="{:url('index')}">登录</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"/}
<script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/crypto-js.js"></script>
<script src="__STATIC__/common/js/sms.js"></script>
<script>

    layui.use(['element','layer','form'], function(){
        var element = layui.element
            ,layer = layui.layer,$ = layui.jquery,
            form = layui.form,
            index_type = 0;

        element.on('tab(user)', function(data){
            // layer.msg('切到到了'+ data.index + '：' + this.innerHTML);
            $('#type').val(data.index);
            console.log(data.index);
            index_type = data.index;
            if (data.index == 1){
                $('#phone').html('手机号');
                $('#L_email').attr('placeholder','请输入手机号');
            } else{
                 $('#phone').html('邮　　箱');
                $('#L_email').attr('placeholder','请输入邮箱帐号');

            }

        });

        $('#sentEmail').click(function () {
            var email = $('#L_email').val();
            var loading = layer.load(1, {shade: [0.1, '#fff']});

            if (index_type==1){
                $.post("{:url('Sendsms')}",{email:email,type:'phone'},function(res){
                    layer.close(loading);
                    if(res.code > 0){
                        layer.msg(res.msg,{time:1000,icon:2});
                    }else{
                        layer.msg(res.msg,{time:1000,icon:2});
                    }
                });

            } else{
                $.post("{:url('sendEmail')}",{email:email},function(res){
                    layer.close(loading);
                    // if(res.code > 0){
                    //     layer.msg(res.msg,{time:1000,icon:1});
                    // }else{
                    //     layer.msg(res.msg,{time:1000,icon:2});
                    // }
                    layer.msg(res.msg,{time:1000,icon:1});
                });
            }
        });

        // 登录提交监听
        form.on('submit(sub)', function (data) {
            if(data.field.password != data.field.password2){
                layer.msg('两次密码不一致');
                return false;
            }
            var reg_pass = new RegExp('(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,30}');
            if(!reg_pass.test(data.field.password)){
                layer.msg('密码为8-30个字母数字特殊字符组合');
                return false;
            }
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            var $ = layui.jquery;
            var type = $('#type').val();
            if(type == 0){
                var datas = {'datas': _encrypt(JSON.stringify(data.field))};
                $.post("{:url('forget')}",datas,function(res){
                    layer.close(loading);
                    if(res.code > 0){
                        layer.msg(res.msg,{time:1800,icon:1},function(){
                            location.href = "{:url('index/index')}";
                        });
                    }else{
                        layer.msg(res.msg,{time:1800,icon:2});
                    }
                });
            }
            if(type == 1){
                if(!(/^1[3456789]\d{9}$/.test(data.field.email))){
                    layer.close(loading);
                    layer.msg('手机号码格式错误');
                    return false;
                }
                var datas = {'datas': _encrypt(JSON.stringify(data.field))};
                $.post("{:url('forget_by_mobile')}",datas,function(res){
                    layer.close(loading);
                    if(res.code > 0){
                        layer.msg(res.msg,{time:1800,icon:1},function(){
                            location.href = "{:url('index/index')}";
                        });
                    }else{
                        layer.msg(res.msg,{time:1800,icon:2});
                    }
                });
            }
        })
    })
</script>
</body>
</html>