{include file="common/head"/}
<body style="background:url('__STYLE__/images/login-qhc.jpg') no-repeat 0px -150px">
<div class="header" style="background: url('__STYLE__/images/login-header-qhc.jpg')">
    <div class="main">
        <a class="logo" href="{:url('index/index')}" title="航天标检-河南航天精工制造有限公司研究检测分公司"></a>
        <div class="nav-user">
        </div>
    </div>
</div>
<div class="layui-container" style="padding-top:70px;margin-bottom:70px;">
    <div class="layui-row">
        <div class="layui-col-xs4 layui-col-xs-offset8">
            <div class="box" style="background-color: #fff;width: 100%;padding:30px 15px 30px;">
                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li class="layui-this">用户登录</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <div class="layui-form layui-form-pane">
                                <form method="post">
                                    <div class="layui-form-item">
                                        <label for="username" class="layui-form-label">帐　号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" maxlength="11" id="username" name="username" required
                                                   lay-verify="required" placeholder="请输入邮箱或者手机号" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label for="L_pass" class="layui-form-label">密　码</label>
                                        <div class="layui-input-inline">
                                            <input type="password" maxlength="30" id="L_pass" name="password" required
                                                   lay-verify="required" placeholder="请输入密码" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <button type="button" class="layui-btn" id="sub" lay-filter="sub" lay-submit>立即登录
                                        </button>
                                        <span style="padding-left:20px;">
                                    <a href="{:url('forget')}">忘记密码？</a>
                                    <a href="{:url('user/login/reg')}">立即注册</a>
                                </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="common/footer"/}
<script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/crypto-js.js"></script>
<script src="__STATIC__/common/js/sms.js"></script>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form, $ = layui.jquery;
        document.onkeydown = function (e) { // 回车提交表单
            var theEvent = window.event || e;
            var code = theEvent.keyCode || theEvent.which;
            if (code == 13) {
                $("#sub").click(); // #sub 是你 提交按钮的ID
            }
        }
        // 登录提交监听
        form.on('submit(sub)', function (data) {
            var datas = {'datas': _encrypt(JSON.stringify(data.field))};
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post("{:url('index')}", datas, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1000, icon: 1}, function () {
                        location.href = "{:url('index/index')}";
                    });
                } else {
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            });
        })
    })
</script>
<script>
    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabAdd: function () {
                //新增一个Tab项
                element.tabAdd('demo', {
                    title: '新选项' + (Math.random() * 1000 | 0) //用于演示
                    , content: '内容' + (Math.random() * 1000 | 0)
                    , id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                })
            }
            , tabDelete: function (othis) {
                //删除指定Tab项
                element.tabDelete('demo', '44'); //删除：“商品管理”


                othis.addClass('layui-btn-disabled');
            }
            , tabChange: function () {
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function (elem) {
            location.hash = 'test=' + $(this).attr('lay-id');
        });

    });
</script>
</body>
</html>
