{include file="common/head"/}
<style>
    .captcha {
        margin: 0;
        padding: 0;
        border: 0px solid #eee;
    }
    .layui-form-mid {
        float: left;
        display: block;
        padding: 0px 0!important;
        margin-right: 0px;
    }
</style>
<body>
<div class="header" style="background: url('__STYLE__/images/login-header-qhc.jpg');">
    <div class="main">
        <a class="logo" href="{:url('index/index')}" title="航天标检-河南航天精工制造有限公司研究检测分公司"></a>
    </div>
</div>

<div class="main layui-clear" style="padding-top:50px">
    <div class="fly-panel fly-panel-user" pad20 style="padding-top:50px">
        <!--<div id="step"></div>-->
        <div class="layui-container-fluid" style="margin-top:50px">
            <div class="layui-row">
                <div class="layui-col-xs6 layui-col-md-offset3">
                    <form class="layui-form layui-form-pane" action="">
                        <div id="step0" style="display: block">
                            <!--<div class="layui-form-item" pane="">-->
                                <!--<label class="layui-form-label">注册类型</label>-->
                                <!--<div class="layui-input-block">-->
                                    <!--<input type="radio" name="type" value="1" title="个人用户" checked="">-->
                                    <!--<div class="layui-unselect layui-form-radio layui-form-radioed">-->
                                        <!--<i class="layui-anim layui-icon"></i>-->
                                        <!--<div>个人用户</div>-->
                                    <!--</div>-->
                                    <!--<input type="radio" name="type" value="2" title="企业用户">-->
                                    <!--<div class="layui-unselect layui-form-radio">-->
                                        <!--<i class="layui-anim layui-icon"></i>-->
                                        <!--<div>企业用户</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="layui-form-item">
                                <label class="layui-form-label">手机</label>
                                <div class="layui-input-block">
                                    <input type="text" name="mobile" maxlength="11" required="" lay-verify="required" placeholder="" id="mobile" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-block">
                                    <input type="text" name="username" maxlength="30" required="" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">密  码</label>
                                <div class="layui-input-block">
                                    <input type="password" name="password" maxlength="30" required="" lay-verify="required" placeholder="密码为8-30个字母数字特殊字符组合" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">确认密码</label>
                                <div class="layui-input-block">
                                    <input type="password" maxlength="30" name="password2" required="" lay-verify="required" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">图形验证码</label>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input maxlength="6" type="text" name="vercode" placeholder="" autocomplete="off" onblur="" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid captcha">
                                        <img src="{:captcha_src()}" alt="captcha" onclick="this.src=this.src+'?'+'id='+Math.random()"/>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="layui-form-item">-->
                                <!--<div class="layui-inline">-->
                                    <!--<label class="layui-form-label">手机验证码</label>-->
                                    <!--<div class="layui-input-inline" style="width: 100px;">-->
                                        <!--<input type="text" onblur="check_Sms(this)" name="smscode" id="smscode" placeholder="" autocomplete="off" class="layui-input">-->
                                    <!--</div>-->
                                    <!--<div class="layui-input-inline" style="width: 100px;">-->
                                        <!--<a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-danger" id="send">获取验证码</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="btns" style="magin-top:50px;text-align: center">
                            <button type="button" id="submit" class="layui-btn layui-btn-block" lay-filter="sub" lay-submit>
                                立即注册
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"/}
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="__STYLE__/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="__STYLE__/js/step.js"></script>
<script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/crypto-js.js"></script>
<script src="__STATIC__/common/js/sms.js"></script>
<script type="text/javascript">

    function checkcode(obj){
        var code = obj.value;
        $.post("{:url('checkcode')}",{code:code},function(res){
            if(res.code == 0){
                layer.msg(res.msg,{time:1000,icon:2});
            }
        });
    }
    // function check_Sms(obj){
    //     var code = obj.value;
    //     $.post("{:url('checksmscode')}",{smscode:smscode},function(res){
    //         if(res.code != 0){
    //             location.reload();
    //         }
    //     });
    // }
    $('#send').click(function(){
        var phone = $('#mobile').val();  //获取输入的手机号码
        if (phone == ''){
            layer.msg('手机号码不能为空');
            location.reload();
        }
        if(!$('#send').hasClass('layui-btn-primary')){  //判断是否有这个class名字
            $('#send').addClass('layui-btn layui-btn-sm layui-btn-primary');
            $('#send').removeClass('layui-btn-danger');
            $.post("{:url('Login/Sendsms')}",{mobile:phone},  //发起请求
                function(data){
                    if(data.code==1){
                        layer.msg("发送成功");
                        var leftTime = 60;
                        var timer = setInterval(function(){  //倒计时
                            $('#send').text(leftTime+'秒');
                            leftTime--;
                            if(leftTime==0){ //重新发送
                                clearInterval(timer);
                                $('#send').removeClass('layui-btn-primary').text('重新获取');
                                // $('#send').addClass('layui-btn-disabled');
                            }
                        },1000);
                    }else{
                        $('#send').removeClass('layui-btn-disabled').text('重新获取');
                        $('#send').addClass('layui-btn-primary');
                    }
                }
            ).error(
                function(){ //发送失败
                    $('#send').removeClass('layui-btn-disabled').text('重新获取');
                    $('#send').addClass('layui-btn-primary');
                }
            );
        }
    });

    layui.use(['form', 'layer'], function () {
        var form = layui.form,$ = layui.jquery;
        document.onkeydown = function (e) { // 回车提交表单
            var theEvent = window.event || e;
            var codenum = theEvent.keyCode || theEvent.which;
            if (codenum == 13) {
            $("#submit").click(); // #sub 是你 提交按钮的ID
            }
        }
        // 登录提交监听
        form.on('submit(sub)', function (data) {
            if(!(/^1[3456789]\d{9}$/.test(data.field.mobile))){
                layer.msg('手机号码格式错误');
                return false;
            }
            if(data.field.password != data.field.password2){
                layer.msg('两次密码不一致');
                return false;
            }
            var reg_pass = new RegExp('(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,30}');
            if(!reg_pass.test(data.field.password)){
                layer.msg('密码为8-30个字母数字特殊字符组合');
                return false;
            }
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            var datas = {'datas': _encrypt(JSON.stringify(data.field))};
            $.post("{:url('reg')}",datas,function(res){
                layer.close(loading);
                if(res.code > 0){
                    layer.msg(res.msg,{time:1000,icon:1},function(){
                        location.href = "{:url('index/index')}";
                    });
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });
        })
    })
</script>
</body>
</html>