{include file="common/head"/}
{include file="common/foot"/}
<script src="__STATIC__/common/js/jquery.2.1.1.min.js"></script>
<script src="__STATIC__/ueditor/ueditor.config.js" type="text/javascript"></script>
<script src="__STATIC__/ueditor/ueditor.all.min.js" type="text/javascript"></script>
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form" method="post">
        {if condition="$info['id'] neq ''"}<input TYPE="hidden" name="id" value="{$info.id}">{/if}
        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">标题</label>-->
            <!--<div class="layui-input-4">-->
                <!--<input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" value="{$info.title}">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">批次号</label>-->
            <!--<div class="layui-input-4">-->
                <!--<input type="text" name="tatchsn" value="{$info.tatchsn}" placeholder="请输入批次号" autocomplete="off" class="layui-input">-->
            <!--</div>-->
        <!--</div>-->

        <div class="layui-form-item">
            <label class="layui-form-label">报告编号</label>
            <div class="layui-input-4">
                <input type="text" maxlength="100" name="reportsn" value="{$info.reportsn}" placeholder="请输入报告编号" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
<script>
    //Demo
    layui.use(['form','upload'], function(){
        var form = layui.form
            ,upload = layui.upload;
        form.render(); //更新全部
        form.render('select'); //刷新select选择框渲染
        //监听提交
        form.on('submit(submit)', function(data){
            $.post("{:url('edithandle')}",data.field,function(res){
                if(res.code > 0){
                    layer.msg(res.msg, {time: 1000, icon: 1}, function () {
                        location.href = res.url;
                    });
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });
            return false;
        });
    });
    var ue = UE.getEditor('content');
</script>
