{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{:lang('list')}</legend>
    </fieldset>
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
        </div>
        <button class="layui-btn" id="search" data-type="reload">{:lang('search')}</button>
        <div style="clear: both;"></div>
    </div>
    <ul class="layui-tab-title">
        <li class="layui-this" lay-id="0">未受理</li>
        <li class="" lay-id="1">受理中</li>
        <li class="" lay-id="2">已完成</li>
        <li class="" lay-id="5">已支付</li>
        <li class="" lay-id="6">已公开</li>
        <li class="" lay-id="7">申请退单</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <table id="table0" lay-filter="test"></table>
        </div>
        <div class="layui-tab-item">
            <table id="table1" lay-filter="test"></table>
        </div>
        <div class="layui-tab-item">
            <table id="table2" lay-filter="test"></table>
        </div>
        <div class="layui-tab-item">
            <table id="table3" lay-filter="test"></table>
        </div>
        <div class="layui-tab-item">
            <table id="table4" lay-filter="test"></table>
        </div>
        <div class="layui-tab-item">
            <table id="table5" lay-filter="test"></table>
        </div>

    </div>
</div>
</div>
<script type="text/html" id="action">
    {{# if(d.apply_refund != 1){ }}
    <a  class="layui-btn layui-btn-xs" lay-event="read">进度</a>
    <a  class="layui-btn layui-btn-xs" lay-event="read">详情</a>
    <!--<a  class="layui-btn layui-btn-xs" lay-event="waibao">外包</a>-->
    <a  class="layui-btn layui-btn-xs" lay-event="public">公开</a>
    <a  class="layui-btn layui-btn-xs" lay-event="shouli">受理</a>
    <a  class="layui-btn layui-btn-xs" lay-event="del">删除</a>
    {{# if(d.status != '已公开'){ }}
    <a href="{:url('edit')}?id={{d.id}}" class="layui-btn layui-btn-xs">编辑</a>
    {{# } }}
    {{# } }}
    {{# if(d.apply_refund == 1){ }}

    <a  class="layui-btn layui-btn-xs" lay-event="through">通过</a>
    <a  class="layui-btn layui-btn-xs" lay-event="refuse">拒绝</a>
    <a href="{:url('edit')}?id={{d.id}}" class="layui-btn layui-btn-xs">编辑</a>
    {{# } }}
</script>
<div id="show" style="display:none;">
    <div class="layui-container-fluid" style="padding:20px">
        <div class="layui-row pd30">
            <div class="layui-col-xs5">
                <blockquote class="layui-elem-quote">送检单位信息</blockquote>
                <p>需求标题：<span id="title"></span></p>
                <p>截止时间：<span id="endtime"></span></p>
                <p>邮政编码：<span id="code"></span></p>
                <p>发布公司：<span id="company"></span></p>
                <p>公司地址：<span id="address"></span></p>
                <p>联系人：<span id="r_name"></span></p>
                <p>联系电话：<span id="r_phone"></span></p>
                <p>样品材质：<span id="caizhi"></span></p>
                <p>样品型号：<span id="xinghao"></span></p>
                <p>样品其他：<span id="other"></span></p>
                <!--<p>样品数量：<span id="num"></span></p>-->
                <p>检测要求：<span id="content"></span></p>
                <p>测试项目：<span id="jc"></span></p>

            </div>
            <div class="layui-col-xs4 layui-col-xs-offset3">
                <blockquote class="layui-elem-quote">送检商务要求</blockquote>
                <p>处理方式：<span id="chuli_type"></span></p>
                <p>开具发票：<span id="receipt"></span></p>
                <!--<p>资质要求：<span id="intelligence"></span></p>-->
                <p>接受分包：<span id="subpackage"></span></p>
                <!--<p>报告版式：<span id="format"></span></p>-->
                <p>报告方式：<span id="way"></span></p>
                <p>是否加急：<span id="urgent"></span></p>
                <p>相关附件：<span id="files"></span></p>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs7">
                <table id="order_jindu" lay-filter="jindu"></table>
            </div>
            <div class="layui-col-xs4 layui-col-xs-offset1">
                <form class="layui-form layui-form-pane" action="" id="add_jindu">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">添加项目进度</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" name="desc" class="layui-textarea" lay-verify="required" id="desc"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="radio" name="status" value="订单已受理" title="订单已受理">
                            <input type="radio" name="status" value="试验中" title="试验中">
                            <input type="radio" name="status" value="试验已完成" title="试验已完成">
                            <input type="radio" name="status" value="报告已上传" title="报告已上传">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <button type="button" class="layui-btn" id="test2">附件上传</button>
                        <input type="hidden" name="file" id="file">
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            <img class="layui-upload-img" id="demo1">
                            <p id="demoText"></p>
                        </blockquote>
                    </div>
                    <div class="layui-form-item">
                        <input type="hidden" name="order_id" id="order_id">
                        <button class="layui-btn" lay-submit="" lay-filter="add_jindu">提交</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs7">

                <script type="text/html" id="jindu_del">
                    {{#  if(d.file != ''){ }}
                    <a  class="layui-btn layui-btn-xs" lay-event="down">下载报告</a>
                    {{#  } }}
                    <a  class="layui-btn layui-btn-xs" lay-event="del_jindu">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>
<div id="tanchuceng" style="display: none">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">受理订单</li>
            <li>拒绝受理</li>

        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                订单金额: <input type="area" class="layui-input" placeholder="请填写订单金额" id="price">
                实验周期:<input type="area" class="layui-input" placeholder="请填写试验周期" id="time">
                实验地址: <input type="area" class="layui-input" placeholder="请填写实验室地址" id="addr">
                联系方式:<input type="area" class="layui-input" placeholder="请填写实验室联系方式" id="phone">
                <input type="hidden" id="o_id" value="">
                <button class="layui-btn layui-btn-lg" onclick="order()" style="display: block;margin: auto">受理订单</button>

            </div>
            <div class="layui-tab-item">

                <input type="area" class="layui-textarea" id="info">
                <input type="hidden" id="orderid" value="">
                <input type="hidden" name="index_val" value="0">
                <button class="layui-btn layui-btn-lg" onclick="info()">拒绝订单</button>

            </div>

        </div>
    </div>
</div>
{include file="common/foot"/}
<script>
    var posid = '';
    layui.use(['element','table', 'layer','form','upload'], function(){
        var element = layui.element
            ,$ = layui.jquery
            ,layer = layui.layer
            ,table= layui.table
            ,form = layui.form
            ,upload = layui.upload;
        var table0 = '';
        var table1 = '';
        var table2 = '';
        var table3 = '';
        var table4 = '';
        var table5 = '';
        var read = '';
        var table_jindu;
        element.on('tab(docDemoTabBrief)', function(data){
            console.log(data);
            var  index = data.index;
            $('input[name="index_val"]').val(index);
            var tableIn = table.render({
                elem: '#table'+ index
                ,url: "{:url('ajax_order')}"+"?type=" + index //数据接口
                ,page: true //开启分页
                ,limit:10
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', width:10,align:'center'}
                    ,{field: 'title', title: '需求标题', width:100,align:'left'}

                    ,{field: 'tatchsn', title: '批次号', width: 180,align:'center'}
                    ,{field: 'reportsn', title: '报告编号', width:160,align:'center'}
                    ,{field: 'order_Sn', title: '订单编号', width:160,align:'center'}
                    ,{field: 'company', title: '公司', width:160,align:'center'}
                    ,{field: 'r_name', title: '姓名', width: 100, align:'center'}
                    ,{field: 'endtime', title: '截止时间', width:100, sort: true,align:'center'}
                    ,{field: 'chuli_type', title: '处理方式', width: 100,align:'center'}
                    ,{field: 'receipt', title: '开票', width: 80,align:'center'}
                    ,{field: 'subpackage', title: '分包', width: 80,align:'center'}
                    ,{field: 'price', title: '报价', width: 180,align:'center'}

                    ,{field: 'format', title: '版式', width: 180,align:'center'}
                    ,{field: 'way', title: '方式', width: 180,align:'center'}
                    ,{field: 'urgent', title: '加急', width: 80,align:'center'}
                    ,{field: 'status', title: '状态', width: 80,align:'center'}
                    ,{width: '320', align: 'center', toolbar: '#action',fixed:'right'}
                ]]
            });
            console.log(tableIn);
            if(index == 0) table0 = tableIn;
            if(index == 1) table1 = tableIn;
            if(index == 2) table2 = tableIn;
            if(index == 3) table3 = tableIn;
            if(index == 4) table4 = tableIn;
            if(index == 5) table5 = tableIn;
        });
        var table0 = table.render({
            elem: '#table0'
            ,url: "{:url('ajax_order')}" //数据接口
            ,page: true //开启分页
            ,limit:10
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width:10,align:'center'}
                ,{field: 'title', title: '需求标题', width:100,align:'left'}

                ,{field: 'tatchsn', title: '批次号', width: 180,align:'center'}
                ,{field: 'reportsn', title: '报告编号', width:160,align:'center'}
                ,{field: 'order_Sn', title: '订单编号', width:160,align:'center'}
                ,{field: 'company', title: '公司', width:160,align:'left'}
                ,{field: 'r_name', title: '姓名', width: 100, align:'center'}
                ,{field: 'endtime', title: '截止时间', width:100, sort: true,align:'center'}
                ,{field: 'chuli_type', title: '处理方式', width: 100,align:'center'}
                ,{field: 'receipt', title: '开票', width: 80,align:'center'}
                ,{field: 'subpackage', title: '分包', width: 80,align:'center'}
                ,{field: 'price', title: '报价', width: 180,align:'center'}

                ,{field: 'format', title: '版式', width: 180,align:'center'}
                ,{field: 'way', title: '方式', width: 180,align:'center'}
                ,{field: 'urgent', title: '加急', width: 80,align:'center'}
                ,{field: 'status', title: '状态', width: 80,align:'center'}
                ,{width: '320', align: 'center', toolbar: '#action',fixed:'right'}
            ]]
        });

        table.on('tool(test)', function (obj) {
            console.log(obj);
            var data = obj.data;
            if (obj.event === 'read') {
                //data.id
                read = layer.open({
                    type: 1
                    , title: '订单详情' //不显示标题栏
                    , closeBtn: 1
                    , shade: 0.8
                    , anim: 2
                    , maxmin: true
                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    , moveType: 1 //拖拽模式，0或者1
                    , content: $('#show')
                    , success: function (layero) {
                        posid= data.id;
                        $("#order_id").val(posid);
                        $.post("{:url('show')}", {id: posid}, function (data) {
                            if (data.code == 1) {
                                $('#title').text(data.data.title?data.data.title:'无');
                                $('#endtime').text(data.data.endtime>0?datetime_format(data.data.endtime):'无');
                                $('#code').text(data.data.code?data.data.code:'无');
                                $('#company').text(data.data.company?data.data.company:'无');
                                $('#address').text(data.data.address?data.data.address:'无');
                                $('#r_name').text(data.data.r_name?data.data.r_name:'无');
                                $('#r_phone').text(data.data.r_phone?data.data.r_phone:'无');
                                $('#r_address').text(data.data.r_address?data.data.r_address:'无');
                                $('#chuli_type').text(data.data.chuli_type?data.data.chuli_type:'无');
                                $('#receipt').text(data.data.receipt?data.data.receipt:'无');
                                // $('#intelligence').text(data.data.intelligence?data.data.intelligence:'');
                                $('#subpackage').text(data.data.subpackage?data.data.subpackage:'无');
                                $('#format').text(data.data.format?data.data.format:'无');
                                $('#way').text(data.data.way?data.data.way:'无');
                                $('#caizhi').text(data.data.caizhi?data.data.caizhi:'无');
                                $('#xinghao').text(data.data.xinghao?data.data.xinghao:'无');
                                $('#other').text(data.data.other?data.data.other:'无');
                                $('#num').text(data.data.num?data.data.num:'无');
                                $('#content').text(data.data.content?data.data.content:'无');
                                $('#jc').html(data.data.jc);
                                $('#urgent').html(data.data.urgent);
                                if(data.data.file){
                                    $('#files').html('<a style="color:#23c0fb" href="/public'+data.data.file+'">点此下载</a>');
                                }
                                //显示项目详情
                                table.render({
                                    elem: '#table'
                                    , url: "{:url('ajax_order_show')}"+"?id=" + posid//数据接口
                                    , page: true //开启分页
                                    , cols: [[ //表头
                                        {field: 'id', title: 'ID', width: 120, align: 'center',event:'show'}
                                        , {field: 'order_id', title: '订单号', width: 120, align: 'left',event:'show'}
                                        , {field: 'area', title: '三级分类', width: 180, sort: true, align: 'center',event:'show'}
                                        , {field: 'caizhi', title: '材质', width: 150, align: 'center',event:'show'}
                                        , {field: 'xinghao', title: '型号', width: 120, align: 'center',event:'show'}
                                        , {field: 'other', title: '其他', width: 120, align: 'center',event:'show'}
                                        , {field: 'content', title: '检测要求', width: 380, align: 'left',event:'show'}
                                        // , {field: 'num', title: '样品数量', width: 180, align: 'center',event:'show'}
                                        , {field: 'status', title: '检测进度', width: 120, align: 'center',event:'show'}
                                    ]]
                                });
                                //进度
                                table_jindu = table.render({
                                    elem: '#order_jindu'
                                    , url: "{:url('jindulist')}"+"?id=" + posid//数据接口
                                    , page: true //开启分页
                                    , cols: [[ //表头
                                        {field: 'id', title: 'ID', width: 50, align: 'center',event:'show'}
                                        , {field: 'desc', title: '进度信息', width: 200, align: 'left',event:'show'}
                                        , {field: 'status', title: '状态', width: 120, align: 'left',event:'show'}
                                        , {field: 'time', title: '添加时间', align: 'center',event:'show',width: 160}
                                        ,{align: 'center', title: '操作',toolbar: '#jindu_del',width:200,fixed:'right'}
                                    ]]
                                });
                            }
                        })
                    }
                });
                layer.full(read);
            }
            if (obj.event === 'waibao') {
                var posid=data.id;
                layer.prompt({
                    formType: 0,
                    value: '',
                    title: '请输入实验室ID',
                    area: ['800px', '350px'] //自定义文本域宽高
                }, function(value, index, elem){
                    $.post("{:url('Xuqiu/waibao')}", {id:posid,user_id:value}, function (res) {
                        if (res.code > 0){
                            layer.msg(res.msg);
                            if(table5 != '') table5.reload();
                            if(table4 != '') table4.reload();
                            if(table3 != '') table3.reload();
                            if(table2 != '') table2.reload();
                            if(table1 != '') table1.reload();
                            if(table0 != '') table0.reload();
                        }else{
                            layer.msg(res.msg);
                        }
                    });
                    layer.close(index);
                });
            }
            if (obj.event === 'public') {

                layer.confirm('确定公开吗？', function(){
                    var posid=data.id;
                    $.post("{:url('Xuqiu/gongkai')}", {id:posid}, function (res) {
                        if (res.code > 0){
                            layer.msg(res.msg);
                            if(table5 != '') table5.reload();
                            if(table4 != '') table4.reload();
                            if(table3 != '') table3.reload();
                            if(table2 != '') table2.reload();
                            if(table1 != '') table1.reload();
                            if(table0 != '') table0.reload();
                        }else{
                            layer.msg(res.msg);
                        }
                    });
                    layer.close(index);

                });
            }
            if (obj.event === 'del') {

                layer.confirm('确定删除吗？', function(){
                    var posid=data.id;
                    $.post("{:url('Xuqiu/delete_xuqiu')}", {id:posid}, function (res) {
                        if (res.code > 0){
                            layer.msg(res.msg);
                            if(table5 != '') table5.reload();
                            if(table4 != '') table4.reload();
                            if(table3 != '') table3.reload();
                            if(table2 != '') table2.reload();
                            if(table1 != '') table1.reload();
                            if(table0 != '') table0.reload();
                        }else{
                            layer.msg(res.msg);
                        }
                    });
                    layer.close(index);

                });
            }
            if (obj.event === 'shouli') {
                var posid=data.id;
                $('#o_id').val(posid);
                $('#orderid').val(posid);
                var index = layer.open({
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['350px', '360px'], //宽高
                    content: $('#tanchuceng') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                });

                // layer.tab({
                //     area: ['600px', '300px'],
                //     tab: [{
                //         title: '受理需求',
                //         content: '<form class="layui-form" action="">\n' +
                //         '        <div class="layui-form-item">\n' +
                //         '          <label class="layui-form-label">输入框</label>\n' +
                //         '          <div class="layui-input-block">\n' +
                //         '            <input type="text" name="title" required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" data-form-un="1526443087087.4587">\n' +
                //         '          </div>\n' +
                //         '        </div>'+
                //         '        <div class="layui-form-item">\n' +
                //         '          <label class="layui-form-label">输入框</label>\n' +
                //         '          <div class="layui-input-block">\n' +
                //         '            <input type="text" name="title" required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" data-form-un="1526443087087.4587">\n' +
                //         '          </div>\n' +
                //         '        </div>'+
                //             '</form>'
                //
                //     }, {
                //         title: '拒绝需求',
                //         content: $('#jujue')
                //     }]//自定义文本域宽高
                // }, function(value, index, elem){
                //     $.post("{:url('Xuqiu/waibao')}", {id:posid,user_id:value}, function (res) {
                //         if (res.code > 0){
                //             layer.msg(res.msg);
                //             location.reload();
                //         }else{
                //             layer.msg(res.msg);
                //         }
                //     });
                //     layer.close(index);
                // });
            }

            if (obj.event === 'through') {

                layer.confirm('确定通过吗？', function(){
                    var th_id=data.id;
                    $.post("{:url('Xuqiu/through_apply')}", {id:th_id}, function (res) {
                        if (res.code > 0){
                            layer.msg(res.msg);
                            table5.reload();
                            table4.reload();
                        }else{
                            layer.msg(res.msg);
                        }
                    });
                    layer.close(index);

                });
            }

            if (obj.event === 'refuse') {

                layer.confirm('确定拒绝吗？', function(){
                    var re_id=data.id;
                    $.post("{:url('Xuqiu/refuse_apply')}", {id:re_id}, function (res) {
                        if (res.code > 0){
                            layer.msg(res.msg);
                            table5.reload();
                            table4.reload();
                        }else{
                            layer.msg(res.msg);
                        }
                    });
                    layer.close(index);

                });
            }

        });
        table.on('tool(jindu)', function (obj) {

            if (obj.event === 'del_jindu') {
                var data = obj.data;
                layer.confirm('您确定要删除吗？', function(index) {
                    $.post("{:url('del_jindu')}", {id: data.id}, function (res) {
                        if (res.code == 1) {
                            layer.msg(res.msg);
                            obj.del();
                        }
                    });
                });
            }else if(obj.event === 'down'){

                window.open('/public'+obj.data.file);
            }
        });
        var uploadInst = upload.render({
            elem: '#test2'
            ,url: "{:url('UpFiles/upImages')}"
            ,accept:'file'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else{
                    $("#file").val(res.src);
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        form.on('submit(add_jindu)', function (data) {
            var $form = $('#add_jindu');
            var tableIn = table.render();
            form.render();
            if(data.field.order_id == ''){
                layer.msg('请从左侧选择一个订单');
            }else{
                $.post("{:url('Xuqiu/addjindu')}", $form.serialize(), function (res) {
                    if (res.code > 0){
                        layer.msg('提交成功');
                    }else{
                        layer.msg('提交失败');
                    }
                    // layer.close(read); //再执行关闭

                    table_jindu.reload();
                    document.getElementById('add_jindu').reset();
                    $("input[name='file']").val("");

                    // location.reload();
                });
            }

            return false;
        });

        //搜索
        $('#search').on('click', function () {
            var key = $('#key').val();
            // if ($.trim(key) === '') {
            //     layer.msg('{:lang("pleaseEnter")}关键字！', {icon: 0});
            //     return;
            // }
            console.log(table1);
            table0.reload({
                where: {key: key,catid:'{:input("catid")}'}
            });
            table1.reload({
                where: {key: key,catid:'{:input("catid")}'}
            });
            table2.reload({
                where: {key: key,catid:'{:input("catid")}'}
            });
            table3.reload({
                where: {key: key,catid:'{:input("catid")}'}
            });
            table4.reload({
                where: {key: key,catid:'{:input("catid")}'}
            });
            table5.reload({
                where: {key: key,catid:'{:input("catid")}'}
            });
        });

    });
    function info() {
        var $ =layui.$;
        var id = $('#orderid').val();
        var info = $('#info').val();
        var status = 3;

        $.post("{:url('Xuqiu/shouli')}", {id:id,info:info,status:status}, function (res) {
            if (res.code > 0){
                layer.msg(res.msg);
                location.reload();
            }else{
                layer.msg(res.msg);
            }
        });
    }
    function order() {
        var $ =layui.$;
        var id = $('#o_id').val();
        var price = $('#price').val();
        var status = 1;
        var time = $('#time').val();
        var phone = $('#phone').val();
        var addr = $('#addr').val()
        $.post("{:url('Xuqiu/shouli')}", {id:id,price:price,status:status,time:time,phone:phone,addr:addr}, function (res) {
            if (res.code > 0){
                layer.msg(res.msg);
                location.reload();
            }else{
                layer.msg(res.msg);
            }
        });
    }
    function complete_zero(num){
        if(parseInt(num) < 10){
            num = '0'+num;
        }
        return num;
    }
    function datetime_format(sj) {

        var now = new Date(sj*1000);
        var   year=now.getFullYear();
        var   month=now.getMonth()+1;
        var   date=now.getDate();
        var   hour=now.getHours();
        var   minute=now.getMinutes();
        var   second=now.getSeconds();
        return   year+"-"+complete_zero(month)+"-"+complete_zero(date)+"   "+complete_zero(hour)+":"+complete_zero(minute)+":"+complete_zero(second);
    }
</script>