{include file="common/loginHead"/}

<div class="main fly-user-main layui-clear" style="width: 1500px">

    {include file="common/mymenu" /}

    <div class="fly-panel fly-panel-user" pad20 style="width: 1306px">
        <blockquote class="layui-elem-quote">检测项目</blockquote>
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">父级</label>
                <div class="layui-input-block">
                    <select name="jid" lay-verify="required" lay-filter="jid">
                        <option value="0">默认顶级</option>
                        {volist name="jccategory" id="vo"}
                        <option value="{$vo.id}-{$vo.lvl}">{$vo.lefthtml}{$vo.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">检测依据</label>
                <div class="layui-input-block">
                    <textarea name="jcyj" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <textarea name="desc" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="" class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input name="sort" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="category">立即提交</button>
                    <a href="{:url('lists')}" class="layui-btn layui-btn-primary">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="common/footer"/}
<script>
    layui.use(['element', 'table', 'layer', 'upload', 'form'], function () {
        var element = layui.element
            , $ = layui.jquery
            , layer = layui.layer
            , table = layui.table
            , upload = layui.upload
            , form = layui.form;
        form.on('submit(category)', function (data) {
            // 提交到方法 默认为本身
            $.post("{:url('add_xiangmu')}",data.field,function(res){
                if(res.code > 0){
                    layer.msg(res.msg,{time:1000,icon:1});
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });
        })
    });
</script>
</body>
</html>