{include file="common/loginHead"/}

<div class="main fly-user-main layui-clear" style="width: 1500px">

    {include file="common/mymenu" /}

    <div class="fly-panel fly-panel-user" pad20 style="width: 1306px">
        <blockquote class="layui-elem-quote">检测项目</blockquote>
        <form class="layui-form">
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <fieldset class="layui-elem-field">
                        <legend>单位信息</legend>
                        <div class="layui-form-item" style="margin-top: 20px">
                            <label class="layui-form-label">单位全称</label>
                            <div class="layui-input-inline">
                                <input type="text" maxlength="60" name="name" value="{$info.name}" class="layui-input" lay-verify="required">
                            </div>
                            {if $info['is_sm'] == 1 }
                            <div style="color: #FFB800">已认证</div>
                            {/if}
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">所属分类</label>
                            <div class="layui-input-inline">
                                <select name="catid" lay-filter="catid">
                                    <option value=""></option>
                                    {volist name="category" id="vo"}
                                    {eq name="info['catid']" value="$vo['id']"}
                                    <option value="{$vo.id}" selected>{$vo.name}</option>
                                    {else /}
                                    <option value="{$vo.id}">{$vo.name}</option>
                                    {/eq}
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">固定电话</label>
                            <div class="layui-input-inline">
                                <input type="text" maxlength="20" name="tel" value="{$info.tel}" class="layui-input" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">企业邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" maxlength="60" name="email"  value="{$info.email}" class="layui-input" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">详细地址</label>
                            <div class="layui-input-block">
                                <input type="text" maxlength="100" name="address"  value="{$info.address}"  class="layui-input" lay-verify="required">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="layui-elem-field">
                        <legend>实验室基本信息</legend>
                        <div class="layui-form-item" style="margin-top: 20px">
                            <label class="layui-form-label">联系人姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" maxlength="30" name="username"  value="{$info.username}" class="layui-input" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">联系手机号</label>
                            <div class="layui-input-inline">
                                <input type="text" maxlength="11" name="mobile" value="{$info.mobile}" class="layui-input" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">公司简介</label>
                            <div class="layui-input-block">
                                <textarea name="desc" placeholder="请输入内容" class="layui-textarea">{$info.desc}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">检测能力</label>
                            <div class="layui-input-block">
                                <textarea name="jcnl" placeholder="请输入内容" class="layui-textarea">{$info.jcnl}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">业务说明</label>
                            <div class="layui-input-block">
                                <textarea name="ywsm" placeholder="请输入内容" class="layui-textarea">{$info.ywsm}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-top:15px">
                            <label class="layui-form-label">服务案例</label>
                            <div class="layui-input-block">
                                <textarea name="cases" placeholder="请输入内容" class="layui-textarea">{$info.cases}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="layui-elem-field" style="margin-top: 30px;">
                        <legend>实验室LOGO</legend>
                        <div class="layui-form-item">
                            <div class="layui-upload" style="margin-top: 20px;margin-left: 20px">
                                <button type="button" class="layui-btn" id="test1">上传图片</button>
                                <input class="layui-upload-file" type="file" name="file" value="{$info.logo}">
                                <div id="file"></div>
                                <div class="layui-upload-list">
                                    <img class="layui-upload-img" src="__PUBLIC__{$info.logo}" id="demo1" style="width: 150px;">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="layui-elem-field" style="margin-top: 30px;">
                        <legend>营业执照</legend>
                        <div class="layui-form-item">
                            <div class="layui-upload" style="margin-top: 20px;margin-left: 20px">
                                <button type="button" class="layui-btn" id="yyzz">上传图片</button>
                                <input class="layui-upload-file" type="file" name="yy_img" value="{$info.yy_img}">
                                <div id="yy_zz"></div>
                                <div class="layui-upload-list">
                                    <img class="layui-upload-img" src="__PUBLIC__{$info.yy_img}" id="demo2" style="width: 150px;">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="layui-form-item layui-form-text">
                        <button type="button" class="layui-btn" id="test3">资质证书上传</button>
                        <input type="hidden" name="zizhi_zs" id="zzzs">
                        <a class="layui-upload-img" id="demo3" href="__PUBLIC__{$info.zizhi_zs}">{$info.zizhi_zs}</a>
                    </div>

                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs4 layui-col-xs-offset2">
                    <input type="hidden" name="id" value="{$info.id}">
                    <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="common/footer"/}
<script>
    layui.use(['element', 'table', 'layer', 'upload', 'form'], function () {
        var element = layui.element
            , $ = layui.jquery
            , layer = layui.layer
            , form = layui.form
            ,upload = layui.upload;
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: "{:url('User/UpFiles/upImages')}"
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                $('#file').append('<input type="hidden" name="logo" value="' + res.src + '" />');
            }
        });
        var uploadInst = upload.render({
            elem: '#yyzz'
            ,url: "{:url('User/UpFiles/upImages')}"
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo2').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                $('#yy_zz').append('<input type="hidden" name="yy_img" value="' + res.src + '" />');
            }
        });
        var uploadInst = upload.render({
            elem: '#test3'
            ,url: "{:url('UpFiles/upImages')}"
            ,accept:'file'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){

                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else{
                    layer.msg('上传成功');
                    $("#zzzs").val(res.src);
                    $('a#demo3').attr('href','/public'+res.src);
                    $('a#demo3').html(res.src);
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        form.on('submit(submit)', function(res){
            var data = res.field;
                $.post("{:url('User/Sysrz/base')}",res.field,function(data){
                    if (data.file==""){
                        alert("LOGO不能为空");
                    } else {
                        if(data.code == 1){
                            layer.msg(data.msg, {
                                icon: 1
                            });
                        }else{
                            layer.msg(data.msg, {
                                icon: 2
                            });
                        }
                    }

                })

            return false;
        });
    });
</script>
</body>
</html>