{include file="common/loginHead"/}

<div class="main fly-user-main layui-clear" style="width: 1500px">

    {include file="common/mymenu" /}

    <div class="fly-panel fly-panel-user" pad20 style="width: 1306px">
        <blockquote class="layui-elem-quote">实验室管理</blockquote>
        <a href="{:url('shebei')}" class="layui-btn">设备管理</a>
        <!--<a href="javascript:;" class="layui-btn" id="jcnl">检测能力</a>-->
    </div>
</div>
<!--<div id="show" style="display: none;padding:20px">-->
    <!--<form action="" class="layui-form" id="jcnl">-->
        <!--<div class="layui-form-item">-->
            <!--<div class="layui-input-block">-->
                <!--{volist name="category" id="vo"}-->
                <!--<input type="checkbox" value="{$vo.id}" name="jcnl[]" title="{$vo.name}">-->
                <!--{/volist}-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<div class="layui-input-block">-->
                <!--<button class="layui-btn" lay-submit="" lay-filter="add">提交</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
{include file="common/footer"/}
<script>
    layui.use(['element', 'form','layer'], function () {
        var element = layui.element
            , $ = layui.jquery
            , layer = layui.layer
            , table = layui.table
            ,form = layui.form
            $("#jcnl").on('click',function(){
                var index = layer.open({
                    type: 1
                    ,title: '检测能力' //不显示标题栏
                    ,area:'900px'
                    ,closeBtn: 1
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,moveType: 0 //拖拽模式，0或者1
                    ,content: $("#show")
                });
            })
        //监听提交
        form.on('submit(add)', function(data){
            $.post("{:url('User/Sysrz/jcnl')}",data.field,function(res){
                if(res.code == 1){
                    layer.msg(res.msg, {
                        icon: 1,
                        time: 10000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }else{
                    layer.msg(res.msg, {
                        icon: 2,
                        time: 10000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            })
        });

    });
</script>
</body>
</html>