{include file="common/loginHead"/}
<style>
    .layui-upload-list img{
        width: 100px;
        margin-left: 15px;
    }
</style>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <blockquote class="layui-elem-quote"  style="margin-top: 20px">实验室入驻申请</blockquote>
            <form class="layui-form" method="post">
                <div class="layui-row">

                    <div class="layui-col-xs12">
                        <fieldset class="layui-elem-field">
                            <legend>单位信息</legend>
                            <div class="layui-form-item" style="margin-top: 20px">
                                <label class="layui-form-label">单位全称</label>
                                <div class="layui-input-block">
                                    <input type="text" maxlength="100" name="name" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">固定电话</label>
                                <div class="layui-input-block">
                                    <input type="text" maxlength="20" name="tel" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">企业邮箱</label>
                                <div class="layui-input-block">
                                    <input type="text" maxlength="60" name="email" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-form-item" style="margin-top:15px">
                                <label class="layui-form-label">省份</label>
                                <!-- 省 -->
                                <div class="layui-input-inline">
                                    <select id="province" name="province" lay-filter="province">
                                        <option value="0">城市</option>
                                        {volist name="p" id="vo"}
                                        <option value='{$vo.id}'>{$vo.areaname}</option>
                                        {/volist}
                                    </select>
                                </div>

                                <!-- 市 -->
                                <div class="layui-input-inline" style="display: none;">
                                    <select id="city" name="city" lay-filter="city">
                                        <option value='0'>城市</option>
                                    </select>
                                </div>

                                <div class="layui-input-inline" style="display: none;">
                                    <select id="area" name="area" lay-filter="area">
                                        <option value='0'>区域</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">详细地址</label>
                                <div class="layui-input-block">
                                    <input type="text" maxlength="100" name="address" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="layui-elem-field">
                            <legend>实验室基本信息</legend>
                            <div class="layui-form-item" style="margin-top: 20px">
                                <label class="layui-form-label">姓名</label>
                                <div class="layui-input-block">
                                    <input type="text" maxlength="30" name="username" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">联系电话</label>
                                <div class="layui-input-block">
                                    <input type="text" maxlength="11" name="mobile" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">公司简介</label>
                                <div class="layui-input-block">
                                    <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">检测能力说明</label>
                                <div class="layui-input-block">
                                    <textarea name="jcnl" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">实验室检测业务情况说明</label>
                                <div class="layui-input-block">
                                    <textarea name="ywsm" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item" style="margin-top:15px">
                                <label class="layui-form-label">服务案例</label>
                                <div class="layui-input-block">
                                    <textarea name="cases" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="layui-elem-field">
                            <legend>单位信息</legend>
                            <div class="layui-form-item" style="margin-top:15px">
                                <label class="layui-form-label">营业执照</label>
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" id="yyzz">多图片上传</button>
                                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                        预览图：
                                        <div class="layui-upload-list" id="yyzz_pic"></div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="layui-form-item" style="margin-top:15px">
                                <label class="layui-form-label">资质荣誉</label>
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" id="zzry">多图片上传</button>
                                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                        预览图：
                                        <div class="layui-upload-list" id="zzry_pic"></div>
                                    </blockquote>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-xs4 layui-col-xs-offset2">
                        <div id="yyzz_pic_list"></div>
                        <div id="zzry_pic_list"></div>
                        <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{include file="common/footer"/}
<script>

    layui.use(['upload','form'], function(){
        var $ = layui.jquery
            ,upload = layui.upload,
            form = layui.form,
            layer = layui.layer,
            $form = $('form');
        upload.render({
            elem: '#yyzz'
            ,url: "{:url('User/UpFiles/upImages')}"
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#yyzz_pic').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res){ //当文件全部被提交后，才触发
                $('#yyzz_pic_list').append('<input type="hidden" name="yyzz[]" value="' + res.src + '" />');
            }
        });
        upload.render({
            elem: '#zzry'
            ,url: "{:url('User/UpFiles/upImages')}"
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#zzry_pic').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res){
                $('#zzry_pic_list').append('<input type="hidden" name="zzry[]" value="' + res.src + '" />');
            }
        });
        //监听提交
        form.on('submit(submit)', function(){
            $.post("{:url('User/Sysrz/add')}",$form.serialize(),function(data){
                if(data.code == 1){
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 10000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }else{
                    layer.msg(data.msg, {
                        icon: 2,
                        time: 10000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            })
        });
    });
    layui.use(['form', 'jquery'], function() {
        var $ = layui.jquery,
            form = layui.form;
        layer = layui.layer;
        $form = $('form');
        form.render();
        //监听提交
        form.on('submit(submit)', function(){
            $.post("{:url('addhandle')}",$form.serialize(),function(data){
                if(data.code == 1){
                    layer.msg(data.msg);
                }
            })
        });
        // 地址监听-省
        form.on('select(province)', function(data) {
            $form.find('select[name=area]').html('<option value="">选择地区</option>').parent().hide();
            $form.find('select[name=city]').html('<option value="">选择城市</option>').parent().hide();
            $.ajax({
                type: "get",
                url: "{:url('ajax_region')}",
                data: {
                    "id": data.value
                },
                dataType: "json",
                success: function(data) {
                    var city = data.length;
                    if (city > 0) {
                        $form.find('select[name=city]').parent().show();
                        $.each(data, function(i, item) {
                            $("#city").append("<option value='" + item.id + "'>" + item.areaname + "</option>");
                        });
                        form.render();
                    } else {
                        $form.find('select[name=city]').parent().hide();
                        form.render();
                    }

                }
            });
        });

        // 地址监听-市
        form.on('select(city)', function(data) {
            $.ajax({
                type: "get",
                url: "{:url('ajax_region')}",
                data: {
                    "id": data.value
                },
                dataType: "json",
                success: function(data) {

                    $form.find('select[name=area]').html('<option value="">选择地区</option>').parent().hide();
                    var area = data.length;
                    if (area > 0) {
                        $form.find('select[name=area]').parent().show();
                        $.each(data, function(i, item) {
                            $("#area").append("<option value='" + item.id + "'>" + item.areaname + "</option>");
                        });
                        form.render();
                    } else {
                        $form.find('select[name=area]').parent().hide();
                        form.render();
                    }
                }
            });
        });
    });
</script>
</body>
</html>