{include file="common/loginHead"/}

<div class="main fly-user-main layui-clear" style="width: 1500px">

    {include file="common/mymenu" /}

    <div class="fly-panel fly-panel-user" pad20 style="width: 1306px">
        <blockquote class="layui-elem-quote">检测项目</blockquote>
        <div class="layui-container-fluid">
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <a href="{:url('Sysrz/add_xiangmu')}" id="add" class="layui-btn">新增检测项目</a>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <table id="table" lay-filter="test"></table>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"/}
<script>
    layui.use(['element', 'table', 'layer','upload','form'], function () {
        var element = layui.element
            , $ = layui.jquery
            , layer = layui.layer
            , table = layui.table
            ,upload = layui.upload
            ,form = layui.form;
        table.render({
            elem: '#table'
            , height: 315
            , url: "{:url('User/Sysrz/ajax_xiangmu')}" //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 50, align: 'center'}
                , {field: 'pid', title: '检测项目',width: 160, align: 'left'}
                , {field: 'jid', title: '检测能力',width: 160, align: 'left'}

                , {field: 'jcyj', title: '检测依据', align: 'left'}
                , {field: 'desc', title: '检测描述', align: 'left'}
            ]]
        });
    });
</script>
</body>
</html>