{include file="common/loginHead"/}

<div class="main fly-user-main layui-clear" style="width: 1500px">

    {include file="common/mymenu" /}

    <div class="fly-panel fly-panel-user" pad20 style="width: 1306px">
        <blockquote class="layui-elem-quote">实验室设备</blockquote>
        <div class="layui-container-fluid">
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <a href="javascript:;" id="add" class="layui-btn">新增设备</a>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <table id="table" lay-filter="test"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="show" style="display: none;padding:20px">
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">设备名称</label>
            <div class="layui-input-block">
                <input type="text" maxlength="60" name="name" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">主要参数</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="canshu" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test1">上传图片</button>
                <input class="layui-upload-file" type="file" name="file">
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="demo1" style="width: 100px;height: 100px">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="uploadfile"></div>
            <button class="layui-btn" lay-submit="" lay-filter="submit">提交</button>
        </div>
    </form>
</div>
{include file="common/footer"/}
<script>
    layui.use(['element', 'table', 'layer','upload','form'], function () {
        var element = layui.element
            , $ = layui.jquery
            , layer = layui.layer
            , table = layui.table
            ,upload = layui.upload
            ,form = layui.form;
        table.render({
            elem: '#table'
            , height: 315
            , url: "{:url('User/Sysrz/ajax_shebei')}" //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 50, align: 'center'}
                , {field: 'name', title: '设备型号',width: 160, align: 'left'}
                , {field: 'canshu', title: '技术参数', align: 'left'}
                , {field: 'pic', title: '图片', align: 'left'}
            ]]
        });
        $("#add").on('click',function(){
            var index = layer.open({
                type: 1
                ,title: '新增设备' //不显示标题栏
                ,area:'500px'
                ,closeBtn: 1
                ,shade: 0.8
                ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                ,moveType: 0 //拖拽模式，0或者1
                ,content: $("#show")
            });
            // layer.full(index)
        });
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: "{:url('User/UpFiles/upImages')}"
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                $('.layui-upload-file').append('<input type="hidden" name="pic" value="' + res.src + '" />');
            }
        });

        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'read') {

            }
        });
        //监听提交
        form.on('submit(submit)', function(data){
            $.post("{:url('Sysrz/shebei_handle')}",data.field,function(res){
                if(res.code == 1){
                    layer.msg(res.msg, {
                        icon: 1
                    });
                }else{
                    layer.msg(res.msg, {
                        icon: 2
                    });
                }
            })
        });
    });
</script>
</body>
</html>