<style>
    ul.list {
        margin: 0;
        padding: 0;
        margin-top: 20px;
    }

    ul.list li {
        list-style: none;
        line-height: 35px;
        color: #a1a1a2;
    }

    ul.list li a {
        color: #a1a1a2;
    }

    .footer p, .footer .title, h4 {
        color: #a1a1a2;
    }

    .footer .title {
        font-weight: 700;
    }
    .bottom a{
        margin: 0 8px;
        color: #a1a1a2;
    }
    .bottom a:last-child{
        margin-right: 25px;
    }
    .bottom span{
        color:#a1a1a2
    }
</style>
<div class="container-fluid footer mt-15">

    <div class="container">
        <div class="row">
            <div class="col-sm-2" style="width:180px;">
                <div class="title">个人用户</div>
                <ul class="list">
                    <li><a href="">需求发布</a></li>
                    <li><a href="">账户中心</a></li>
                    <li><a href="">使用帮助</a></li>
                    <li><a href="">注册协议</a></li>
                </ul>
            </div>
            <div class="col-sm-2" style="width:180px;">
                <div class="title">企业用户</div>
                <ul class="list">
                    <li><a href="">平台入驻</a></li>
                    <li><a href="">能力发布</a></li>
                    <li><a href="">平台服务</a></li>
                    <li><a href="">入驻协议</a></li>
                </ul>
            </div>
            <div class="col-sm-3" style="width:320px;">
                <div class="title">联系我们</div>
                <ul class="list">
                    <li>联系电话：0376-3722819</li>
                    <li>邮编：464000</li>
                    <li>邮箱：ht694jczx@126.com</li>
                    <li>地址：信阳市高新区工十四路北环路交叉口</li>
                </ul>
            </div>
            <div class="col-sm-3" style="width:300px;">
                <div class="title">技术支持</div>
                <ul class="list">
                    <li>技术支持：0376-3722819</li>
                    <li>周一至周五 9:00-17:00</li>
                    <li>非工作时间可在线留言</li>
                    <li>我们将在第一时间与您联系</li>
                </ul>
            </div>
            <div class="col-sm-2" style="width:190px;">
                <div class="title">公众号</div>
                <ul class="list">
                <img src="/public/style/images/weixin.jpg" class="img-responsive">
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid" style="background: #30353b;height: 60px;line-height: 60px;color:#fff">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 bottom">
                <!-- <a href="">平台入驻</a>
                <a href="">能力发布</a>
                <a href="">平台服务</a>
                <a href="">入驻协议</a> -->
                <span style="margin-left: 20px">Copyright © 2018 河南航天精工制造有限公司研究检测分公司. All Right Reserved</span>
                 <span class="pull-right">豫ICP备18000571号-1  网站制作：联创科技</span>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__STYLE__/js/bootstrap.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</body>
</html>