<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item {if condition="$page_name eq 'index'"} layui-this {/if}">
        <a href="{:url('index/index')}">
            <i class="layui-icon">&#xe609;</i>
            我的主页
        </a>
    </li>
    <li class="layui-nav-item {if condition="$page_name eq 'orders'"} layui-this {/if}">
        <a href="{:url('Index/orders')}">
            <i class="layui-icon">&#xe620;</i>
            我的订单
        </a>
    </li>

    <li class="layui-nav-item {if condition="$page_name eq 'myorders'"} layui-this {/if}">
        <a href="{:url('Index/myorders')}">
            <i class="layui-icon">&#xe620;</i>
            我的需求
        </a>
    </li>
    <li class="layui-nav-item {if condition="$page_name eq 'collection'"} layui-this {/if}">
        <a href="{:url('Index/collection')}">
            <i class="layui-icon">&#xe620;</i>
            我的收藏
        </a>
    </li>
    <li class="layui-nav-item {if condition="$page_name eq 'information'"} layui-this {/if}">
        <a href="{:url('Index/information')}">
            <i class="layui-icon">&#xe620;</i>
            消息中心
        </a>
    </li>
    <li class="layui-nav-item {if condition="$page_name eq 'estimate'"} layui-this {/if}">
        <a href="{:url('Index/estimate')}">
            <i class="layui-icon">&#xe620;</i>
            我的评价
        </a>
    </li>
    <li class="layui-nav-item {if condition="$page_name eq 'set'"} layui-this {/if}">
        <a href="{:url('set/index')}">
            <i class="layui-icon">&#xe620;</i>
            基本设置
        </a>
    </li>
    <!--<li class="layui-nav-item">-->
        <!--<a href="{:url('Index/company')}">-->
            <!--<i class="layui-icon">&#xe620;</i>-->
            <!--企业信息-->
        <!--</a>-->
    <!--</li>-->
    <li class="layui-nav-item {if condition="$page_name eq 'sys'"} layui-this {/if}">
        <!--<a href="{:url('Sysrz/guanli')}">-->
            <!--<i class="layui-icon">&#xe620;</i>-->
            <!--实验室管理-->
        <!--</a>-->
        <a href="javascript:;"><i class="layui-icon">&#xe620;</i>实验室管理</a>
        <dl class="layui-nav-child">
            <dd {if condition="$child_name neq 'shebei'"} style="background-color:#333; {/if}"><a href="{:url('Sysrz/shebei')}"><i class="layui-icon">&#xe857;</i>设备管理</a></dd>
            <dd {if condition="$child_name neq 'jcxm'"} style="background-color:#333; {/if}" ><a href="{:url('Sysrz/jcxm')}"> <i class="layui-icon">&#xe857;</i>检测项目</a></dd>
            <dd {if condition="$child_name neq 'base'"} style="background-color:#333; {/if}" ><a href="{:url('Sysrz/base')}"> <i class="layui-icon">&#xe857;</i>基本信息</a></dd>
        </dl>
    </li>

</ul>


<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>