{include file="common/head"/}
<div class="layui-fluid">
    <div class="layui-card">
        <blockquote class="layui-elem-quote quoteBox">
            <form class="layui-form">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" id="key" class="layui-input searchVal" placeholder="管理员名称、IP地址"/>
                    </div>
                    <div class="layui-inline">
                        <a id="search" class="layui-btn search_btn" data-type="reload">搜索</a>
                    </div>
                </div>
            </form>
        </blockquote>
        <div class="layui-card-body">
            <table id="list" lay-filter="productList">
            </table>
        </div>
    </div>
</div>
{include file="common/foot"/}
<script>
    layui.use(['table','form'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery;
        var tableIn = table.render({
            id: 'user',
            elem: '#list',
            url: '{:url("index")}',
            method: 'post',
            page: true,
            cols: [[
                {field: 'id', title: '{:lang("id")}', fixed: true},
                {field: 'username', title: '管理员',align: 'center'},
                {field: 'content', title: '操作内容',width:450},
                {field: 'ip', title: 'IP地址',align: 'center'},
                {field: 'useragent', title: '客户端信息',width:300},
                {field: 'createtime', align: 'center',title: '操作时间'},
            ]],
            limit: 10 //每页默认显示的数量
        });
        //搜索
        $('#search').on('click', function() {
            var key = $('#key').val();
            if($.trim(key)==='') {
                layer.msg('{:lang("pleaseEnter")}关键字！',{icon:0});
                return;
            }
            tableIn.reload({
                where: {key: key}
            });
        });
    });
</script>
</body>
</html>