{include file="common/loginHead"/}
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <blockquote class="layui-elem-quote" style="margin-top: 50px">发布检测需求</blockquote>

            <div class="layui-container-fluid">
                <form class="layui-form" id="form1">
                    <div class="layui-row">

                        <div class="layui-col-xs12">

                            <div class="layui-form-item">
                                <label class="layui-form-label">样品名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" maxlength="100" name="title" lay-verify="required" autocomplete="off"
                                           placeholder="请输入检测主题"
                                           class="layui-input">
                                </div>
                                <label class="layui-form-label">截止日期</label>
                                <div class="layui-input-inline">
                                    <input type="date" name="endtime" lay-verify="required"
                                           class="layui-input">
                                </div>
                                <label class="layui-form-label">所在单位</label>
                                <div class="layui-input-inline">
                                    <input type="text" maxlength="100" name="company" lay-verify="required" autocomplete="off"
                                           placeholder="请输入检测项目公司名称" class="layui-input">
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" maxlength="100" name="address" lay-verify="required" autocomplete="off"
                                           placeholder="请输入公司地址" class="layui-input">
                                </div>
                            </div>
                            <fieldset class="layui-elem-field">
                                <legend>报告寄回信息</legend>
                                <div class="layui-form-item" style="margin-top:15px">
                                    <label class="layui-form-label">收件人</label>
                                    <div class="layui-input-inline">
                                        <input type="text" maxlength="100" name="r_name" class="layui-input" lay-verify="required">
                                    </div>
                                    <label class="layui-form-label">收件地址</label>
                                    <div class="layui-input-inline">
                                        <input type="text" maxlength="100" name="r_address" class="layui-input" lay-verify="required">
                                    </div>

                                    <label class="layui-form-label">联系电话</label>
                                    <div class="layui-input-inline">
                                        <input type="text" maxlength="11" name="r_phone" class="layui-input" lay-verify="required">
                                    </div>
                                    <div class="layui-input-inline">
                                        <input type="text" maxlength="20" name="code" class="layui-input" placeholder="邮政编码"
                                               lay-verify="required">
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <!--<div class="layui-form-item">-->
                            <!--<a href="javascript:;" id="btntest" class="layui-btn">新增检测项目</a>-->
                        <!--</div>-->
                        <fieldset class="layui-elem-field">
                            <legend>检测项目详情</legend>
                            <!--<div class="layui-field-box">-->
                                <!--<div class="layui-form-item" style="margin-top:15px">-->
                                    <!--<label class="layui-form-label">检测项目</label>-->
                                    <!--<div class="layui-input-inline">-->
                                        <!--<select id="province" name="data[province]" lay-filter="province">-->
                                            <!--<option value="0">选择检测项目</option>-->
                                            <!--{volist name="p" id="vo"}-->
                                            <!--<option value='{$vo.id}'>{$vo.name}</option>-->
                                            <!--{/volist}-->
                                        <!--</select>-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash; 市 &ndash;&gt;-->
                                    <!--<div class="layui-input-inline">-->
                                        <!--<select id="city" name="data[city]" lay-filter="city">-->
                                            <!--<option value='0'>检测类型</option>-->
                                        <!--</select>-->
                                    <!--</div>-->

                                    <!--<div class="layui-input-inline">-->
                                        <!--<select id="area" name="data[area]" lay-filter="area">-->
                                            <!--<option value='0'>检测成分</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <div class="layui-form-item">
                                <label class="layui-form-label">批次号</label>
                                <div class="layui-input-inline">
                                    <input type="text" maxlength="100" name="tatchsn" lay-verify="required" autocomplete="off"
                                           placeholder="请输入批次号"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item" id="jc_cate0">
                                <label class="layui-form-label">检测项目</label>
                                <div class="layui-input-inline">
                                    <input type="text" maxlength="100" name="jc_cate[0][name]" lay-verify="required" autocomplete="off"
                                           placeholder="请输入检测项目"
                                           class="layui-input">
                                </div>
                                <label class="layui-form-label">检测数量</label>
                                <div class="layui-input-inline">
                                    <input type="text" maxlength="11" name="jc_cate[0][num]" placeholder="请输入检测数量" lay-verify="required"
                                           class="layui-input">
                                </div>
                                <div class="layui-input-inline">
                                    <input type="hidden" name="jc_cate[0][enable]" value="true"
                                           class="layui-input">
                                </div>
                                <label class="layui-form-label" style="font-size:20px" onclick="add()">+</label>
                                <label class="layui-form-label" style="font-size:20px" onclick="del()">-</label>

                            </div>
                            <input type="hidden" name="key" value="0" >
                            <div id="jc_cate_block"></div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">样品材质</label>
                                <div class="layui-input-inline">
                                    <input type="text" maxlength="50" name="data[caizhi]" lay-verify="required" autocomplete="off"
                                           placeholder="输入样品材质" class="layui-input">
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" maxlength="50" maxlength="100" name="data[xinghao]" lay-verify="title" autocomplete="off"
                                           placeholder="请输入样品型号" class="layui-input">
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" name="data[other]"  autocomplete="off"
                                           placeholder="请输入样品其他" class="layui-input">
                                </div>
                                <div class="layui-input-inline">
                                    <input type="number" name="data[num]" autocomplete="off"
                                           placeholder="请输入样品数量" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">检测要求</label>
                                <div class="layui-input-block" style="width: 80%">
                                    <textarea name="data[content]" class="layui-input" id="container" rows="8"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="layui-elem-field">
                            <legend>其他信息</legend>
                            <div class="layui-field-box">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">处理方式</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="chuli_type" value="1" title="报废" checked="">
                                        <div class="layui-unselect layui-form-radio"><i
                                                class="layui-anim layui-icon"></i>
                                            <div>报废</div>
                                        </div>
                                        <input type="radio" name="chuli_type" value="2" title="寄回(到付)">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i
                                                class="layui-anim layui-icon layui-anim-scaleSpring"></i>
                                            <div>寄回(到付)</div>
                                        </div>
                                        <input type="radio" name="chuli_type" value="3" title="自己领取(保留3周)">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i
                                                class="layui-anim layui-icon layui-anim-scaleSpring"></i>
                                            <div>自己领取(保留3周)</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">开具发票</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="receipt" value="1" title="是" checked="">
                                        <div class="layui-unselect layui-form-radio"><i
                                                class="layui-anim layui-icon"></i>
                                            <div>是</div>
                                        </div>
                                        <input type="radio" name="receipt" value="2" title="否">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i
                                                class="layui-anim layui-icon layui-anim-scaleSpring"></i>
                                            <div>否</div>
                                        </div>

                                    </div>
                                </div>
                                <!--<div class="layui-form-item">-->
                                    <!--<label class="layui-form-label">资质要求</label>-->
                                    <!--<div class="layui-input-block">-->
                                        <!--<input type="checkbox" name="intelligence[]" value="no" title="无要求" checked="">-->
                                        <!--<div class="layui-unselect layui-form-checkbox layui-form-checked"-->
                                             <!--lay-skin="">-->
                                            <!--<span>无要求</span><i class="layui-icon"></i></div>-->
                                        <!--<input type="checkbox" name="intelligence[]" value="CMA" title="CMA">-->
                                        <!--<div class="layui-unselect layui-form-checkbox layui-form-checked"-->
                                             <!--lay-skin="">-->
                                            <!--<span>CMA</span><i class="layui-icon"></i></div>-->
                                        <!--<input type="checkbox" name="intelligence[]" value="CNAS" title="CNAS">-->
                                        <!--<div class="layui-unselect layui-form-checkbox layui-form-checked"-->
                                             <!--lay-skin=""><span>CNAS</span><i-->
                                                <!--class="layui-icon"></i></div>-->
                                        <!--<input type="checkbox" name="intelligence[]" value="DILAC" title="DILAC">-->
                                        <!--<div class="layui-unselect layui-form-checkbox layui-form-checked"-->
                                             <!--lay-skin=""><span>DILAC</span><i-->
                                                <!--class="layui-icon"></i></div>-->
                                        <!--<input type="checkbox" name="intelligence[]" value="no" title="其他" checked="">-->
                                        <!--<div class="layui-unselect layui-form-checkbox layui-form-checked"-->
                                             <!--lay-skin="">-->
                                            <!--<span>其他</span><i class="layui-icon"></i></div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="layui-form-item">
                                    <label class="layui-form-label">接受分包</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="subpackage" value="1" title="是" checked="">
                                        <div class="layui-unselect layui-form-radio"><i
                                                class="layui-anim layui-icon"></i>
                                            <div>是</div>
                                        </div>
                                        <input type="radio" name="subpackage" value="2" title="否">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i
                                                class="layui-anim layui-icon layui-anim-scaleSpring"></i>
                                            <div>否</div>
                                        </div>

                                    </div>
                                </div>
                                <!--<div class="layui-form-item">-->
                                    <!--<label class="layui-form-label">报告版式</label>-->
                                    <!--<div class="layui-input-block">-->
                                        <!--<input type="radio" name="format" value="1" title="" checked="">-->
                                        <!--<div class="layui-unselect layui-form-radio"><i-->
                                                <!--class="layui-anim layui-icon"></i>-->
                                            <!--<div>一份委托表出一份报告</div>-->
                                        <!--</div>-->
                                        <!--<input type="radio" name="format" value="2" title="">-->
                                        <!--<div class="layui-unselect layui-form-radio layui-form-radioed"><i-->
                                                <!--class="layui-anim layui-icon layui-anim-scaleSpring"></i>-->
                                            <!--<div>一个检测项目出一份报告</div>-->
                                        <!--</div>-->
                                        <!--<input type="radio" name="format" value="3" title="">-->
                                        <!--<div class="layui-unselect layui-form-radio layui-form-radioed"><i-->
                                                <!--class="layui-anim layui-icon layui-anim-scaleSpring"></i>-->
                                            <!--<div>一个样品出一份报告</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="layui-form-item">
                                    <label class="layui-form-label">报告方式</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="way" value="1" title="下载电子报告" checked="">
                                        <div class="layui-unselect layui-form-radio"><i
                                                class="layui-anim layui-icon"></i>
                                            <div>下载电子报告</div>
                                        </div>
                                        <input type="radio" name="way" value="2" title="纸质邮寄">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i
                                                class="layui-anim layui-icon layui-anim-scaleSpring"></i>
                                            <div>纸质邮寄</div>
                                        </div>
                                        <input type="radio" name="way" value="3" title="纸质自取">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i
                                                class="layui-anim layui-icon layui-anim-scaleSpring"></i>
                                            <div>纸质自取</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">是否加急</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="urgent" value="1" title="是" checked="">
                                        <div class="layui-unselect layui-form-radio"><i
                                                class="layui-anim layui-icon"></i>
                                            <div>是</div>
                                        </div>
                                        <input type="radio" name="urgent" value="2" title="否">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i
                                                class="layui-anim layui-icon layui-anim-scaleSpring"></i>
                                            <div>否</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="layui-elem-field">
                            <legend>相关附件</legend>
                            <div class="layui-field-box">
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn" id="test2">多图片上传</button>
                                    <blockquote class="layui-elem-quote layui-quote-nm"
                                                style="margin-top: 10px;">
                                        预览图：
                                        <div class="layui-upload-list" id="demo2"></div>
                                    </blockquote>
                                </div>
                            </div>
                        </fieldset>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash; 配置文件 &ndash;&gt;-->
<!--<script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>-->
<!--&lt;!&ndash; 编辑器源码文件 &ndash;&gt;-->
<!--<script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>-->
{include file="common/footer"/}
<script type="text/javascript" src="http://m.zhengjinfan.cn/picker/area_data.js"></script>
<script type="text/javascript">
    // var ue = UE.getEditor('container');
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload
            ,form = layui.form;

        //多图片上传
        upload.render({
            elem: '#test2'
            , url: "{:url('UpFiles/upload')}"
            , multiple: true
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo2').append('<img style="width:150px;" src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
                });
            }
            , done: function (res) {
                //上传完毕

            }
        });
    });
    layui.use(['form', 'jquery', 'layer'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer,
            $form = $("#form2");

        $("#btntest").on('click', function () {
            layer.open({
                type: 1,
                content: $('#btn'),
                area: ["1200px","600px"]
                ,btn: ['确认添加']
                ,yes: function(index, layero){
                    layer.msg(index);
                }
            })
        })
        // 地址监听-省
        form.on('select(province)', function (data) {
            $.ajax({
                type: "get",
                url: "{:url('ajax_category')}",
                data: {
                    "id": data.value
                },
                dataType: "json",
                success: function (data) {
                    var city = data.length;
                    if (city > 0) {
                        $("#city").empty();
                        form.render();
                        $.each(data, function (i, item) {
                            $("#city").append("<option value='" + item.id + "'>" + item.name + "</option>");
                        });
                        form.render();
                    }
                }
            });
        });

        // 地址监听-市
        form.on('select(city)', function (data) {
            $.ajax({
                type: "get",
                url: "{:url('ajax_xiangmu')}",
                data: {
                    "id": data.value
                },
                dataType: "json",
                success: function (data) {
                    var area = data.length;
                    if (area > 0) {
                        $("#area").empty();
                        form.render();
                        $.each(data, function (i, item) {
                            $("#area").append("<option value='" + item.id + "'>" + item.title + "</option>");
                        });
                        form.render();
                    } else {
                        $form.find('select[id=area]').parent().hide();
                        form.render();
                    }
                }
            });
        });

    });
    layui.use(['form', 'jquery'], function () {
        var $ = layui.jquery,
            form = layui.form;
        layer = layui.layer;
        $form = $('#form1');
        form.render();
        //监听提交
        form.on('submit(submit)', function (data) {
            $.post("{:url('addhandle')}", $form.serialize(), function (res) {
                if (res.code == 1) {
                    var that = this;
                    //多窗口模式，层叠置顶

                    layer.open({
                        type: 1 //此处以iframe举例
                        ,title: '需求发布成功！'
                        ,area: ['250px', '150px']
                        ,shade: 0
                        ,content: '<div><div style="text-align:center;margin-top:20px">请牢记您的批次号/报告编号</div><div style="margin:15px;text-align:center">订单编号：'+res.order_id+'</div></div>'
                    });
                    setTimeout(function () {
                        location.href = "{:url('index/index')}";
                    },2000)

                }
            });
            return false;
        });

    });

    function add() {

        var key = $('input[name="key"]').val();

        key = parseInt(key)+1;

        var str = '<div class="layui-form-item" id="jc_cate'+key+'"><label class="layui-form-label">检测项目</label>\n' +
            '                                <div class="layui-input-inline">\n' +
            '                                    <input type="text" name="jc_cate['+key+'][name]" lay-verify="required" autocomplete="off"\n' +
            '                                           placeholder="请输入检测项目"\n' +
            '                                           class="layui-input">\n' +
            '                                </div>\n' +
            '                                <label class="layui-form-label">检测数量</label>\n' +
            '                                <div class="layui-input-inline">\n' +
            '                                    <input type="text" name="jc_cate['+key+'][num]" placeholder="请输入检测数量" lay-verify="required"\n' +
            '                                           class="layui-input">\n' +
            '                                </div>\n' +
            '                                <div class="layui-input-inline">\n' +
            '                                    <input type="hidden" name="jc_cate['+key+'][enable]" value="true"\n' +
            '                                           class="layui-input">\n' +
            '                                </div></div>';
        $('#jc_cate_block').append(str);
        $('input[name="key"]').val(key);

    }
    function del() {

        var key = $('input[name="key"]').val();

        key = parseInt(key);

        $('#jc_cate'+key).remove();

        $('input[name="key"]').val(key-1);
    }
</script>

</body>
</html>