{include file="common/loginHead"/}
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-container-fluid" style="min-height: 500px;margin: 70px 0px 0px 100px;background-color: #fefefe">
                <div style="padding: 200px 0 0 200px;font-size: 18px;">
                    <div style="color: #3f5fbf;">订单信息提交成功！</div><br>
                    <a href="{:url('index/index')}" style="color: #5FB878">点击此处，回到个人中心>>></a>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="common/footer"/}

</body>
</html>