@charset "utf-8";
/* CSS Document */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, input, textarea, hr, img, label, span,select,strong,b{margin:0px;padding:0px;}
fieldset,img,abbr,acronym{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
q:before,q:after{content:'';}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
caption, th, td{text-align:left;font-weight:normal;}
a,img,button{border:none;text-decoration:none;}
a,button{text-decoration:none;}
a,img{border:none;outline:none;}
a{color:#333;text-decoration:none;outline:none;}
ul,ol{list-style:none;}
table{word-break:break-all;word-wrap:break-word;}
body{/* font-family:宋体,Arial, Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;font-size:12px; */font-weight:normal;color:#000;width:100%;background:#fff;}

/*清除浮动*/
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.clearfix{display:inline-table;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
.ma{margin-left:auto;margin-right:auto;}
.w980{width:980px;}
.mt10{margin-top:10px;}

/*旅游产品分类*/
.product_sort{margin:0px;width:192px;border:solid 1px #eeeeee;position:relative; z-index:90;}
.product_sort .hd{width:100%;height:40px;line-height:40px;text-indent:15px;font-size:15px;font-weight:bold;font-family:"微软雅黑";color:#fff;}
.product_sort .bd .item{border-bottom:solid 1px #eeeeee;height:65px;position:relative;}
.product_sort .bd .item:last-child{border-bottom:solid 0px #eeeeee;position:relative;}
.product_sort .bd .item .title{width:100%;text-indent:10px;overflow:hidden;line-height:65px;font-size:15px;color:#000;}
.product_sort .bd .item .title a{position:relative;}
.product_sort .bd .item .title a i{position:absolute;}
.product_sort .bd .item .one a i{width:19px;height:19px;background-position:0 0;left:-25px;top:-3px;}
.product_sort .bd .item .two a i{width:22px;height:20px;background-position:0 -51px;left:-28px;top:-5px;}
.product_sort .bd .item .three a i{width:31px;height:23px;background-position:0 -101px;left:-34px;top:-7px;}
.product_sort .bd .item .four a i{width:25px;height:17px;background-position:0 -156px;left:-29px;top:-3px;}
.product_sort .bd .item .five a i{width:28px;height:17px;background-position:0 -207px;left:-33px;top:-1px;}
.product_sort .bd .item .six a i{width:28px;height:17px;background-position:0 -259px;left:-32px;top:-3px;}
.product_sort .bd .item .seven a i{width:26px;height:20px;background-position:0 -309px;left:-31px;top:-6px;}
.product_sort .bd .item .eight a i{width:26px;height:21px;background-position:0 -360px;left:-32px;top:-7px;}
.product_sort .bd .item .list{width:192px;padding-left:15px;height:30px;line-height:30px;overflow:hidden;}
.product_sort .bd .item .list a{font-family:"微软雅黑";color:#333;}
.product_sort .bd .item .list a:hover{text-decoration:underline;}
.product_sort .bd .item .arrow{font-family:"微软雅黑";font-size:20px;position:absolute;right:10px;top:15px;}
.product_sort .bd .item .line{position:absolute;right:-2px;top:0px;width:2px;height:60px;background-color:#fff;z-index:95;display:none;}
.product_sort .bd .item .subitem{display:none;}
.product_sort .bd .layer .line{display:block;}
.product_sort .bd .layer .arrow{display:none;}
.product_sort .bd .layer .subitem{width:200px;background:#fff;border:solid 1px #eeeeee;border-left:none;font-family:"微软雅黑";position:absolute;left:192px;_left:192px;top:-1px;z-index:95;min-height:35px;height:auto!important;height:35px;padding:5px 10px 15px 10px;display:block;}
.product_sort .bd .layer .subitem .inner .tit{font-size:15px; text-align:left; border-top:1px dashed #d7d7d7;padding:5px 0;}
.product_sort .bd .layer .subitem .inner .tit1{border-top:none;}
.product_sort .bd .layer .subitem .inner .tit .name{display:block;width:90px;color:#eeeeee;cursor:pointer;float:left;padding-top:3px;}
.product_sort .bd .layer .subitem .inner ul{overflow:hidden;zoom:1;display:block;width:220px;}
.product_sort .bd .layer .subitem .inner ul li{padding:0 8px;height:35px; line-height: 35px}
.product_sort .bd .layer .subitem .inner ul li a{color:#222;display:block;}
.product_sort .bd .layer .subitem .inner ul li a:hover{color:#000;text-decoration:none;}