{include file="common/loginHead"/}

<div class="main fly-user-main layui-clear" style="width: 1500px">

    {include file="common/mymenu" /}

    <div class="fly-panel fly-panel-user" pad20 style="width: 1306px">
        <blockquote class="layui-elem-quote">
            <p>企业信息</p>
            <p>在中国大陆注册并有效存续的独立企业法人或事业单位，维护如下资料。所填写的企业信息必须真实准确，其中*表示该项必填。</p>
        </blockquote>
        <div class="layui-collapse" lay-accordion="">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">企业基本信息</h2>
                <div class="layui-colla-content layui-show">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">公司全称</label>
                            <div class="layui-input-block">
                                <input type="text" maxlength="50" name="title" lay-verify="title" autocomplete="off" placeholder=""
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">公司简称</label>
                            <div class="layui-input-block">
                                <input type="text" maxlength="50" name="title" lay-verify="title" autocomplete="off" placeholder=""
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">信用代码</label>
                            <div class="layui-input-block">
                                <input type="text" maxlength="100" name="title" lay-verify="title" autocomplete="off" placeholder=""
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">组织代码</label>
                            <div class="layui-input-block">
                                <input type="text" maxlength="100" name="title" lay-verify="title" autocomplete="off" placeholder=""
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">联系人</label>
                            <div class="layui-input-block">
                                <input type="text" maxlength="30" name="title" lay-verify="title" autocomplete="off" placeholder=""
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-block">
                                <input type="text" maxlength="11" name="title" lay-verify="title" autocomplete="off" placeholder=""
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">企业地址</label>
                            <div class="layui-input-block">
                                <input type="text" maxlength="50" name="title" lay-verify="title" autocomplete="off" placeholder=""
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">经营范围</label>
                            <div class="layui-input-block">
                                <textarea maxlength="300" placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">企业详细信息</h2>
                <div class="layui-colla-content">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">企业类型</label>
                            <div class="layui-input-inline">
                                <select name="quiz1">
                                    <option value="">请选择省</option>
                                    <option value="浙江" selected="">浙江省</option>
                                    <option value="你的工号">江西省</option>
                                    <option value="你最喜欢的老师">福建省</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="quiz2">
                                    <option value="">请选择市</option>
                                    <option value="杭州">杭州</option>
                                    <option value="宁波" disabled="">宁波</option>
                                    <option value="温州">温州</option>
                                    <option value="温州">台州</option>
                                    <option value="温州">绍兴</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="quiz3">
                                    <option value="">请选择县/区</option>
                                    <option value="西湖区">西湖区</option>
                                    <option value="余杭区">余杭区</option>
                                    <option value="拱墅区">临安市</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">经营模式</label>
                            <div class="layui-input-block">
                                <input type="radio" name="sex" value="1" title="生产型" checked="">
                                <input type="radio" name="sex" value="2" title="贸易型">
                                <input type="radio" name="sex" value="3" title="服务型">
                                <input type="radio" name="sex" value="4" title="研发型">
                                <input type="radio" name="sex" value="5" title="其他">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">注册资本</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" lay-verify="required" placeholder="单位：万元"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">年销售额</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" lay-verify="required" placeholder="单位：万元"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">员工人数</label>
                                <div class="layui-input-inline">
                                    <select name="quiz">
                                        <option value="5 人以下">5 人以下</option>
                                        <option value="5 - 10 人">5 - 10 人</option>
                                        <option value="11 - 50 人">11 - 50 人</option>
                                        <option value="51 - 100 人">51 - 100 人</option>
                                        <option value="101 - 200 人">101 - 200 人</option>
                                        <option value="201 - 300 人">201 - 300 人</option>
                                        <option value="301 - 500 人">301 - 500 人</option>
                                        <option value="501 - 1000 人">501 - 1000 人</option>
                                        <option value="1000 人以上">1000 人以上</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">公司简介</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{include file="common/footer"/}
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form, $ = layui.jquery;
    });
    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;

        //监听折叠
        element.on('collapse(test)', function (data) {
            layer.msg('展开状态：' + data.show);
        });
    });
</script>
</body>
</html>