{include file="common/loginHead"/}
<div class="main fly-user-main layui-clear" style="width: 1500px">

    {include file="common/mymenu" /}

    <div class="fly-panel fly-panel-user" pad20 style="width: 1306px">
        <blockquote class="layui-elem-quote">我的评价</blockquote>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>昵称</th>
                <th>加入时间</th>
                <th>签名</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>联创</td>
                <td>2017-11-29</td>
                <td>信阳联创科技有限公司</td>
            </tr>
            <tr>
                <td>联创科技</td>
                <td>2017-11-28</td>
                <td>信阳联创海鹏科技有限公司</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>


{include file="common/footer"/}
</body>
</html>