{include file="common/loginHead"/}
<div class="main fly-user-main layui-clear" style="width: 1500px">

    {include file="common/mymenu" /}

    <div class="fly-panel fly-panel-user" pad20 style="width: 1306px">
        {if condition="$userInfo['avatar']"}
        <img src="{:imgUrl($userInfo['avatar'])}" alt="{$userInfo.username}" width="100px" height="100px">
        {else/}
        <img src="__STATIC__/user/images/avatar/default.png" alt="{$userInfo.username}" width="100px" height="100px">
        {/if}
        <h1>
            {$userInfo.username}
            {if condition="$userInfo['sex'] eq 1"}
            <i class="iconfont icon-nan"></i>
            {else/}
            <i class="iconfont icon-nv"></i>
            {/if}
        </h1>
        <p class="fly-home-info">
            <i class="iconfont icon-shijian"></i><span>{:toDate($userInfo['reg_time'],'Y-m-d')} 加入</span>
            {if condition="$userInfo['city']"}
            <i class="iconfont icon-chengshi"></i><span>{:toCity($userInfo['city'])}</span>
            {/if}
        </p>
        {if condition="$userInfo['motto']"}
        <p class="fly-home-sign">（ {$userInfo.motto}）</p>
        {/if}
    </div>
</div>
</div>
{include file="common/footer"/}
<script>
    layui.use(['element', 'table', 'layer', 'upload', 'form'], function () {
        var element = layui.element
            , $ = layui.jquery
            , layer = layui.layer
            , table = layui.table
            , upload = layui.upload
            , form = layui.form;

    });
</script>
</body>
</html>