{include file="common/loginHead"/}



<div class="main fly-user-main layui-clear" style="width: 1500px">

    {include file="common/mymenu" /}

    <div class="fly-panel fly-panel-user" pad20 style="width: 1306px">

        <blockquote class="layui-elem-quote">我的需求</blockquote>

        <div class="demoTable">
            <div class="layui-inline">
                <input class="layui-input" name="key" id="key" placeholder="输入订单号/批次号/报告编号">
            </div>
            <!--<div class="layui-inline">-->
                <!--<select name="status" id="status" style="height: 37px;width: 100px;border: solid 1px lightgrey;">-->
                    <!--<option value="">选择状态</option>-->
                    <!--<option value="0">未受理</option>-->
                    <!--<option value="1">受理中</option>-->
                    <!--<option value="2">已完成</option>-->
                <!--</select>-->
            <!--</div>-->
            <button class="layui-btn" id="search" data-type="reload">搜索</button>
            <div style="clear: both;"></div>
        </div>

        <div class="layui-container-fluid">

            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">

                <ul class="layui-tab-title">

                    <li class="layui-this" lay-id="-1">全部</li>
                    <li class="layui" lay-id="0">未受理</li>
                    <li class="layui" lay-id="1">受理中</li>
                    <li class="layui" lay-id="2">已完成</li>

                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-tab-content">

                            <div class="layui-tab-item layui-show">

                                <table id="table0" lay-filter="test"></table>

                            </div>

                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-tab-content">

                            <div class="layui-tab-item layui-show">

                                <table id="table1" lay-filter="pre"></table>

                            </div>

                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-tab-content">

                            <div class="layui-tab-item layui-show">

                                <table id="table2" lay-filter="ing"></table>

                            </div>

                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-tab-content">

                            <div class="layui-tab-item layui-show">

                                <table id="table3" lay-filter="over"></table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            </div>

            <script type="text/html" id="action">

                <a class="layui-btn layui-btn-xs" lay-event="read">详情</a>

            </script>

            <script type="text/html" id="tools">
                <a class="layui-btn layui-btn-xs" lay-event="#">支付</a>
                <a class="layui-btn layui-btn-xs" lay-event="read">进度</a>
                <a class="layui-btn layui-btn-xs" lay-event="read">详情</a>
                <a class="layui-btn layui-btn-xs" lay-event="delete">取消</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>


            </script>

        <script type="text/html" id="pre">
            <a class="layui-btn layui-btn-xs" lay-event="#">支付</a>
            <a class="layui-btn layui-btn-xs" lay-event="read">进度</a>
            <a class="layui-btn layui-btn-xs" lay-event="read">详情</a>
            <a class="layui-btn layui-btn-xs" lay-event="delete">取消</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>


        </script>
        <script type="text/html" id="ing">
            <a class="layui-btn layui-btn-xs" lay-event="#">支付</a>
            <a class="layui-btn layui-btn-xs" lay-event="read">进度</a>
            <a class="layui-btn layui-btn-xs" lay-event="read">详情</a>
            <a class="layui-btn layui-btn-xs" lay-event="delete">取消</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>


        </script>
        <script type="text/html" id="over">
            <a class="layui-btn layui-btn-xs" lay-event="#">支付</a>
            <a class="layui-btn layui-btn-xs" lay-event="read">进度</a>
            <a class="layui-btn layui-btn-xs" lay-event="read">详情</a>
            <a class="layui-btn layui-btn-xs" lay-event="delete">取消</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>


        </script>

        </div>

    </div>

</div>

<div id="show" style="display:none">

    <div class="layui-container-fluid">

        <div class="layui-row pd20">

            <div class="layui-col-xs4">

                <blockquote class="layui-elem-quote">送检单位信息</blockquote>

                <p>需求标题：<span id="title"></span></p>

                <p>截止时间：<span id="endtime"></span></p>

                <p>邮政编码：<span id="code"></span></p>

                <p>发布公司：<span id="company"></span></p>

                <p>公司地址：<span id="address"></span></p>

                <p>联系人：<span id="r_name"></span></p>

                <p>联系电话：<span id="r_phone"></span></p>

                <p>联系人地址：<span id="r_address"></span></p>



            </div>

            <a href="{:url('User/order/index')}" class="layui-btn" style="float:right;"><span class="fa fa-send"></span> 发布检测需求</a>

            <div class="layui-col-xs4 layui-col-xs-offset4">

                <blockquote class="layui-elem-quote">送检商务要求</blockquote>

                <p>处理方式：<span id="chuli_type"></span></p>

                <p>开具发票：<span id="receipt"></span></p>

                <!--<p>资质要求：<span id="intelligence"></span></p>-->

                <p>接受分包：<span id="subpackage"></span></p>

                <p>报告版式：<span id="format"></span></p>

                <p>报告方式：<span id="way"></span></p>

                <p>是否加急：<span id="urgent"></span></p>

                <p>相关附件：</p>

            </div>

        </div>

        <div class="layui-row">

            <div class="layui-col-xs12">

                <table id="table" lay-filter="list"></table>

            </div>

        </div>

    </div>

</div>

{include file="common/footer"/}

<script>

    layui.use(['element', 'table', 'layer'], function () {

        var element = layui.element

            , $ = layui.jquery

            , layer = layui.layer

            , table = layui.table;



        var tableIn =table.render({

            elem: '#table0'

            , url: "{:url('User/order/ajax_order')}" //数据接口
            ,size: 'sm'
            , page: true //开启分页
            , cols: [[ //表头

                 {field: 'order_Sn', title: '订单编号',align: 'left',}
                 ,{field: 'reportsn', title: '报告编号',align: 'left',}
                , {field: 'tatchsn', title: '批次号',align: 'left',}
                , {field: 'title', title: '需求标题',align: 'left'}
                , {field: 'company', title: '公司',  align: 'left'}
                , {field: 'r_name', title: '姓名', align: 'center'}
                , {field: 'endtime', title: '截止时间', sort: true, align: 'center'}
                , {field: 'status', title: '订单状态',align: 'left',}
                , {field: 'price', title: '订单金额',align: 'left',}
                , {field: 'sytime', title: '实验周期',align: 'left',}
                , {field: 'sysaddr', title: '实验地址',align: 'left',}
                , {field: 'sysmobile', title: '实验电话',align: 'left',}
                , {align: 'center', toolbar: '#tools', width:250}

            ]]

        });
        //未受理
        var tableInPre =table.render({

            elem: '#table1'

            , url: "{:url('User/order/ajax_order_pre')}" //数据接口
            ,size: 'sm'
            , page: true //开启分页

            , cols: [[ //表头
                {field: 'order_Sn', title: '订单编号',align: 'left',}
                ,{field: 'reportsn', title: '报告编号',align: 'left',}
                , {field: 'tatchsn', title: '批次号',align: 'left',}
                , {field: 'title', title: '需求标题',align: 'left'}
                , {field: 'company', title: '公司',  align: 'left'}
                , {field: 'r_name', title: '姓名', align: 'center'}
                , {field: 'endtime', title: '截止时间', sort: true, align: 'center'}
                , {field: 'status', title: '订单状态',align: 'left',}
                , {field: 'price', title: '订单金额',align: 'left',}
                , {field: 'sytime', title: '实验周期',align: 'left',}
                , {field: 'sysaddr', title: '实验地址',align: 'left',}
                , {field: 'sysmobile', title: '实验电话',align: 'left',}
                , {align: 'center', toolbar: '#pre', width:250}

            ]]

        });

        var tableInIng =table.render({

            elem: '#table2'

            , url: "{:url('User/order/ajax_order_ing')}" //数据接口

            , page: true //开启分页
            ,size: 'sm'
            , cols: [[ //表头
                {field: 'order_Sn', title: '订单编号',align: 'left',}
                ,{field: 'reportsn', title: '报告编号',align: 'left',}
                , {field: 'tatchsn', title: '批次号',align: 'left',}
                , {field: 'title', title: '需求标题',align: 'left'}
                , {field: 'company', title: '公司',  align: 'left'}
                , {field: 'r_name', title: '姓名', align: 'center'}
                , {field: 'endtime', title: '截止时间', sort: true, align: 'center'}
                , {field: 'status', title: '订单状态',align: 'left',}
                , {field: 'price', title: '订单金额',align: 'left',}
                , {field: 'sytime', title: '实验周期',align: 'left',}
                , {field: 'sysaddr', title: '实验地址',align: 'left',}
                , {field: 'sysmobile', title: '实验电话',align: 'left',}
                , {align: 'center', toolbar: '#ing', width:250}

            ]]

        });

        var tableInOver =table.render({

            elem: '#table3'

            , url: "{:url('User/order/ajax_order_over')}" //数据接口

            , page: true //开启分页
            ,size: 'sm'
            , cols: [[ //表头

                {field: 'order_Sn', title: '订单编号',align: 'left',}
                ,{field: 'reportsn', title: '报告编号',align: 'left',}
                , {field: 'tatchsn', title: '批次号',align: 'left',}
                , {field: 'title', title: '需求标题',align: 'left'}
                , {field: 'company', title: '公司',  align: 'left'}
                , {field: 'r_name', title: '姓名', align: 'center'}
                , {field: 'endtime', title: '截止时间', sort: true, align: 'center'}
                , {field: 'status', title: '订单状态',align: 'left',}
                , {field: 'price', title: '订单金额',align: 'left',}
                , {field: 'sytime', title: '实验周期',align: 'left',}
                , {field: 'sysaddr', title: '实验地址',align: 'left',}
                , {field: 'sysmobile', title: '实验电话',align: 'left',}

                , {align: 'center', toolbar: '#over', width:250}

            ]]

        });

        //搜索
        $('#search').on('click', function () {
            var key = $('#key').val();
            tableIn.reload({
                where: {key: key}
            });
            tableInPre.reload({
                where: {key: key}
            });
            tableInIng.reload({
                where: {key: key}
            });
            tableInOver.reload({
                where: {key: key}
            });
        });



        table.on('tool(test)', function (obj) {

            var data = obj.data;

            if (obj.event === 'read') {

                //data.id

                var read = layer.open({

                    type: 1

                    , title: '订单详情' //不显示标题栏

                    , closeBtn: 1

                    , shade: 0.8

                    , anim: 2

                    , maxmin: true

                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出

                    , moveType: 1 //拖拽模式，0或者1

                    , content: $('#show')

                    , success: function (layero) {

                        var posid= data.id;

                        $.post("{:url('User/order/show')}", {id: posid}, function (data) {

                            if (data.code == 1) {

                                $('#title').text(data.data.title?data.data.title:'');

                                $('#endtime').text(data.data.endtime>0?datetime_format(data.data.endtime):'');

                                $('#code').text(data.data.code?data.data.code:'');

                                $('#company').text(data.data.company?data.data.company:'');

                                $('#address').text(data.data.address?data.data.address:'');

                                $('#r_name').text(data.data.r_name?data.data.r_name:'');

                                $('#r_phone').text(data.data.r_phone?data.data.r_phone:'');

                                $('#r_address').text(data.data.r_address?data.data.r_address:'');

                                $('#chuli_type').text(data.data.chuli_type?data.data.chuli_type:'');

                                $('#receipt').text(data.data.receipt?data.data.receipt:'');

                                // $('#intelligence').text(data.data.intelligence);

                                $('#subpackage').text(data.data.subpackage?data.data.subpackage:'');

                                $('#format').text(data.data.format?data.data.format:'');

                                $('#way').text(data.data.way?data.data.way:'');

                                $('#urgent').text(data.data.urgent?data.data.urgent:'');

                                //显示项目详情

                                table.render({

                                    elem: '#table'

                                    , height: 315

                                    , url: "{:url('User/order/ajax_order_show')}"+"?id=" + posid//数据接口

                                    , page: true //开启分页

                                    , cols: [[ //表头

                                        {field: 'id', title: 'ID', width: 50, align: 'center'}

                                        , {field: 'order_id', title: '订单号', width: 120, align: 'left'}

                                        , {field: 'province', title: '一级分类', width: 150, align: 'left'}

                                        , {field: 'city', title: '二级分类', width: 150, align: 'center'}

                                        , {field: 'area', title: '三级分类', width: 180, sort: true, align: 'center'}

                                        , {field: 'caizhi', title: '材质', width: 150, align: 'center'}

                                        , {field: 'xinghao', title: '型号', width: 120, align: 'center'}

                                        , {field: 'other', title: '其他', width: 120, align: 'center'}

                                        , {field: 'num', title: '样品数量', width: 180, align: 'center'}

                                        , {field: 'status', title: '检测进度', width: 120, align: 'center'}

                                        , {field: 'content', title: '检测要求', align: 'left'}

                                    ]]

                                });

                            }

                        })

                    }

                });

                layer.full(read);

            }
            if (obj.event === 'delete'){
                var id = data.id;
                $.post("{:url('User/order/cancel_order')}",{id:id},function (res) {
                    if (res.code>0){
                        alert('取消成功');
                        location.reload();
                    } else {
                        layer.msg(res.msg);
                    }
                })

            }
            if(obj.event === 'edit'){
                var id = data.id;
                location.href = "{:url('/User/order/edit')}?order_id="+id;
            }

        });
        table.on('tool(pre)', function (obj) {
            {
            var data = obj.data;

            if (obj.event === 'read')

                //data.id

                var read = layer.open({

                    type: 1

                    , title: '订单详情' //不显示标题栏

                    , closeBtn: 1

                    , shade: 0.8

                    , anim: 2

                    , maxmin: true

                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出

                    , moveType: 1 //拖拽模式，0或者1

                    , content: $('#show')

                    , success: function (layero) {

                        var posid= data.id;

                        $.post("{:url('User/order/show')}", {id: posid}, function (data) {

                            if (data.code == 1) {

                                $('#title').text(data.data.title?data.data.title:'');

                                $('#endtime').text(data.data.endtime>0?datetime_format(data.data.endtime):'');

                                $('#code').text(data.data.code?data.data.code:'');

                                $('#company').text(data.data.company?data.data.company:'');

                                $('#address').text(data.data.address?data.data.address:'');

                                $('#r_name').text(data.data.r_name?data.data.r_name:'');

                                $('#r_phone').text(data.data.r_phone?data.data.r_phone:'');

                                $('#r_address').text(data.data.r_address?data.data.r_address:'');

                                $('#chuli_type').text(data.data.chuli_type?data.data.chuli_type:'');

                                $('#receipt').text(data.data.receipt?data.data.receipt:'');

                                // $('#intelligence').text(data.data.intelligence);

                                $('#subpackage').text(data.data.subpackage?data.data.subpackage:'');

                                $('#format').text(data.data.format?data.data.format:'');

                                $('#way').text(data.data.way?data.data.way:'');

                                $('#urgent').text(data.data.urgent?data.data.urgent:'');

                                //显示项目详情

                                table.render({

                                    elem: '#table'

                                    , height: 315

                                    , url: "{:url('User/order/ajax_order_show')}"+"?id=" + posid//数据接口

                                    , page: true //开启分页

                                    , cols: [[ //表头

                                        {field: 'id', title: 'ID', width: 50, align: 'center'}

                                        , {field: 'order_id', title: '订单号', width: 120, align: 'left'}

                                        , {field: 'province', title: '一级分类', width: 150, align: 'left'}

                                        , {field: 'city', title: '二级分类', width: 150, align: 'center'}

                                        , {field: 'area', title: '三级分类', width: 180, sort: true, align: 'center'}

                                        , {field: 'caizhi', title: '材质', width: 150, align: 'center'}

                                        , {field: 'xinghao', title: '型号', width: 120, align: 'center'}

                                        , {field: 'other', title: '其他', width: 120, align: 'center'}

                                        , {field: 'num', title: '样品数量', width: 180, align: 'center'}

                                        , {field: 'status', title: '检测进度', width: 120, align: 'center'}

                                        , {field: 'content', title: '检测要求', align: 'left'}

                                    ]]

                                });

                            }

                        })

                    }

                });

                layer.full(read);

            }
            if (obj.event === 'delete'){
                var id = data.id;
                $.post("{:url('User/order/del_order')}",{id:id},function (res) {
                    if (res.code>0){
                        alert('取消成功');
                        location.reload();
                    } else {
                        layer.msg(res.msg);
                    }
                })

            }

        });
        table.on('tool(ing)', function (obj) {

            var data = obj.data;

            if (obj.event === 'read') {

                //data.id

                var read = layer.open({

                    type: 1

                    , title: '订单详情' //不显示标题栏

                    , closeBtn: 1

                    , shade: 0.8

                    , anim: 2

                    , maxmin: true

                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出

                    , moveType: 1 //拖拽模式，0或者1

                    , content: $('#show')

                    , success: function (layero) {

                        var posid= data.id;

                        $.post("{:url('User/order/show')}", {id: posid}, function (data) {

                            if (data.code == 1) {

                                $('#title').text(data.data.title?data.data.title:'');

                                $('#endtime').text(data.data.endtime>0?datetime_format(data.data.endtime):'');

                                $('#code').text(data.data.code?data.data.code:'');

                                $('#company').text(data.data.company?data.data.company:'');

                                $('#address').text(data.data.address?data.data.address:'');

                                $('#r_name').text(data.data.r_name?data.data.r_name:'');

                                $('#r_phone').text(data.data.r_phone?data.data.r_phone:'');

                                $('#r_address').text(data.data.r_address?data.data.r_address:'');

                                $('#chuli_type').text(data.data.chuli_type?data.data.chuli_type:'');

                                $('#receipt').text(data.data.receipt?data.data.receipt:'');

                                // $('#intelligence').text(data.data.intelligence);

                                $('#subpackage').text(data.data.subpackage?data.data.subpackage:'');

                                $('#format').text(data.data.format?data.data.format:'');

                                $('#way').text(data.data.way?data.data.way:'');

                                $('#urgent').text(data.data.urgent?data.data.urgent:'');

                                //显示项目详情

                                table.render({

                                    elem: '#table'

                                    , height: 315

                                    , url: "{:url('User/order/ajax_order_show')}"+"?id=" + posid//数据接口

                                    , page: true //开启分页

                                    , cols: [[ //表头

                                        {field: 'id', title: 'ID', width: 50, align: 'center'}

                                        , {field: 'order_id', title: '订单号', width: 120, align: 'left'}

                                        , {field: 'province', title: '一级分类', width: 150, align: 'left'}

                                        , {field: 'city', title: '二级分类', width: 150, align: 'center'}

                                        , {field: 'area', title: '三级分类', width: 180, sort: true, align: 'center'}

                                        , {field: 'caizhi', title: '材质', width: 150, align: 'center'}

                                        , {field: 'xinghao', title: '型号', width: 120, align: 'center'}

                                        , {field: 'other', title: '其他', width: 120, align: 'center'}

                                        , {field: 'num', title: '样品数量', width: 180, align: 'center'}

                                        , {field: 'status', title: '检测进度', width: 120, align: 'center'}

                                        , {field: 'content', title: '检测要求', align: 'left'}

                                    ]]

                                });

                            }

                        })

                    }

                });

                layer.full(read);

            }
            if (obj.event === 'delete'){
                var id = data.id;
                $.post("{:url('User/order/del_order')}",{id:id},function (res) {
                    if (res.code>0){
                        alert('取消成功');
                        location.reload();
                    } else {
                        layer.msg(res.msg);
                    }
                })

            }

        });
        table.on('tool(over)', function (obj) {

            var data = obj.data;

            if (obj.event === 'read') {

                //data.id

                var read = layer.open({

                    type: 1

                    , title: '订单详情' //不显示标题栏

                    , closeBtn: 1

                    , shade: 0.8

                    , anim: 2

                    , maxmin: true

                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出

                    , moveType: 1 //拖拽模式，0或者1

                    , content: $('#show')

                    , success: function (layero) {

                        var posid= data.id;

                        $.post("{:url('User/order/show')}", {id: posid}, function (data) {

                            if (data.code == 1) {

                                $('#title').text(data.data.title?data.data.title:'');

                                $('#endtime').text(data.data.endtime>0?datetime_format(data.data.endtime):'');

                                $('#code').text(data.data.code?data.data.code:'');

                                $('#company').text(data.data.company?data.data.company:'');

                                $('#address').text(data.data.address?data.data.address:'');

                                $('#r_name').text(data.data.r_name?data.data.r_name:'');

                                $('#r_phone').text(data.data.r_phone?data.data.r_phone:'');

                                $('#r_address').text(data.data.r_address?data.data.r_address:'');

                                $('#chuli_type').text(data.data.chuli_type?data.data.chuli_type:'');

                                $('#receipt').text(data.data.receipt?data.data.receipt:'');

                                // $('#intelligence').text(data.data.intelligence);

                                $('#subpackage').text(data.data.subpackage?data.data.subpackage:'');

                                $('#format').text(data.data.format?data.data.format:'');

                                $('#way').text(data.data.way?data.data.way:'');

                                $('#urgent').text(data.data.urgent?data.data.urgent:'');

                                //显示项目详情

                                table.render({

                                    elem: '#table'

                                    , height: 315

                                    , url: "{:url('User/order/ajax_order_show')}"+"?id=" + posid//数据接口

                                    , page: true //开启分页

                                    , cols: [[ //表头

                                        {field: 'id', title: 'ID', width: 50, align: 'center'}

                                        , {field: 'order_id', title: '订单号', width: 120, align: 'left'}

                                        , {field: 'province', title: '一级分类', width: 150, align: 'left'}

                                        , {field: 'city', title: '二级分类', width: 150, align: 'center'}

                                        , {field: 'area', title: '三级分类', width: 180, sort: true, align: 'center'}

                                        , {field: 'caizhi', title: '材质', width: 150, align: 'center'}

                                        , {field: 'xinghao', title: '型号', width: 120, align: 'center'}

                                        , {field: 'other', title: '其他', width: 120, align: 'center'}

                                        , {field: 'num', title: '样品数量', width: 180, align: 'center'}

                                        , {field: 'status', title: '检测进度', width: 120, align: 'center'}

                                        , {field: 'content', title: '检测要求', align: 'left'}

                                    ]]

                                });

                            }

                        })

                    }

                });

                layer.full(read);

            }
            if (obj.event === 'delete'){
                var id = data.id;
                $.post("{:url('User/order/del_order')}",{id:id},function (res) {
                    if (res.code>0){
                        alert('取消成功');
                        location.reload();
                    } else {
                        layer.msg(res.msg);
                    }
                })

            }

        });

    });
    function complete_zero(num){
        if(parseInt(num) < 10){
            num = '0'+num;
        }
        return num;
    }
    function datetime_format(sj) {

        var now = new Date(sj*1000);
        var   year=now.getFullYear();
        var   month=now.getMonth()+1;
        var   date=now.getDate();
        var   hour=now.getHours();
        var   minute=now.getMinutes();
        var   second=now.getSeconds();
        return   year+"-"+complete_zero(month)+"-"+complete_zero(date)+"   "+complete_zero(hour)+":"+complete_zero(minute)+":"+complete_zero(second);
    }

</script>

</body>

</html>