{include file="common/loginHead"/}
<div class="main fly-user-main layui-clear" style="width: 1500px">

    {include file="common/mymenu" /}

    <div class="fly-panel fly-panel-user" pad20 style="width: 1306px">
        <blockquote class="layui-elem-quote">订单管理</blockquote>
        <div class="demoTable">
            <div class="layui-inline">
                <input class="layui-input" name="key" id="key" placeholder="输入订单号/批次号/报告编号">
            </div>
            <!--<div class="layui-inline">-->
            <!--<select name="status" id="status" style="height: 37px;width: 100px;border: solid 1px lightgrey;">-->
            <!--<option value="">选择状态</option>-->
            <!--<option value="0">未受理</option>-->
            <!--<option value="1">受理中</option>-->
            <!--<option value="2">已完成</option>-->
            <!--</select>-->
            <!--</div>-->
            <button class="layui-btn" id="search" data-type="reload">搜索</button>
            <div style="clear: both;"></div>
        </div>
        <div class="layui-container-fluid">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="-1">全部</li>
                    <li class="layui" lay-id="1">受理中</li>
                    <li class="layui" lay-id="2">已完成</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <table id="table0" lay-filter="test"></table>
                    </div>
                    <div class="layui-tab-item">
                        <table id="table1" lay-filter="order_ing"></table>
                    </div>
                    <div class="layui-tab-item">
                        <table id="table2" lay-filter="order_over"></table>
                    </div>
                </div>
            </div>
            <script type="text/html" id="action">
                <a class="layui-btn layui-btn-xs" lay-event="read">详情</a>
            </script>
            <script type="text/html" id="tools">
                <a class="layui-btn layui-btn-xs" lay-event="read">进度</a>
                <a class="layui-btn layui-btn-xs" lay-event="read">详情</a>

            </script>
            <script type="text/html" id="order_ing">
                <a class="layui-btn layui-btn-xs" lay-event="read">进度</a>
                <a class="layui-btn layui-btn-xs" lay-event="read">详情</a>

            </script>
            <script type="text/html" id="order_over">
                <a class="layui-btn layui-btn-xs" lay-event="read">进度</a>
                <a class="layui-btn layui-btn-xs" lay-event="read">详情</a>

            </script>
        </div>
    </div>
</div>
<div id="show" style="display:none">
    <div class="layui-container-fluid">
        <div class="layui-row pd20">
            <div class="layui-col-xs4">
                <blockquote class="layui-elem-quote">送检单位信息</blockquote>
                <p>需求标题：<span id="title"></span></p>
                <p>截止时间：<span id="endtime"></span></p>
                <p>邮政编码：<span id="code"></span></p>
                <p>发布公司：<span id="company"></span></p>
                <p>公司地址：<span id="address"></span></p>
                <p>联系人：<span id="r_name"></span></p>
                <p>联系电话：<span id="r_phone"></span></p>
                <p>联系人地址：<span id="r_address"></span></p>

            </div>
            <div class="layui-col-xs4 layui-col-xs-offset4">
                <blockquote class="layui-elem-quote">送检商务要求</blockquote>
                <p>处理方式：<span id="chuli_type"></span></p>
                <p>开具发票：<span id="receipt"></span></p>
                <!--<p>资质要求：<span id="intelligence"></span></p>-->
                <p>接受分包：<span id="subpackage"></span></p>
                <p>报告版式：<span id="format"></span></p>
                <p>报告方式：<span id="way"></span></p>
                <p>是否加急：<span id="urgent"></span></p>
                <p>相关附件：</p>
            </div>
        </div>

    </div>
    <div class="layui-container-fluid">
        <div class="layui-row  pd20">
            <div class="layui-col-xs7">
                <table id="table" lay-filter="list"></table>
            </div>
            <div class="layui-col-xs4 layui-col-xs-offset1">
                <form class="layui-form layui-form-pane" action="" id="add_jindu">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">添加项目进度</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" name="desc" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <button type="button" class="layui-btn" id="test2">附件上传</button>
                        <input type="hidden" name="file" id="file">
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            <img class="layui-upload-img" id="demo1">
                            <p id="demoText"></p>
                        </blockquote>
                    </div>
                    <div class="layui-form-item">
                        <input type="hidden" name="order_id" id="order_id">
                        <button class="layui-btn" lay-submit="" lay-filter="jindu_add">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{include file="common/footer"/}
<script>
    var posid = '';
    layui.use(['element', 'table', 'layer','upload'], function () {
        var element = layui.element
            , $ = layui.jquery
            , layer = layui.layer
            , table = layui.table
            ,upload = layui.upload;
         var tableIn = table.render({
            elem: '#table0'
            , url: "{:url('User/order/ajax_get_order')}" //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width:80, align: 'center'}
                 , {field: 'order_Sn', title: '订单编号',align: 'left',width: 150}
                 ,{field: 'reportsn', title: '报告编号',align: 'left',width: 150}
                 , {field: 'tatchsn', title: '批次号',align: 'left',width: 150}
                 , {field: 'title', title: '需求标题', width: 220, align: 'left'}
                , {field: 'company', title: '公司', width: 160, align: 'left'}
                , {field: 'r_name', title: '姓名', width: 100, align: 'center'}
                , {field: 'endtime', title: '截止时间', width: 100, sort: true, align: 'center'}
                , {field: 'status', title: '状态', width: 80, align: 'center'}
                , {align: 'center', toolbar: '#tools'}
            ]]
        });
        var tableInIng = table.render({
            elem: '#table1'
            , url: "{:url('User/order/ajax_get_order_ing')}" //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width:80, align: 'center'}
                , {field: 'order_Sn', title: '订单编号',align: 'left',width: 150}
                ,{field: 'reportsn', title: '报告编号',align: 'left',width: 150}
                , {field: 'tatchsn', title: '批次号',align: 'left',width: 150}
                , {field: 'title', title: '需求标题', width: 220, align: 'left'}
                , {field: 'company', title: '公司', width: 160, align: 'left'}
                , {field: 'r_name', title: '姓名', width: 100, align: 'center'}
                , {field: 'endtime', title: '截止时间', width: 100, sort: true, align: 'center'}
                , {field: 'status', title: '状态', width: 80, align: 'center'}
                , {align: 'center', toolbar: '#order_ing'}
            ]]
        });
        var tableInOver = table.render({
            elem: '#table2'
            , url: "{:url('User/order/ajax_get_order_over')}" //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width:80, align: 'center'}
                , {field: 'order_Sn', title: '订单编号',align: 'left',width: 150}
                ,{field: 'reportsn', title: '报告编号',align: 'left',width: 150}
                , {field: 'tatchsn', title: '批次号',align: 'left',width: 150}
                , {field: 'title', title: '需求标题', width: 220, align: 'left'}
                , {field: 'company', title: '公司', width: 160, align: 'left'}
                , {field: 'r_name', title: '姓名', width: 100, align: 'center'}
                , {field: 'endtime', title: '截止时间', width: 100, sort: true, align: 'center'}
                , {field: 'status', title: '状态', width: 80, align: 'center'}
                , {align: 'center', toolbar: '#order_over'}
            ]]
        });

        //搜索
        $('#search').on('click', function () {
            var key = $('#key').val();
            tableIn.reload({
                where: {key: key}
            });
            tableInIng.reload({
                where: {key: key}
            });
            tableInOver.reload({
                where: {key: key}
            });
        });

        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'read') {
                var read = layer.open({
                    type: 1
                    , title: '订单详情' //不显示标题栏
                    , closeBtn: 1
                    , shade: 0.8
                    , anim: 2
                    , maxmin: true
                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    , moveType: 1 //拖拽模式，0或者1
                    , content: $('#show')
                    , success: function (layero) {
                        posid= data.id;
                        $("#order_id").val(posid);
                        $.post("{:url('User/order/show')}", {id: posid}, function (data) {
                            if (data.code == 1) {
                                $('#title').text(data.data.title?data.data.title:'');
                                $('#endtime').text(data.data.endtime>0?datetime_format(data.data.endtime):'');
                                $('#code').text(data.data.code?data.data.code:'');
                                $('#company').text(data.data.company?data.data.company:'');
                                $('#address').text(data.data.address?data.data.address:'');
                                $('#r_name').text(data.data.r_name?data.data.r_name:'');
                                $('#r_phone').text(data.data.r_phone?data.data.r_phone:'');
                                $('#r_address').text(data.data.r_address?data.data.r_address:'');
                                $('#chuli_type').text(data.data.chuli_type?data.data.chuli_type:'');
                                $('#receipt').text(data.data.receipt?data.data.receipt:'');
                                // $('#intelligence').text(data.data.intelligence);
                                $('#subpackage').text(data.data.subpackage?data.data.subpackage:'');
                                $('#format').text(data.data.format?data.data.format:'');
                                $('#way').text(data.data.way?data.data.way:'');
                                $('#urgent').text(data.data.urgent?data.data.urgent:'');
                                //显示项目详情
                                table.render({
                                    elem: '#table'
                                    , url: "{:url('User/order/ajax_order_show')}"+"?id=" + posid//数据接口
                                    , page: true //开启分页
                                    , cols: [[ //表头
                                        {field: 'id', title: 'ID', width: 120, align: 'center',event:'show'}
                                        , {field: 'order_id', title: '订单号', width: 120, align: 'left',event:'show'}
                                        , {field: 'area', title: '检测项目', width: 130,align: 'center',event:'show'}
                                        , {field: 'caizhi', title: '材质', width: 150, align: 'center',event:'show'}
                                        , {field: 'xinghao', title: '型号', width: 120, align: 'center',event:'show'}
                                        , {field: 'other', title: '其他', width: 120, align: 'center',event:'show'}
                                        , {field: 'num', title: '数量', width: 80, align: 'center',event:'show'}
                                        , {field: 'status', title: '检测进度', width: 120, align: 'center',event:'show'}
                                        , {field: 'content', title: '检测要求', align: 'left',event:'show'}
                                    ]]
                                });
                            }
                        })
                    }
                });
                layer.full(read);
            }
        });
        table.on('tool(order_ing)', function (obj) {
            var data = obj.data;
            if (obj.event === 'read') {
                var read = layer.open({
                    type: 1
                    , title: '订单详情' //不显示标题栏
                    , closeBtn: 1
                    , shade: 0.8
                    , anim: 2
                    , maxmin: true
                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    , moveType: 1 //拖拽模式，0或者1
                    , content: $('#show')
                    , success: function (layero) {
                        posid= data.id;
                        $("#order_id").val(posid);
                        $.post("{:url('User/order/show')}", {id: posid}, function (data) {
                            if (data.code == 1) {
                                $('#title').text(data.data.title?data.data.title:'');
                                $('#endtime').text(data.data.endtime>0?datetime_format(data.data.endtime):'');
                                $('#code').text(data.data.code?data.data.code:'');
                                $('#company').text(data.data.company?data.data.company:'');
                                $('#address').text(data.data.address?data.data.address:'');
                                $('#r_name').text(data.data.r_name?data.data.r_name:'');
                                $('#r_phone').text(data.data.r_phone?data.data.r_phone:'');
                                $('#r_address').text(data.data.r_address?data.data.r_address:'');
                                $('#chuli_type').text(data.data.chuli_type?data.data.chuli_type:'');
                                $('#receipt').text(data.data.receipt?data.data.receipt:'');
                                // $('#intelligence').text(data.data.intelligence);
                                $('#subpackage').text(data.data.subpackage?data.data.subpackage:'');
                                $('#format').text(data.data.format?data.data.format:'');
                                $('#way').text(data.data.way?data.data.way:'');
                                $('#urgent').text(data.data.urgent?data.data.urgent:'');
                                //显示项目详情
                                table.render({
                                    elem: '#table'
                                    , url: "{:url('User/order/ajax_order_show')}"+"?id=" + posid//数据接口
                                    , page: true //开启分页
                                    , cols: [[ //表头
                                        {field: 'id', title: 'ID', width: 120, align: 'center',event:'show'}
                                        , {field: 'order_id', title: '订单号', width: 120, align: 'left',event:'show'}
                                        , {field: 'area', title: '检测项目', width: 130,align: 'center',event:'show'}
                                        , {field: 'caizhi', title: '材质', width: 150, align: 'center',event:'show'}
                                        , {field: 'xinghao', title: '型号', width: 120, align: 'center',event:'show'}
                                        , {field: 'other', title: '其他', width: 120, align: 'center',event:'show'}
                                        , {field: 'num', title: '数量', width: 80, align: 'center',event:'show'}
                                        , {field: 'status', title: '检测进度', width: 120, align: 'center',event:'show'}
                                        , {field: 'content', title: '检测要求', align: 'left',event:'show'}
                                    ]]
                                });
                            }
                        })
                    }
                });
                layer.full(read);
            }
        });
        table.on('tool(order_over)', function (obj) {
            var data = obj.data;
            if (obj.event === 'read') {
                var read = layer.open({
                    type: 1
                    , title: '订单详情' //不显示标题栏
                    , closeBtn: 1
                    , shade: 0.8
                    , anim: 2
                    , maxmin: true
                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    , moveType: 1 //拖拽模式，0或者1
                    , content: $('#show')
                    , success: function (layero) {
                        posid= data.id;
                        $("#order_id").val(posid);
                        $.post("{:url('User/order/show')}", {id: posid}, function (data) {
                            if (data.code == 1) {
                                $('#title').text(data.data.title?data.data.title:'');
                                $('#endtime').text(data.data.endtime>0?datetime_format(data.data.endtime):'');
                                $('#code').text(data.data.code?data.data.code:'');
                                $('#company').text(data.data.company?data.data.company:'');
                                $('#address').text(data.data.address?data.data.address:'');
                                $('#r_name').text(data.data.r_name?data.data.r_name:'');
                                $('#r_phone').text(data.data.r_phone?data.data.r_phone:'');
                                $('#r_address').text(data.data.r_address?data.data.r_address:'');
                                $('#chuli_type').text(data.data.chuli_type?data.data.chuli_type:'');
                                $('#receipt').text(data.data.receipt?data.data.receipt:'');
                                // $('#intelligence').text(data.data.intelligence);
                                $('#subpackage').text(data.data.subpackage?data.data.subpackage:'');
                                $('#format').text(data.data.format?data.data.format:'');
                                $('#way').text(data.data.way?data.data.way:'');
                                $('#urgent').text(data.data.urgent?data.data.urgent:'');
                                //显示项目详情
                                table.render({
                                    elem: '#table'
                                    , url: "{:url('User/order/ajax_order_show')}"+"?id=" + posid//数据接口
                                    , page: true //开启分页
                                    , cols: [[ //表头
                                        {field: 'id', title: 'ID', width: 120, align: 'center',event:'show'}
                                        , {field: 'order_id', title: '订单号', width: 120, align: 'left',event:'show'}
                                        , {field: 'area', title: '检测项目', width: 130,align: 'center',event:'show'}
                                        , {field: 'caizhi', title: '材质', width: 150, align: 'center',event:'show'}
                                        , {field: 'xinghao', title: '型号', width: 120, align: 'center',event:'show'}
                                        , {field: 'other', title: '其他', width: 120, align: 'center',event:'show'}
                                        , {field: 'num', title: '数量', width: 80, align: 'center',event:'show'}
                                        , {field: 'status', title: '检测进度', width: 120, align: 'center',event:'show'}
                                        , {field: 'content', title: '检测要求', align: 'left',event:'show'}
                                    ]]
                                });
                            }
                        })
                    }
                });
                layer.full(read);
            }
        });

        //多图片上传
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test2'
            ,url: "{:url('UpFiles/upImages')}"
            ,accept:'file'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else{
                    $("#file").val(res.src);
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });

    layui.use(['form', 'jquery'], function () {
        var $ = layui.jquery,
            form = layui.form;
        layer = layui.layer;
        $form = $('#add_jindu');
        form.render();
        //监听提交
        form.on('submit(jindu_add)', function (data) {
            if(data.field.order_id == ''){
                layer.msg('请从左侧选择一个订单');
            }else{
                $.post("{:url('Order/addjindu')}", $form.serialize(), function (res) {
                    if (res.code > 0){
                        layer.msg('提交成功');
                        location.reload();
                        // tableIn.reload();
                    }else{
                        layer.msg('提交失败');
                        location.reload();
                        // tableIn.reload();
                    }
                });
            }
            return false;
        });

    });
    function complete_zero(num){
        if(parseInt(num) < 10){
            num = '0'+num;
        }
        return num;
    }
    function datetime_format(sj) {

        var now = new Date(sj*1000);
        var   year=now.getFullYear();
        var   month=now.getMonth()+1;
        var   date=now.getDate();
        var   hour=now.getHours();
        var   minute=now.getMinutes();
        var   second=now.getSeconds();
        return   year+"-"+complete_zero(month)+"-"+complete_zero(date)+"   "+complete_zero(hour)+":"+complete_zero(minute)+":"+complete_zero(second);
    }
</script>
</body>
</html>