{include file="common/head"/}
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this" lay-id="1">修改实验室分类</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <form class="layui-form" action="">

                <div class="layui-form-item">
                    <label class="layui-form-label">实验室分类</label>
                    <div class="layui-input-inline">
                        <select  lay-filter="f_type" name="catid">
                            <option value=""  selected="">请选择一级分类</option>
                            {foreach name="category" item="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" name="id" value="{$id}">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/foot"/}
<script>
    layui.use(['element','table', 'layer','form'], function(){
        var element = layui.element
            ,$ = layui.jquery
            ,layer = layui.layer
            ,table= layui.table
            ,form = layui.form;
        form.on('submit(demo1)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            layer.msg(JSON.stringify(data.field));
            $.post("{:url('change_category')}",data.field,function(res){
                layer.close(loading);
                if(res.code > 0){
                    layer.msg(res.msg,{icon: 1, time: 1000},function(){
                        location.href = res.url;
                    });
                }else{
                    layer.msg(res.msg,{icon: 2, time: 1000});
                }
            });
            return false;
        })
    });
</script>
</body>
</html>