{include file="common/head"/}
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this" lay-id="1">实验室列表</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <table id="table" lay-filter="test"></table>
        </div>
    </div>
</div>
<script type="text/html" id="action">
    <a  class="layui-btn layui-btn-xs" href="{:url('Sysgl/change_category','','')}/id/{{d.id}}">修改分类</a>
    <a  class="layui-btn layui-btn-xs" lay-event="read">详情</a>
    <a  class="layui-btn layui-btn-xs" lay-event="status">禁用</a>
    <a  class="layui-btn layui-btn-xs" lay-event="del">删除</a>

        {{# if(d.position=='0'){ }}
    <a  class="layui-btn layui-btn-xs" lay-event="position">
        置顶
    </a>
        {{# } else { }}
    <a  class="layui-btn  layui-btn-xs" lay-event="qposition">
        取消置顶
    </a>
        {{# } }}

</script>
{include file="common/foot"/}
</body>
<div id="show" style="display: none">
    <style>
        p{
            line-height: 28px;
        }
        .yyzz img,.zzry img{
            width: 100px;
            height: 133px;
            border:1px solid #eeeccc;
            padding:2px;
            margin:5px;
            cursor: pointer;
            transition: all 0.6s;
        }
        .yyzz img:hover,.zzry img:hover{
            transform: scale(5);
        }
    </style>
    <div class="layui-container-fluid" style="padding:15px;">
        <div class="layui-row">
            <div class="layui-col-xs4">
                <blockquote class="layui-elem-quote"  style="margin-top: 20px">基本信息</blockquote>
                <p>公司名称：<span id="company"></span></p>
                <p>联系电话：<span id="tel"></span></p>
                <p>公司邮箱：<span id="email"></span></p>
                <p>公司地址：<span id="address"></span></p>
                <p>联系人：<span id="username"></span></p>
                <p>联系电话：<span id="mobile"></span></p>
                <blockquote class="layui-elem-quote"  style="margin-top: 20px">检测能力</blockquote>
                <p>
                    <span id="jcnl"></span>
                </p>
                <blockquote class="layui-elem-quote"  style="margin-top: 20px">检测案例</blockquote>
                <p>
                    <span id="cases"></span>
                </p>
                <blockquote class="layui-elem-quote"  style="margin-top: 20px">业务说明</blockquote>
                <p>
                    <span id="ywsm"></span>
                </p>
            </div>
            <div class="layui-col-xs7 layui-col-xs-offset1">
                <blockquote class="layui-elem-quote"  style="margin-top: 20px">公司简介</blockquote>
                <p>
                    <span id="desc"></span>
                </p>

                <blockquote class="layui-elem-quote"  style="margin-top: 20px">营业执照</blockquote>
                <p class="yyzz">

                </p>
                <blockquote class="layui-elem-quote"  style="margin-top: 20px">资质荣誉</blockquote>
                <p class="zzry">

                </p>
            </div>
        </div>
    </div>
</div>
</html>
<script>
    layui.use(['element','table', 'layer'], function(){
        var element = layui.element
            ,$ = layui.jquery
            ,layer = layui.layer
            ,table= layui.table;

        var tableIn = table.render({
            elem: '#table'
            ,url: "{:url('ajax_list')}" + "?status=1" //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,cols: [[ //表头
                {field: 'uid', title: 'ID', width:90,align:'center'}
                ,{field: 'name', title: '公司名称', width:250,align:'left'}
                ,{field: 'catid', title: '分类', width:150,align:'left'}
                ,{field: 'tel', title: '固定电话', width:180,align:'left'}
                ,{field: 'email', title: '电子邮箱', width:250, align:'center'}
                ,{field: 'address', title: '地址', width: 197,align:'center'}
                ,{field: 'username', title: '联系人', width:120, sort: true,align:'center'}
                ,{field: 'mobile', title: '手机号', width: 120,align:'center'}
                ,{align: 'center', toolbar: '#action',width:'300',fixed:'right'}
            ]]
        });
        table.on('tool(test)', function(obj) {
            var data = obj.data;
            if (obj.event === 'read') {
                $.post("{:url('ajax_read')}",{id:data.id},function(res){
                    if (res.code == 1){
                        $('#company').text(res.data.name);
                        $('#tel').text(res.data.tel);
                        $('#address').text(res.data.address);
                        $('#email').text(res.data.email);
                        $('#username').text(res.data.username);
                        $('#mobile').text(res.data.mobile);
                        $('#desc').text(res.data.desc);
                        $('#jcnl').text(res.data.jcnl);
                        $('#ywsm').text(res.data.ywsm);
                        $('#cases').text(res.data.cases);
                        for(i in res.data.yyzz){
                            $(".yyzz").append("<img src='/Public"+res.data.yyzz[i]+"'>");
                        }
                        for(t in res.data.zzry){
                            $(".zzry").append("<img src='/Public"+res.data.zzry[t]+"'>");
                        }
                        var index = layer.open({
                            type: 1
                            , title: '实验室详情' //不显示标题栏
                            , closeBtn: 1
                            , area: '300px;'
                            , shade: 0.8
                            , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                            , moveType: 1 //拖拽模式，0或者1
                            , content: $("#show")
                        });
                        layer.full(index);
                    }
                });
            }
            if (obj.event === 'status') {
                var tr = obj.tr; //获得当前行 tr 的DOM对象
                $.post("{:url('ajax_status')}",{id:data.id},function(res){
                    if (res.code == 1){
                        layer.msg(res.msg);
                        obj.del();
                    }
                });
            }
            if (obj.event === 'del') {
                var tr = obj.tr; //获得当前行 tr 的DOM对象
                layer.confirm('您确定要删除吗？', function(index) {
                    $.post("{:url('ajax_deletesys')}", {id: data.id}, function (res) {
                        if (res.code == 1) {
                            layer.msg(res.msg);
                            obj.del();
                        }
                    });
                });
            }
            if (obj.event === 'position') {
                var tr = obj.tr; //获得当前行 tr 的DOM对象
                $.post("{:url('ajax_position')}",{id:data.id},function(res){
                    if (res.code == 1){
                        layer.msg(res.msg);
                        tableIn.reload();
                    }
                });
            }
            if (obj.event === 'qposition') {
                var tr = obj.tr; //获得当前行 tr 的DOM对象
                $.post("{:url('ajax_qposition')}",{id:data.id},function(res){
                    if (res.code == 1){
                        layer.msg(res.msg);
                        tableIn.reload();
                    }
                });
            }
        });
    });
</script>