{include file="common/head"/}
<div class="container mt-15">
    <div class="row">
        <div class="col-sm-3">
            <div style="width:100%;height: 60px;background: url(__PUBLIC__/style/images/olBG.jpg) no-repeat 100% 100%;line-height: 60px;font-size: 16px;color: #fff;padding-left: 15px">
                资质能力
            </div>
            <ul class="list-group">
                {clt:category db='category' id="vo" where="parentid = $cid" order="listorder asc" limit='5'}
                <li class="list-group-item"><a href="../index.php/home-zizhinengli-index-catId-{$vo.id}.html" title="">{$vo.catname}</a></li>
                {/clt:category}
            </ul>
        </div>
        <div class="col-sm-9">
            {volist name="$list" id="v"}
            <div class="media" style="border-bottom: dotted 1px #fefefe; padding-bottom: 20px">
                <div class="media-left" style="width: 120px; max-height: 90px;overflow: hidden;">
                    <a href="{:url('home/info',array('id'=>$v['id'],'catId'=>$v['catid']))}">
                        <img class="media-object" src="../public/{$v.thumb}" alt="..." style="width: 120px;height: 90px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{$v.title}</h4>
                    {:str_cut($v['content'],120,'...')}
                </div>
            </div>
            {/volist}
            {$page}
        </div>
    </div>
</div>
{include file="common/footer"/}