{include file="common/head"/}
<style type="text/css" media="screen">
body{
    background: #f6f8f5;
}
.r-title {
    overflow: hidden;
    border-bottom: 1px solid #17365d;
    margin-bottom: 30px;
}
.r-title p {
    line-height: 30px;
    font-size: 18px;
    float: left;
    text-indent: 20px;
}
.path {
    float: right;
    overflow: hidden;
}
.path li{
    float: left;
    list-style: none;
    margin-left: 15px;
}
.col-sm-9 img{
    max-width: 100%;
}
</style>
<div class="container mt-15">
    <div class="row" style="margin-bottom: 15px">
        <div class="col-sm-12">
            <a href=""><img src="../news.jpg" alt="" width="100%"></a>
        </div>
    </div>
    <div class="row no-gutter">
        {include file="Common/new_right" /}
        <div class="col-sm-9 content">
            <div class="pageinfo">
            <h3 class="newstitle">{$info.title}</h3>

                <div style="color: #666;font-size: 14px;float: right;margin-right: 10px;"><?php echo date('Y-m-d H:i',$info['createtime']);?></div>
            {$info.content}
            </div>
        </div>

    </div>
</div>

<!-- maincontent end here -->
{include file="common/footer"/}