{include file="common/head"/}
<style type="text/css" media="screen">
body{
    background: #f6f8f5;
}
.r-title {
    overflow: hidden;
    border-bottom: 1px solid #17365d;
    margin-bottom: 30px;
}
.r-title p {
    line-height: 30px;
    font-size: 18px;
    float: left;
    text-indent: 20px;
}
.path {
    float: right;
    overflow: hidden;
}
.path li{
    float: left;
    list-style: none;
    margin-left: 15px;
}
.col-sm-9 img{
    width: 100%;
}
</style>
<div class="container mt-15">
    <div class="row" style="margin-bottom: 15px">
        <div class="col-sm-12">
            <a href=""><img src="../news.jpg" alt="" width="100%"></a>
        </div>
    </div>
    <div class="row no-gutter">
        <div class="col-sm-3 catmain">
            <div class="cattit">
                新闻资讯
            </div>
            <ul class="list-group catlist">
                {clt:category db='category' id="vo" where="parentid = 1" order="listorder asc" limit='5'}
                <li class="list-group-item"><a href="../index.php/home-zizhinengli-index-catId-{$vo.id}.html" title="">{$vo.catname}<span class="fa fa-angle-right pull-right"></span></a></li>
                {/clt:category}
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="piclist">
                {volist name="$aaa" id="v"}
                <div class="media" style="border-bottom: dotted 1px #eee; padding-bottom: 20px">
                    <div class="media-left" style="width: 220px; max-height: 150px;overflow: hidden;">
                        <a href="{:url('home/info',array('id'=>$v['id'],'catId'=>$v['catid']))}">
                            <img class="media-object" src="../public/{$v.thumb|default="default.jpg"}" alt="..." style="width: 220px;height: 150px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="{:url('home/info',array('id'=>$v['id'],'catId'=>$v['catid']))}">{$v.title}</a></h4>
                        <div style="color: #666;font-size: 14px;float: right;margin-right: 5px;"><?php echo date('Y-m-d H:i',$v['createtime']);?></div>
                        <br>
                        <div class="desc"><a href="{:url('home/info',array('id'=>$v['id'],'catId'=>$v['catid']))}">{:str_cut(strip_tags($v['content']),120,'...')}</a></div>
                    </div>
                </div>
                {/volist}
                {$page}
            </div>
        </div>
    </div>
</div>
{include file="common/footer"/}