<style>
    ul.list {
        margin: 0;
        padding: 0;
        margin-top: 20px;
    }

    ul.list li {
        list-style: none;
        line-height: 35px;
        color: #a1a1a2;
    }

    ul.list li a {
        color: #a1a1a2;
    }

    .footer p, .footer .title, h4 {
        color: #a1a1a2;
    }

    .footer .title {
        font-weight: 700;
    }
    .bottom a{
        margin: 0 8px;
        color: #a1a1a2;
    }
    .bottom a:last-child{
        margin-right: 25px;
    }
    .bottom span{
        color:#a1a1a2
    }
    .toolbar-item,.toolbar-layer{background:url(__PUBLIC__/toolbar.png) no-repeat;}
    .toolbar{position:fixed;right:0px;bottom:50px;}/*假设网页宽度为1200px，导航条在右侧悬浮*/
    .toolbar-item{display:block;width:52px;height:52px;margin-top:1px;position:relative;-moz-transition:background-position 1s;-ms-transition:background-position 1s;-o-moz-transition:background-position 1s;-webkit-moz-transition:background-position 1s;transition:background-position 1s;}
    .toolbar-item:hover .toolbar-layer{opacity:1;filter:alpha(opacity=100);transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);}
    .toolbar-item-qq{background-position:0 -922px;}
    .toolbar-item-qq:hover{background-position:0 -984px;}
    .toolbar-item-weixin{background-position:0 -798px;}
    .toolbar-item-weixin:hover{background-position:0 -860px;}
    .toolbar-item-weixin .toolbar-layer{height:212px;background-position:0 0;}
    .toolbar-item-feedback{background-position:0 -426px;}
    .toolbar-item-feedback:hover{background-position:0 -488px;}
    .toolbar-item-app{background-position:0 -550px;}
    .toolbar-item-app:hover{background-position:0 -612px;}
    .toolbar-item-app .toolbar-layer{height:194px;background-position:0 -222px;}
    .toolbar-item-top{background-position:0 -674px;}
    .toolbar-item-top:hover{background-position:0 -736px;}
    .toolbar-layer{position:absolute;right:46px;bottom:-10px;width:172px;opacity:0;filter:alpha(opacity=0);
        transform-origin: 95% 95%;-moz-transform-origin: 95% 95%;-ms-transform-origin: 95% 95%;-o-transform-origin: 95% 95%;-webkit-transform-origin: 95% 95%;transform:scale(0.01);
        -moz-transform:scale(0.01);-ms-transform:scale(0.01);-o-transform:scale(0.01);-webkit-transform:scale(0.01);transition:all 1s;-moz-transition:all 1s;-ms-transition:all 1s;-o-transition:all 1s;-webkit-transition:all 1s;}
</style>
<div class="container-fluid footer mt-15">

    <div class="container">
        <div class="row">
            <div class="col-sm-2" style="width:180px;">
                <div class="title">操作指南</div>
                <ul class="list">
                    <li><a href="{:url('index/show')}?type=13">如何注册</a></li>
                    <li><a href="{:url('index/show')}?type=14">实验室入驻指南</a></li>
                    <li><a href="{:url('index/show')}?type=15">需求发布指南</a></li>
                    <!--<li><a href="">注册协议</a></li>-->
                </ul>
            </div>
            <div class="col-sm-2" style="width:180px;">
                <div class="title">关于我们</div>
                <ul class="list">
                    <li><a href="{:url('index/show_page')}?type=36">发展历程</a></li>
                    <!--<li><a href="">科室简介</a></li>-->
                    <li><a href="{:url('index/show_page')}?type=33">单位介绍</a></li>
                    <!--<li><a href="">大事记</a></li>-->
                    <li><a href="{:url('index/show_page')}?type=37">愿景使命</a></li>
                    <li><a href="{:url('index/show_page')}?type=38">人力资源</a></li>
                </ul>
            </div>
            <div class="col-sm-3" style="width:320px;">
                <div class="title">联系我们</div>
                <ul class="list">
                    <li>联系电话：0376-3722819</li>
                    <li>邮编：464000</li>
                    <li>邮箱：ht694jczx@126.com</li>
                    <li>地址：信阳市高新技术产业开发区北环路13号</li>
                </ul>
            </div>
            <div class="col-sm-3" style="width:300px;">
                <div class="title">技术支持</div>
                <ul class="list">
                    <li>技术支持：0376-3722819</li>
                    <li>周一至周五 9:00-17:00</li>
                    <li>非工作时间可在线留言</li>
                    <li>我们将在第一时间与您联系</li>
                </ul>
            </div>
            <div class="col-sm-2" style="width:190px;">
                <div class="title">公众号</div>
                <ul class="list">
                <img src="/public/style/images/weixin.jpg" class="img-responsive">
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid" style="background: #30353b;height: 60px;line-height: 60px;color:#fff">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 bottom">
                <!-- <a href="">平台入驻</a>
                <a href="">能力发布</a>
                <a href="">平台服务</a>
                <a href="">入驻协议</a> -->
                <span style="margin-left: 20px">Copyright © 2018 河南航天精工制造有限公司研究检测分公司. All Right Reserved</span>
                 <span class="pull-right">技术支持：<a href="https://www.lchp.cn" target="_blank">联创科技</a> <a href="http://www.beian.miit.gov.cn" target="_blank">豫ICP备19040218号</a></span>
            </div>
        </div>
    </div>
</div>
<div class="toolbar">
    <a href="http://wpa.qq.com/msgrd?v=3&uin=1445473825&site=qq&menu=yes" class="toolbar-item toolbar-item-qq"></a>
    <a href="###" class="toolbar-item toolbar-item-weixin">
        <span class="toolbar-layer"></span>
    </a>
    <a href="http://wpa.qq.com/msgrd?v=3&uin=123456789&site=qq&menu=yes" class="toolbar-item toolbar-item-feedback"></a>
    <a href="###" class="toolbar-item toolbar-item-app">
        <span class="toolbar-layer"></span>
    </a>
    <a href="javascript:scroll(0,0)" id="top" class="toolbar-item toolbar-item-top"></a>
</div>


<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="__STYLE__/js/bootstrap.min.js"></script>
</body>
</html>