<div class="col-sm-3 catmain">
    <img src="__STYLE__/images/zcfgtitle.png" alt="" style="width:100%">
    <div class="panel panel-primary mt-15">
        <div class="panel-heading">
            <h3 class="panel-title">
            标准检索
            </h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" action="{:url('News/search')}">
                <div class="form-group">
                    <label  class="col-sm-3 control-label">名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="title" class="form-control"  placeholder="名称">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-3 control-label">标号</label>
                    <div class="col-sm-9">
                        <input type="text" name="keywords" class="form-control"  placeholder="标准号">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-block btn-warning">立即检索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-primary mt-15">
        <div class="panel-heading">
            <h3 class="panel-title">
            新闻快讯
            </h3>
        </div>
        <ul class="list-group">
            {clt:list db='articles' id="v" where="catid = 5" order="listorder asc,createtime desc" limit='10'}
            <li class="list-group-item"><span class="fa fa-angle-right" style="margin-right:10px;"></span><a href="{:url('home/info',array('id'=>$v['id'],'catId'=>$v['catid']))}">{:str_cut($v['title'],10,'...')}</a></li>
            {/clt:list}
        </ul>
    </div>
</div>