{include file="common/head"/}
<style type="text/css" media="screen">
body{
    background: #f6f8f5;
}
.r-title {
    overflow: hidden;
    border-bottom: 1px solid #17365d;
    margin-bottom: 30px;
}
.r-title p {
    line-height: 30px;
    font-size: 18px;
    float: left;
    text-indent: 20px;
}
.path {
    float: right;
    overflow: hidden;
}
.path li{
    float: left;
    list-style: none;
    margin-left: 15px;
}
.col-sm-9 img{
    max-width: 100%;
}
</style>
<div class="container mt-15">
    <div class="row" style="margin-bottom: 15px">
        <div class="col-sm-12">
            <a href=""><img src="../about.jpg" alt="" width="100%"></a>
        </div>
    </div>
    <div class="row no-gutter">
        <div class="col-sm-3 catmain">
            <div class="cattit">
                关于我们
            </div>
            <ul class="list-group catlist">
                {clt:category db='category' id="vo" where="parentid = 2" order="listorder asc" limit='5'}
                <li class="list-group-item"><a href="../index.php/home-zizhinengli-index-catId-{$vo.id}.html" title="">{$vo.catname}<span class="fa fa-angle-right pull-right"></span></a></li>
                {/clt:category}
            </ul>
        </div>
        <div class="col-sm-9 content">
            <div class="pageinfo">
            {$info.content}
            </div>
        </div>
    </div>
</div>
<!-- maincontent end here -->
{include file="common/footer"/}