{include file="common/head"/}
<div class="container mt-15">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="{:url('home/index/index')}" title="CLTPHP">首页</a></li>
                <li><a href="{:url('home/'.MODULE_NAME.'/index',array('catId'=>input('catId')))}" title="{$title}">{$title}</a></li>
                <li class="active">{$info.title}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 content box">
            <h1>{$info.title}</h1>
            {$info.content}
        </div>
        {include file="Common/new_right" /}
    </div>
</div>

<!-- maincontent end here -->
{include file="common/footer"/}