{include file="common/head"/}
<style type="text/css" media="screen">
body{
    background: #f6f8f5;
}
.r-title {
    overflow: hidden;
    border-bottom: 1px solid #17365d;
    margin-bottom: 30px;
}
.r-title p {
    line-height: 30px;
    font-size: 18px;
    float: left;
    text-indent: 20px;
}
.path {
    float: right;
    overflow: hidden;
}
.path li{
    float: left;
    list-style: none;
    margin-left: 15px;
}
.col-sm-9 img{
    width: 100%;
}
</style>
<div class="container mt-15">
    <div class="row" style="margin-bottom: 15px">
        <div class="col-sm-12">
            <a href=""><img src="../lib.jpg" alt="" width="100%"></a>
        </div>
    </div>
    <div class="row no-gutter">
        <div class="col-sm-3 catmain">
            <div class="cattit">
                实验室服务
            </div>
            <ul class="list-group catlist">
                <li class="list-group-item"><a href="../index.php/home-huodong-index-catId-24.html" title="">服务流程<span class="fa fa-angle-right pull-right"></span></a></li>
                <li class="list-group-item"><a href="../index.php/home-zlxz-index-catId-26.html" title="">资料下载<span class="fa fa-angle-right pull-right"></span></a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="newslist">
                <ul>
                    {clt:list db='down' id="v" where="catid = $cid" order="listorder asc,createtime desc" limit='10'}
                    <li>{$v.title} <span class="pull-right"><a href="__PUBLIC__/{$v.files}" title="">立即下载</a></span></li>
                    {/clt:list}
                </ul>
            </div>
            <!-- <div style="margin-top: 15px">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">荣誉资质</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">技术团队</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">仪器展示</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <img src="__PUBLIC__/style/images/rongyu.jpg" alt="" width="100%">
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <img src="__PUBLIC__/style/images/tuandui.jpg" alt="" width="100%">
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <img src="__PUBLIC__/style/images/shebei.jpg" alt="" width="100%">
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- maincontent end here -->
{include file="common/footer"/}