{include file="common/head"/}
<div class="container mt-15">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="{:url('home/index/index')}" title="CLTPHP">首页</a></li>
                <li><a href="{:url('home/'.MODULE_NAME.'/index',array('catId'=>input('catId')))}" title="{$title}">{$title}</a></li>
                <li class="active">{$info.title}</li>
            </ol>
        </div>
    </div>
    <div class="row box">
        <div class="col-sm-9 content">

            <h3>{$info.title}</h3>
            <p>活动开始时间：{:toDate($info['start_time'],'Y-m-d')}</p>
            <p>活动结束时间：{:toDate($info['end_time'],'Y-m-d')}</p>
            {$info.content}
        </div>
        <div class="col-sm-3">
            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">我第一次使用</div>
                <ul class="list-group">
                    {clt:list db='article' id="vo" where="catid = 13" order="listorder asc,createtime desc" limit='4'}
                    <li class="list-group-item">
                        <a href="{:url('home/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}" title="{$vo.title}">
                            {$vo.title}
                        </a>
                    </li>
                    {/clt:list}
                </ul>
            </div>
            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">实验室入驻</div>
                <ul class="list-group">
                    {clt:list db='article'  id='vo' where="catid = 14" order="listorder asc,createtime desc" limit='4'}
                    <li class="list-group-item">
                        <a href="{:url('home/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}" title="{$vo.title}">
                            {$vo.title}
                        </a>
                    </li>
                    {/clt:list}
                </ul>
            </div>
            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">需求发布指南</div>
                <ul class="list-group">
                    {clt:list db='article' id='vo' where="catid = 15" order="listorder asc,createtime desc" limit='4'}
                    <li class="list-group-item">
                        <a href="{:url('home/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}" title="{$vo.title}">
                            {$vo.title}
                        </a>
                    </li>
                    {/clt:list}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- maincontent end here -->
{include file="common/footer"/}