{include file="common/head"/}

<script type="text/javascript" src="/public/menu/js/jquery.js"></script>
<script type="text/javascript" src="/public/menu/js/web.js"></script>
<style>
	body{background:#f6f8f5;}
	.tab-content{
		padding-top:15px;
		padding-bottom: 15px;
	}
</style>
<div class="container mt-15">
	<div class="row no-gutter">
		<div class="col-sm-2" style="width:235px;">
			<div class="product_sort fl">
				<div class="bd">
					{volist name="cate_list" id="vo"}
					<div class="item">
						<div class="title one"><a href="#"><icon class="glyphicon {$vo.desc}" style="margin-right:15px"></icon>{$vo.name}</a></div>
						<div class="arrow"><span class="fa fa-angle-right"></span></div>
						{if condition="$vo.child neq null"}
						<div class="subitem">
							<div class="inner">
								<div class="tit tit1">
									<ul>
										{volist name="vo.child" id="v"}
										<li><a href="{:url('jianceyouxuan/dingxiang','','')}/catid/{$v.id}">{$v.name}</a></li>
										{/volist}
									</ul>
								</div>
							</div>
						</div>
						{/if}
					</div>
					{/volist}
				</div>
			</div>
			<!-- </div> -->
			<!--<div class="box qrcode mt-15">-->
			<img src="/public/style/images/wxgzh.png" alt="" width="100%" class="mt-15">
			<!--</div>-->
			<!-- <div class="box mt-15">
			                <div style="margin-bottom: 20px;margin-top: 10px">
			                    订单查询
			                </div>
			                <form class="form-horizontal" method="post" action="{:url('Search/search')}">
			                    <div class="form-group">
			                        <div class="col-sm-12">
			                            <input type="number" name="order_id" class="form-control" placeholder="订单编号">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-12">
			                            <button type="submit" class="btn btn-block btn-warning">立即查询</button>
			                        </div>
			                    </div>
			                </form>
			            </div> -->
            <div class="box mt-15 ordersearch">
            <a href="" id="jcjdcx" data-toggle="modal" data-target="#osearch" class="btn btn-info btn-block"><span class="fa fa-search"></span> 检测进度查询</a>
            <a href="" id="bgjgcx" data-toggle="modal" data-target="#osearch" class="btn btn-info btn-block"><span class="fa fa-search"></span> 报告结果查询</a>
            <a href="" id="bgcxxz" data-toggle="modal" data-target="#osearch" class="btn btn-info btn-block"><span class="fa fa-search"></span> 报告查询下载</a>
            </div>
            <div id="osearch" class="modal fade">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <div class="modal-body">
		                    <button class="close" data-dismiss="modal">
		                        <span>&times;</span>
		                    </button>
		                </div>
		                <div class="modal-title">
		                    <h1 class="text-center ordertit">订单查询</h1>
		                </div>
		                <div class="modal-body">
		                    <form class="form-horizontal" method="post" action="{:url('Search/search')}">
			                    <div class="form-group">
			                        <div class="col-sm-12">
			                            <input type="text" maxlength="50" name="order_id" class="form-control" placeholder="订单编号">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-12">
			                            <button type="submit" class="btn btn-block btn-warning">立即查询</button>
			                        </div>
			                    </div>
			                </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="col-sm-8" style="width:671px; margin-left:15px;">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					{volist name="adList" id="vo" key="i"}
					<li data-target="#carousel-example-generic" data-slide-to="{$i-1}"{if condition='$i eq 1'} class="active"{/if}></li>
					{/volist}
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					{volist name="adList" id="vo" key="i"}
					{if condition='$i eq 1'}
					<div class="item active">
						<a href="{$vo.url}"><img src="/public{$vo.pic}" alt="{$vo.name}" /></a>
					</div>
					{else}
					<div class="item">
						<a href="{$vo.url}"><img src="/public{$vo.pic}" alt="{$vo.name}" /></a>
					</div>
					{/if}
					{/volist}
				</div>
			</div>
			<div class="box-1 mt-15">
				<span class="pull-left" style="margin-left:20px;font-size:16px;font-weight: 600; margin-right: 20px;">
					最新入驻
				</span>
				{$syss_data.new}
				<span class="pull-right" style="margin-right:20px">
					成员   <a href="{:url('Sysrz/lists')}" style="font-size: 20px;color:red">{$syss_data.count}</a> 家
				</span>
			</div>
			<div class="panel panel-primary mt-15">
				<div class="panel-heading">
					<h3 class="panel-title">
					最新需求
					<span class="pull-right">
						已发布需求 {$xuqiu_count} 个
					</span>
					</h3>
				</div>
				<ul class="list-group">
					{clt:list db='orders' where="" order="id desc" id="vo" limit='6'}
					<li class="list-group-item">
						<span class="fa fa-angle-right" style="margin-right:10px;"></span><a href="{:url('Jiance/show')}?id={$vo.id}">{$vo.title} <span class="pull-right">{:toDate($vo['endtime'],'Y-m-d')}</span></a>
					</li>
					{/clt:list}
				</ul>
			</div>
		</div>
		<div class="col-sm-2" style="width:234px; margin-left:15px;">
			<div class="">
				<a href="{:url('User/order/index')}"><img src="/public/style/images/add.jpg" alt="" width="100%"></a>
			</div>
			<div class="mt-15">
				<a href="{:url('User/sysrz/base')}"><img src="/public/style/images/ruzhu.jpg" alt="" width="100%"></a>
			</div>
			<div class="panel panel-primary mt-15">
				<div class="panel-heading">
					<h3 class="panel-title">
					行业新闻
					</h3>
				</div>
				<ul class="list-group">
					{clt:list db='articles' where="catid = 5"  limit='9' order='createtime desc' id="vo"}
					<li class="list-group-item">
						<span class="fa fa-angle-right" style="margin-right:10px;"></span><a href="{:url('home/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}" alt="{$vo['title']}">{:str_cut(trim($vo['title']),11,'...')}</a>
					</li>
					{/clt:list}
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<a href="{$banner.url}"><img src="/public{$banner.pic}" alt="" width="100%"></a>
			</div>
		</div>
	</div>
</div>
<!-- <div class="container-fluid pic-news">
	<div class="container">
		<div class="row">
			{clt:list db='article' dbfield='catid' id='vo' joindb='category' joinfield='id' where="posid = 1" order="listorder asc,createtime desc" limit='4'}
			<div class="col-sm-3">
				<img src="{:imgUrl($vo['title_thumb'])}" alt="{$vo.title}" />
			</div>
			{/clt:list}
		</div>
	</div>
</div> -->
{foreach name="categorys" item="vo"}
<div class="container">
	<div class="row no-gutter mt-15">
		{if $vo['syslist']}
		<div class="col-sm-10 white" style="width:921px; padding:15px;">
			<ul class="nav nav-tabs" role="tablist" id="{$vo.id}">
				<li><a href="" style="font-weight:600">{$vo.name}</a></li>
				{foreach name="vo.child" item="v" key="k"}
				{if condition="$k eq 0"}
				<li role="presentation" class="active" onclick="show('{$v.id}','{$vo.id}')"><a href="#{$v.id}" aria-controls="home" id="{$v.id}" role="tab" data-toggle="tab">{$v.name}</a></li>
				{else /}
				<li role="presentation" class="" onclick="show('{$v.id}','{$vo.id}')"><a href="#{$v.id}" aria-controls="home" role="tab" data-toggle="tab">{$v.name}</a></li>
				{/if}
				{/foreach}
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="row"  id="tab-content{$vo.id}">

				</div>
			</div>
		</div>

		<div class="col-sm-2" style="width:234px; margin-left:15px;">
			<div class="panel panel-primary">
				<div class="panel-heading"><h3 class="panel-title">推荐企业及实验室</h3></div>
				<ul class="list-group">
					{volist name="vo.syslist" id="item"}
					<li class="list-group-item">
						<img src="/public{$item.logo}" style="width:45px;height:45px; margin-right:5px;" class="img-circle pull-left"><a href="{:url('Sysrz/show')}?id={$item.id}" alt="{$item.name}">{$item.name}</a>
					</li>
					{/volist}
				</ul>
			</div>
		</div>
		{/if}
	</div>
</div>
{/foreach}
<script type="text/javascript">
    $(document).ready(function(){
        $("li.active").click();
    });
    //首页旅游产品分类
$(".product_sort .bd .item").hover(function(){
	$(this).addClass("layer");
},function(){
	$(this).removeClass("layer");
});
function show(obj,pid){
    $.ajax({
		url: "{:url('getposxiangmu')}",
		data: {
		    id: parseInt(obj)
		},
		success: function(res){
            var data = res.res;
            $('#tab-content'+pid).html("");
            for (var i=0;i<data.length;i++)
            {
                $('#tab-content'+pid).append('<div class="col-xs-6 col-md-3">' +
                    '<a href="{:url("jianceyouxuan/show","","")}/id/' + data[i]['id'] + '" class="thumbnail">' +
                    '<img src="/public'+ data[i]['thumb'] +'" width="200" height="200" alt="...">' +
                    '</a>' +
						'<p style="text-align: center">'+ data[i]['title'] +'</p>'+
                    '</div>')
            }
    }});
}

//wy add at 2018-03-27 改变进度查询窗口标题
$(".btn-info").click(function(){
	$(".ordertit").text($(this).text());
});
</script>
{include file="common/footer"/}