{include file="common/head"/}
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<style>
    body{
        background: #f6f8f5;
    }
    a{
        text-underline: none;
    }
    a:visited{text-decoration: none;}
    a:hover {text-decoration: none;}
    a:active{text-decoration:none;}
    ul.one{
        width: 100%;
        height:40px;
        line-height:40px;
        margin-top: 10px;
        margin-bottom: 10px;
        clear: both;
    }
    ul.one li{
        list-style: none;
        float: left;
        margin-right:20px;
    }
    .two{
        height:40px;
        line-height:40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .two ul li{
        list-style: none;
        float: left;
        margin-right:20px;
    }
    .strong{
       font-weight: 900;
    }
</style>
<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="col-xs-4 text-center">
            <a href="{:url('index')}">
                <img src="__STYLE__/images/fangda2.png" alt="">
                <p style="border-bottom: 1px solid #0000ff;font-size: 18px;width: 50%;margin:0 auto;padding-bottom: 15px">关键词检索</p>
            </a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="{:url('jianceyouxuan/ditu')}">
                <img src="__STYLE__/images/ditu22.png" alt="">
                <p style="border-bottom: 1px solid #0000ff;font-size: 18px;width: 50%;margin:0 auto;padding-bottom: 15px">地域检索</p>
            </a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="{:url('jianceyouxuan/dingxiang')}">
                <img src="__STYLE__/images/fangda22.png" alt="">
                <p style="border-bottom: 1px solid #0000ff;font-size: 18px;width: 50%;margin:0 auto;padding-bottom: 15px">定向筛选</p>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top:30px; min-height: 500px">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">定向筛选</h3></div>
                <div class="panel-body">
                    <div class="bs-callout bs-callout-info">
                        <h4>检测分类</h4>
                    </div>
                    <ul class="one">
                        {foreach name="first" id="vo"}
                        <li> <a href="#" class="ulp-a" onclick="changeTow({$vo.id})" id="{$vo.id}">{$vo['name']}</a></li>
                        {/foreach}
                    </ul>
                    <div class="bs-callout bs-callout-info">
                        <h4>二级分类</h4>
                    </div>
                    <div class="two">
                        <ul id="two">

                        </ul>
                    </div>
                    <table class="table">
                        <thead>
                        <tr style="background:#f3f3f3;height:40px;">
                            <th>#</th>
                            <th>检测项目</th>
                            <th>检测依据</th>
                            <th>描述</th>
                        </tr>
                        </thead>
                        <tbody id="list">
                        {neq name="lists" value=""}
                        {foreach name="lists" item="vo"}
                        <tr>
                            <th scope="row" width="50">{$vo.id}</th>
                            <td width="180"><a href="{:url('show','','')}/id/{$vo.id}" title="">{$vo.title}</a></td>
                            <td width="300">{$vo.keywords}</td>
                            <td>{$vo.description}</td>
                        </tr>
                        {/foreach}
                        {/neq}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var id = '{$catid}';
        var topid = '{$topid}';
        if (id){
            $("#"+topid).click();
            getList(id);
        }else {
            $(".ulp-a:first").click();
            getList(2);
        }
    });
    function changeTow(obj){
        $.post("{:url('Jianceyouxuan/ajaxcategory')}",{
            id: obj?obj:1
        },function(res){
            $('#two').html('');
            $('#'+obj).css("font-weight", "bold").parent().siblings().children().css("font-weight", "normal");
            $('#'+obj).css("color", "red").parent().siblings().children().css("color", "#000");
            for (var i=0;i<res.length;i++)
            {
               $('#two').append('<li>\n' +
                   '<a href="#" class="twocategory"  id="'+ res[i]['id'] +'" onclick="getList('+ res[i]['id'] +')">'+res[i]['name']+'</a>\n' +
                   '</li>')
            }
        })
    }
    function getList(id){
        $.post("{:url('Jianceyouxuan/ajaxxiangmu')}",{
            id: id?id:2
        },function(aaa){
            $('#list').html("");
            $('#'+id).css("color", "red").parent().siblings().children().css("color", "#000");
            for (var i=0;i<aaa.length;i++)
            {
                $('#list').append('<tr>\n' +
                    '<th scope="row" width="50">' + aaa[i]['id'] + '</th>\n' +
                    '<td width="180"><a href="{:url(\'show\',\'\',\'\')}/id/' + aaa[i]['id'] + '" title="">'+aaa[i]['title']+'</a></td>\n' +
                    '<td width="300">'+aaa[i]['keywords']+'</td>\n' +
                    '<td>'+aaa[i]['description']+'</td>\n' +
                    '</tr>')
            }
        })
    }
</script>
{include file="common/footer"/}
