{include file="common/head"/}
<style>
    .page-header {
        height: 50px;
    }
</style>
<div class="container mt-15">
    <div class="row">
        <div class="col-sm-12 box">
            <div class="page-header">
                <h2 style="font-size: 16px;font-weight: 900;">
                    {$info.title}
                </h2>
            </div>
            <p>发布时间：{:toDate($info.time,'Y-m-d')}</p>
            <p>截止时间：{:toDate($info.endtime,'Y-m-d')}</p>
        </div>
    </div>
    <div class="row mt-15">
        <div class="col-sm-12 box">
            <div class="page-header">
                <h2 style="font-size: 16px;font-weight: 900">检测明细</h2>
            </div>
           {foreach name="goods" item="vo"}
                <p>样品数量：{$vo.num}</p>
               <p>材质：{$vo.caizhi}</p>
               <p>型号：{$vo.xinghao}</p>
                <p>样品其他：{$vo.other}</p>
                <p style="margin-bottom: 50px;border-bottom: 1px dotted #efefef;padding-bottom: 50px">检测要求：{$vo.content}</p>
           {/foreach}
        </div>
    </div>
    <div class="row mt-15">
        <div class="col-sm-12 box">
            <div class="page-header">
                <h2 style="font-size: 16px;font-weight: 900">检测信息</h2>
            </div>
            <p>处理方式：<span id="chuli_type">{$info.chuli_type}</span></p>
            <p>开具发票：<span id="receipt">{$info.receipt}</span></p>
            <!--<p>资质要求：<span id="intelligence">{$info.intelligence}</span></p>-->
            <p>接受分包：<span id="subpackage">{$info.subpackage}</span></p>
            <!--<p>报告版式：<span id="format">{$info.format}</span></p>-->
            <p>报告方式：<span id="way">{$info.way}</span></p>
            <p>是否加急：<span id="urgent">{$info.urgent}</span></p>
            <p>相关附件：</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    function get_order(id){
        $.ajax({
            type: "post",
            url: "{:url('Order/get_order')}",
            data:{id:id},
            dataType: "json",
            success: function(data){
                location.reload();
            }
        });
    }
</script>
{include file="common/footer"/}