{include file="common/head"/}
<style>
	body{
        background: #f6f8f5;
    }
	.box p{
		font-size: 16px;
		line-height: 30px;
		padding-left: 18px;
	}
	.page-header{margin:20px 0 20px;padding-bottom:15px;}
	.page-header h3{
		padding-left: 15px;
		font-size:18px;
		color:#3a83d2;
	}
</style>
<div class="container" style="width:1170px; margin-top:20px">
	<div class="row mt-15">
		<div class="col-sm-12 box">
			<div class="page-header">
				<h3>{$info.title}</h3>
			</div>
			<p>检测对象：{$info.title}</p>
			<p>检测项目：{$info.catename}</p>
			<p>检测依据：{$info.keywords}</p>
			<p>检测分类：{$info.parent}</p>
		</div>
	</div>
	<div class="row mt-15">
		<div class="col-sm-12 box">
			<div class="page-header">
				<h3>{$info.title}检测项目简介</h3>
			</div>
			<p>{$info.content}</p>
		</div>
	</div>
</div>
{include file="common/footer"/}