{include file="common/head"/}
<style>
    body{
        background: #f6f8f5;
    }
    a{
        text-underline: none;
    }
    a:visited{text-decoration: none;}
    a:hover {text-decoration: none;}
    a:active{text-decoration:none;}
    #allmap{width:100%;height:500px;}
</style>
<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="col-xs-4 text-center">
            <a href="{:url('index')}">
                <img src="__STYLE__/images/fangda2.png" alt="">
                <p style="border-bottom: 1px solid #0000ff;font-size: 18px;width: 50%;margin:0 auto;padding-bottom: 15px">关键词检索</p>
            </a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="{:url('jianceyouxuan/ditu')}">
                <img src="__STYLE__/images/ditu22.png" alt="">
                <p style="border-bottom: 1px solid #0000ff;font-size: 18px;width: 50%;margin:0 auto;padding-bottom: 15px">地域检索</p>
            </a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="{:url('jianceyouxuan/dingxiang')}">
                <img src="__STYLE__/images/fangda22.png" alt="">
                <p style="border-bottom: 1px solid #0000ff;font-size: 18px;width: 50%;margin:0 auto;padding-bottom: 15px">定向筛选</p>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top:30px; min-height: 500px">
        <div class="col-xs-12">
            <div id="allmap"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=yXTsBdAa2G5TswAB42SNGzgZ"></script>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script type="text/javascript">
    var data_info;
    // 百度地图API功能
    map = new BMap.Map("allmap");
    map.centerAndZoom(new BMap.Point(112.53533,33.010619), 9);
    map.enableScrollWheelZoom();
    map.enableInertialDragging();
    map.enableContinuousZoom();
    var index = 0;
    var myGeo = new BMap.Geocoder();
    var adds = [];
    var size = new BMap.Size(10,20);
    map.addControl(new BMap.CityListControl({
        anchor: BMAP_ANCHOR_TOP_LEFT,
        offset: size
    }));
    $.post("{:url('Home/jianceyouxuan/ajaxsys')}","",function(data){
        adds = data;
        bdGEO();
    });
    function bdGEO(){
        var add = adds[index][2];
        geocodeSearch(add);
        index++;
    }
    function geocodeSearch(add){
        if(index < adds.length){
            setTimeout(window.bdGEO,400);
        }
        myGeo.getPoint(add, function(point){
            if (point) {
                var opts = {
                    width : 250,     // 信息窗口宽度
                    height: 80,     // 信息窗口高度
                    title : "信息窗口" , // 信息窗口标题
                    enableMessage:true//设置允许信息窗发送短息
                };
                var address = new BMap.Point(point.lng, point.lat);
                var marker = new BMap.Marker(address);
                map.addOverlay(marker);
                var infoWindow = new BMap.InfoWindow(add, opts);  // 创建信息窗口对象
                marker.addEventListener("click", function(){
                    map.openInfoWindow(infoWindow,point); //开启信息窗口
                });
            }
        });
    }
    // 编写自定义函数,创建标注
    function addMarker(point,label){
        var marker = new BMap.Marker(point);
        map.addOverlay(marker);
        var infoWindow = new BMap.InfoWindow(label, opts);  // 创建信息窗口对象
        marker.addEventListener("click", function(){
            map.openInfoWindow(infoWindow,point); //开启信息窗口
        });
    }
</script>
{include file="common/footer"/}
