{include file="common/head"/}
<div class="container mt-15">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">查询结果</div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post" action="{:url('search')}">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">标准名称</label>
                            <div class="col-sm-5">
                                <input type="text" maxlength="100" name="title" class="form-control" id="inputEmail3" placeholder="标准名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">标准号</label>
                            <div class="col-sm-5">
                                <input type="text" maxlength="100" name="keywords" class="form-control" id="inputEmail3" placeholder="标准号">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-5">
                                <button type="submit" class="btn btn-block btn-warning">立即检索</button>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="list-group">
                    {volist name="lists" id="vo"}
                    <li class="list-group-item"><a href="{:url('home/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}" title="{$vo.title}">{$vo.title}</a></li>
                    {/volist}
                </ul>
            </div>
        </div>
        {include file="Common/new_right" /}
    </div>
</div>
{include file="common/footer"/}