{include file="common/head"/}
<style>
    body{
        background-color: #fff;
    }
</style>
<div class="container mt-15">
    <div class="row">
        <div class="col-sm-12" style="height: 300px; background:url('./../public/style/images/sysfwtitle1.png') no-repeat">
            <!--<img src="__STYLE__/images/sysfwtitle1.png" alt="">-->
        </div>
    </div>
</div>
<div class="container-fluid mt-15">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">签约流程</h1>
        </div>
    </div>
</div>
<div style="height: 5px;border-top:2px solid #ff8000" class="mt-15"></div>

<div class="container mt-15">
    <div class="row box">
        <div class="col-sm-12">
            <!--<h1>{$info.title}</h1>-->
            {$info.content}
        </div>
    </div>
</div>

<!-- maincontent end here -->
{include file="common/footer"/}