{include file="common/head"/}
<style type="text/css" media="screen">
body{
    background: #f6f8f5;
}
.r-title {
    overflow: hidden;
    border-bottom: 1px solid #17365d;
    margin-bottom: 30px;
}
.r-title p {
    line-height: 30px;
    font-size: 18px;
    float: left;
    text-indent: 20px;
}
.path {
    float: right;
    overflow: hidden;
}
.path li{
    float: left;
    list-style: none;
    margin-left: 15px;
}
.col-sm-9 img{
    max-width: 100%;
}
</style>
<div class="container mt-15">
    <div class="row" style="margin-bottom: 15px">
        <div class="col-sm-12">
            <a href=""><img src="../lib.jpg" alt="" width="100%"></a>
        </div>
    </div>
    <div class="row no-gutter">
        <div class="col-sm-3 catmain">
            <div class="cattit">
                实验室服务
            </div>
            <ul class="list-group catlist">
                <li class="list-group-item"><a href="../index.php/home-huodong-index-catId-24.html" title="">服务流程<span class="fa fa-angle-right pull-right"></span></a></li>
                <li class="list-group-item"><a href="../index.php/home-zlxz-index-catId-26.html" title="">资料下载<span class="fa fa-angle-right pull-right"></span></a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="pageinfo">
            <!-- <div class="r-title">
                <p>服务流程</p>
                <ul class="path">
                    <li><i class="glyphicon glyphicon-home"></i>   </li>
                    <li>首页&gt;</li>
                    <li>服务流程</li>
                </ul>
            </div> -->
            {$info.content}
            </div>
        </div>
    </div>
</div>
<!-- maincontent end here -->
{include file="common/footer"/}