{include file="common/head"/}
<style>
    body{
        background: #f6f8f5;
    }
    a{
        text-underline: none;
    }
    a:visited{text-decoration: none;}
    a:hover {text-decoration: none;}
    a:active{text-decoration:none;}
</style>
<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="col-xs-4 text-center">
            <a href="">
                <img src="__STYLE__/images/fangda2.png" alt="">
                <p style="border-bottom: 1px solid #0000ff;font-size: 18px;width: 50%;margin:0 auto;padding-bottom: 15px">关键词检索</p>
            </a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="{:url('jianceyouxuan/ditu')}">
                <img src="__STYLE__/images/ditu22.png" alt="">
                <p style="border-bottom: 1px solid #0000ff;font-size: 18px;width: 50%;margin:0 auto;padding-bottom: 15px">地域检索</p>
            </a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="{:url('jianceyouxuan/dingxiang')}">
                <img src="__STYLE__/images/fangda22.png" alt="">
                <p style="border-bottom: 1px solid #0000ff;font-size: 18px;width: 50%;margin:0 auto;padding-bottom: 15px">定向筛选</p>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-xs-5 col-xs-offset-4">
            <form class="form-inline" method="post" action="{:url('Jianceyouxuan/search')}">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">关键词</div>
                        <input type="text" maxlength="100" class="form-control" name="keywords" id="exampleInputAmount" placeholder="关键词">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    </div>
</div>
{include file="common/footer"/}