{include file="common/head"/}

<link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css">

<div class="container" style="margin-top: 20px">

    <div class="row">

        <div class="col-xs-12">

            <blockquote class="layui-elem-quote">

                检测结果如下：

            </blockquote>

            <ul class="layui-timeline">

                {foreach name="jindu" item="v"}

                <li class="layui-timeline-item">

                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>

                    <div class="layui-timeline-content layui-text">

                        <h3 class="layui-timeline-title">{$v.time}</h3>

                        <p>

                            {$v.desc}

                            <br>

                                {if condition="$v['file'] neq null"}
                                <a href="../public{$v.file}" target="_blank">下载报告</a>
                                {/if}

                        </p>

                    </div>

                </li>

                {/foreach}

            </ul>

        </div>

    </div>

</div>

{include file="common/footer"/}