{include file="common/head"/}
<style>
    body{
        background: #f6f8f5;
    }
    .thumbnail {
    width: 220px;
    height: 150px;
    }
    .thumbnail img {
    width: 220px;
    height: 150px;
    }
    .jcxm{
        margin: 0;
        padding: 0;
    }
    .jcxm li{
        list-style: none;
        display: inline-block;
    }
</style>
<div class="container-fluid">
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-xs-12">
                <div class="sysbanner">
                    {$info.name}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background: #fff">
    <div class="container">
        <div class="row gstop">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
               <div class="gsinfo">
                   <div class="title">
                       {$info.name}
                       <span class="pull-right">
                           <a href="" class="btn btn-primary">收藏</a>
                           <!--<a href="" class="btn btn-success">委托检测</a>-->
                       </span>
                   </div>
                   <p class="desc">{$info.desc}</p>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-top: 20px">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading"><h3>检测项目</h3></div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <ul class="jcxm">
                            <li style="width: 200px">项目名称</li>
                            <li style="width: 300px">检测依据</li>
                            <li style="width: 300px">项目描述</li>
                        </ul>
                    </li>
                    {foreach  name="xiangmu_list" item="vo"}
                    <li class="list-group-item">
                        <ul class="jcxm">
                            <li style="width: 200px">{$vo.jid}</li>
                            <li style="width: 300px">{$vo.jcyj}</li>
                            <li style="width: 300px">{$vo.desc}</li>
                        </ul>
                    </li>
                    {/foreach}
                </ul>
            </div>
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading"><h3>检测设备</h3></div>
                <!-- List group -->
                <div class="tab-content" style="padding:15px;">
                <div class="row">
                {foreach  name="pic_list" item="vo"}
                <div class="col-xs-6 col-md-3" style="width:220px; margin-right:15px;">
                    <a href="#" class="thumbnail">
                        <img src="__PUBLIC__{$vo.pic}" class="img-responsive" alt="..." width="220" height="150">
                    </a>
                </div>
                {/foreach}
                </div>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="common/footer"/}