{include file="common/head"/}
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">检测优选</a></li>
                <li class="active">实验室列表</li>
            </ol>
            <table style="margin-left:8px;margin-top:8px;margin-right:8px;" border="0" cellpadding="0" cellspacing="0"
                   width="1160" align="center">
                <tbody>
                <tr>
                    <td class="leftopang"></td>
                    <td class="lefttitlebg">
                        <div style="line-height: 50px;background: #3a82d4;color:#fff;padding-left: 20px">
                            默认实验室
                        </div>
                    </td>
                    <td class="leftoprtang"></td>
                </tr>
                <tr>
                    <td class="leftline"></td>
                    <td style="background:white;" align="center" valign="top">
                        <table id="tbsys" border="0" width="100%" align="center">
                            <tbody>
                            {foreach name="res" id="vo"}
                            <tr>
                                <td style="width:106px;height:95px; padding-left: 15px" align="center" valign="middle"><img
                                        src="__PUBLIC__{$vo.logo}" height="50px" style="max-width: 180px"></td>
                                <td align="left" valign="middle" style="padding-left:20px"><a class="syslink" href="{:url('Sysrz/show')}?id={$vo.id}" target="_blank">{$vo.name}</a><br>
                                    <span class="glyphicons glyphicons-map-marker"></span>所在地:{$vo.address}
                                    </font></td>
                                <td style="width:154px;font-size:16px;color:#323232;font-family:微软雅黑,黑体;" align="left"
                                    valign="middle"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;检测项目(<font
                                        color="#ff6d00">{$vo.id|get_xiangmu_count=###}</font>)
                                </td>
                                <td style="width:402px;" align="center" valign="middle">
                                    <button class="btn btn-success" onclick="scsys({$vo.id},this);">★ 收藏</button>
                                    <a class="syslinknl" href="{:url('Sysrz/show')}?id={$vo.id}" target="_blank">
                                        <button class="btn btn-success" style="width:100px;cursor:pointer;">检测能力</button>
                                    </a>
                                    <!--<button class="btn btn-warning" style="width:100px;cursor:pointer;"-->
                                            <!--onclick="nTalk.im_openInPageChat();">业务咨询-->
                                    <!--</button>-->
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        {$page}
                    </td>
                    <td class="rightline"></td>
                </tr>
                <tr>
                    <td class="lefbotang"></td>
                    <td class="bottomline"></td>
                    <td class="rightbotang"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function scsys(id,obj){
        $.ajax({
             type: "post",
             url: "{:url('Sysrz/scsys')}",
             data:{id:id},
             dataType: "json",
             success: function(data){
                         alert(data.msg)
                      }
         });
    }
</script>
{include file="common/footer"/}