{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{:lang('list')}</legend>
    </fieldset>
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
        </div>
        <button class="layui-btn" id="search" data-type="reload">{:lang('search')}</button>
        <a href="{:url('add')}" class="layui-btn" style="float:right;margin-right: 15px;">{:lang('add')}</a>
        <div style="clear: both;"></div>
    </div>
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="0">全部</li>
            <li class="" lay-id="1">受理中</li>
            <li class="" lay-id="2">已完成</li>
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show">
                <table class="layui-table" id="orders" lay-filter="orders"></table>
            </div>
            <div class="layui-tab-item">
                <table class="layui-table" id="off_ing" lay-filter="off_ing"></table>
            </div>
            <div class="layui-tab-item">
                <table class="layui-table" id="off_over" lay-filter="off_over"></table>
            </div>
        </div>
    </div>

</div>
{include file="common/foot"/}
<script type="text/html" id="action_all">
    <a class="layui-btn layui-btn-xs" lay-event="jindu">进度</a>
    <a href="{:url('edit')}?id={{d.id}}" class="layui-btn layui-btn-xs">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>


</script>
<!--<script type="text/html" id="action_ing">-->
    <!--<a class="layui-btn layui-btn-xs" lay-event="jindu">进度</a>-->
    <!--<a href="{:url('edit')}?id={{d.id}}" class="layui-btn layui-btn-xs">编辑</a>-->
    <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
<!--</script>-->
<!--<script type="text/html" id="action_over">-->
    <!--<a class="layui-btn layui-btn-xs" lay-event="jindu">进度</a>-->
    <!--<a href="{:url('edit')}?id={{d.id}}" class="layui-btn layui-btn-xs">编辑</a>-->
    <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
<!--</script>-->
<div id="show" style="display:none;">
    <div class="layui-container-fluid" style="padding:20px">
    <div class="layui-row">
        <div class="layui-col-xs7">
            <table id="table" lay-filter="list"></table>
            <script type="text/html" id="jindu_action">
                {{#  if(d.file != ''){ }}
                <a  class="layui-btn layui-btn-xs" lay-event="down">下载报告</a>
                {{#  } }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del_jindu">删除</a>
            </script>
        </div>
        <div class="layui-col-xs4 layui-col-xs-offset1" style="margin-top:10px;">
            <form class="layui-form layui-form-pane" action="" id="add_jindu">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">添加项目进度</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" name="desc" class="layui-textarea" lay-verify="required"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="订单已受理" title="订单已受理">
                        <input type="radio" name="status" value="试验中" title="试验中">
                        <input type="radio" name="status" value="试验已完成" title="试验已完成">
                        <input type="radio" name="status" value="报告已上传" title="报告已上传">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <button type="button" class="layui-btn" id="test2">附件上传</button>
                    <input type="hidden" name="file" id="file">
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                        <img class="layui-upload-img" id="demo1">
                        <p id="demoText"></p>
                    </blockquote>
                </div>
                <div class="layui-form-item">
                    <input type="hidden" name="order_id" id="order_id">
                    <button class="layui-btn" lay-submit="" lay-filter="add_jindu">提交</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<script>
    layui.use(['element','table', 'layer','form','upload'], function(){
        var element = layui.element
            ,$ = layui.jquery
            ,layer = layui.layer
            ,table= layui.table
            ,form = layui.form
            ,upload = layui.upload;
        var table_jindu;
        var tableIn = table.render({
            elem: '#orders',
            url: '{:url("lists")}',
            method: 'post',
            page: true,
            cols: [[
                {field: 'id', title: '{:lang("id")}', width: 80,align:'center'},
                {field: 'title', title: '{:lang("title")}', width: 100,align:'center'},
                {field: 'tatchsn', title: '批次号', width: 180,align:'center'},
                {field: 'reportsn', title: '报告编号', width: 180,align:'center'},
                {field: 'addtime', title: '{:lang("add")}{:lang("time")}', width: 180,align:'center'},
                {title:'操作', align: 'center', toolbar: '#action_all',fixed:'right'}
            ]],
            limit: 10
        });
        var tableIn_ing = table.render({
            elem: '#off_ing',
            url: '{:url("lists_ing")}',
            method: 'post',
            page: true,
            cols: [[
                {field: 'id', title: '{:lang("id")}', width: 80,align:'center'},
                {field: 'title', title: '{:lang("title")}', width: 100,align:'center'},
                {field: 'tatchsn', title: '批次号', width: 180,align:'center'},
                {field: 'reportsn', title: '报告编号', width: 180,align:'center'},
                {field: 'addtime', title: '{:lang("add")}{:lang("time")}', width: 180,align:'center'},
                {title:'操作', align: 'center', toolbar: '#action_all',fixed:'right'}
            ]],
            limit: 10
        });
        var tableIn_over = table.render({
            elem: '#off_over',
            url: '{:url("lists_over")}',
            method: 'post',
            page: true,
            cols: [[
                {field: 'id', title: '{:lang("id")}', width: 80,align:'center'},
                {field: 'title', title: '{:lang("title")}', width: 80,align:'center'},
                {field: 'tatchsn', title: '批次号', width: 180,align:'center'},
                {field: 'reportsn', title: '报告编号', width: 180,align:'center'},
                {field: 'addtime', title: '{:lang("add")}{:lang("time")}', width: 180,align:'center'},
                {title:'操作', align: 'center', toolbar: '#action_all',fixed:'right'}
            ]],
            limit: 10
        });

        //搜索
        $('#search').on('click', function () {
            var key = $('#key').val();
            // if ($.trim(key) === '') {
            //     layer.msg('{:lang("pleaseEnter")}关键字！', {icon: 0});
            //     return;
            // }
            tableIn.reload({
                where: {key: key,catid:'{:input("catid")}'}
            });
            tableIn_ing.reload({
                where: {key: key,catid:'{:input("catid")}'}
            });
            tableIn_over.reload({
                where: {key: key,catid:'{:input("catid")}'}
            });
        });
        // table.on('tool(offlineorders)', function(obj) {
        //     var data = obj.data;
        //     var tr = obj.tr; //获得当前行 tr 的DOM对象
        //
        // });
        function writeObj(obj){
            var description = "";
            for(var i in obj){
                var property=obj[i];
                description+=i+" = "+property+"\n";
            }
            alert(description);
        }

        table.on('tool(orders)', function (obj) {
            console.log(obj);
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('您确定要删除该内容吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('del')}",{id:data.id},function(res){
                        layer.close(loading);
                        if(res.code==1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
            if (obj.event === 'jindu') {
                //data.id
                var jindu = layer.open({
                    type: 1
                    , title: '进度信息' //不显示标题栏
                    , closeBtn: 1
                    , shade: 0.8
                    , anim: 2
                    , maxmin: true
                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    , moveType: 1 //拖拽模式，0或者1
                    , content: $('#show')
                    , success: function (layero) {

                        posid= data.id;
                        $("#order_id").val(posid);
                        //显示进度列表
                        table_jindu = table.render({
                            elem: '#table'
                            , url: "{:url('jindulist')}"+"?id=" + posid//数据接口
                            , page: true //开启分页
                            , cols: [[ //表头
                                {field: 'id', title: 'ID', width: 20, align: 'center',event:'show'}
                                , {field: 'desc', title: '进度信息', width: 180, align: 'left',event:'show'}
                                , {field: 'status', title: '状态', width: 100, align: 'left',event:'show'}
                                , {field: 'time', title: '添加时间', align: 'center',event:'show',width: 150}
                                , {width: 200,title: '操作', align: 'center', toolbar: '#jindu_action'}
                            ]]
                        });
                    }
                });
                layer.full(jindu);
            }
        });
        var uploadInst = upload.render({
            elem: '#test2'
            ,url: "{:url('UpFiles/upImages')}"
            ,accept:'file'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else{
                    $("#file").val(res.src);
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        form.on('submit(add_jindu)', function (data) {
            var $form = $('#add_jindu');
            form.render();
            if(data.field.order_id == ''){
                console.log(data.field);
                layer.msg('请从左侧选择一个订单');
            }else{
                $.post("{:url('Offline/addjindu')}", $form.serialize(), function (res) {
                    if (res.code > 0){
                        layer.msg('提交成功');

                        table_jindu.reload();
                        document.getElementById('add_jindu').reset();
                        $('input[name="file"]').val('');
                        $("img#demo1").attr('src','');
                    }else{
                        layer.msg('提交失败');
                        table_jindu.reload();
                    }
                });
            }
            return false;
        });

        table.on('tool(list)', function (obj) {

            if (obj.event === 'del_jindu') {
                var data = obj.data;
                layer.confirm('您确定要删除吗？', function(index) {
                    $.post("{:url('del_jindu')}", {id: data.id}, function (res) {
                        if (res.code == 1) {
                            layer.msg(res.msg);
                            obj.del();
                        }
                    });
                });
            }else if(obj.event === 'down'){

                window.open('/public'+obj.data.file);
            }
        });

    });
</script>