body{
    font-family: Consolas, "Liberation Mono", Courier, "微软雅黑";
    background-color: #f6f8f5;
}
.mt-10{
    margin-top:10px;
}
.mt-15{
    margin-top:15px;
}
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
a,a:hover{
    color:#000;
}
.top{
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #3a82d4;
}
.top span a{
    color: #fff;
}
.head{
    height: 90px;
    background-color: #f6f8f5;
}
.head .logo{
    margin:15px auto;
}
.menu{
    background-color: #fff;
    height: 40px;
    line-height: 40px;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu ul li{
    float: left;
    display: block;
    padding:0px 15px;
    font-size: 16px;
}
.service{
    text-align: center;
    font-size: 18px;
    background-color: #e0e0e0;
}

.nav {
    border:1px solid #efefef;
    background-color: #fff;
}
.nav ul{
    margin: 0;
    padding:0;
}
.nav ul li{
    float: left;
    list-style: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left:15px;
    padding-right:15px;
    font-size: 14px;
}
.nav ul li a{
    margin-left: 15px;
}
.box{
     background-color: #fff;
     padding:10px;
 }
.box.qrcode{
    height: 120px;
}
.box.add{
     height: 120px;
     background-color: #ff8000;
 }
.box.ruzhu{
    height: 120px;
    background-color: darkblue;
}
.kuaixun{
    /*border-top:2px solid darkblue;
    height: 363px;*/
    width:100%
}
.kuaixun .title{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    border-bottom: 1px solid darkblue
}
.kuaixun ul{
    margin:0;
    padding: 0;
}
.kuaixun ul li{
    list-style: none;
    float: left;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    display: block;
    width:100%
}
.box-1{
    background-color: #fff;
    height: 40px;
    line-height: 40px;
}
#carousel-example-generic{
     height: 260px;
     overflow: hidden;
 }
.carousel-inner .item img{
    height: 300px;
    width: 100%;
}

.pic-news{
    background-color: #fff;
    padding-top:15px;
    padding-bottom: 15px;
}
.pic-news img{
    width: 100%;
    height: 200px;
}
.footer{
    background-color: #3f4553;
    padding:35px 0;
    color:#fff;
}

.huodong img{
    height: 200px;
}


.ui-step-wrap {
    position: relative;
}

.ui-step-wrap .ui-step-bg,
.ui-step-wrap .ui-step-progress {
    height: 6px;
    position: absolute;
    top: 50px;
    left: 0;
}

.ui-step-wrap .ui-step-bg {
    width: 100%;
    background: #ddd;
}

.ui-step-wrap .ui-step-progress {
    width: 0;
    background: #64BD2E;
}

.ui-step-wrap .ui-step {
    position: relative;
    z-index: 1;
    list-style: none;
}

.ui-step-wrap .ui-step:after {
    content: '';
    display: table;
    clear: both;
}

.ui-step-wrap .ui-step .ui-step-item {
    float: left;
}

.ui-step-wrap .ui-step .ui-step-item div {
    text-align: center;
    color: #625454;
}

.ui-step-wrap .ui-step .ui-step-item .ui-step-item-num {
    margin-top: 18px;
}

.ui-step-wrap .ui-step .ui-step-item .ui-step-item-num span {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #dad9d9;
}

.ui-step-wrap .ui-step .ui-step-item.active .ui-step-item-num span {
    color: #fff;
    background: #64BD2E;
}

.sysbanner{
    height: 235px;
    line-height: 235px;
    font-size: 30px;
    color: #fff;
    padding-left: 20px;
    background: url("./../images/systitle.jpg") 100%;
}
.gstop{
    margin:20px 0px;
    border:1px solid #efefef;
    height: 358px;
    background: url("./../images/gstp.jpg") no-repeat 15px 30px;
}
.gsinfo .title{
    line-height: 50px;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 800;
}
.gsinfo .desc{
    line-height: 30px;
}