/*
* @Author: wangyang
* @Date:   2018-03-14 11:22:23
* @Last Modified by:   wangyang
* @Last Modified time: 2019-02-22 11:18:23
*/
a:hover{text-decoration:none;}
.white{background:#fff;}
.ml-15{margin-left:15px;}
.container{width:1200px;}
.head{height:120px;}
.head .logo{margin:31px auto;}
.head .btn-block{height:43px; background:#3a82d4; border:none;}
.menu{height:45px; line-height:45px;}
.service{font-size:16px; background:#eeeff1; font-weight:normal;}
.menulist{background:#fff;}
.menulist a{color:#474747;}
.menulist a:hover{color:#3a82d4;}
.fbxq a{width:100%; height:45px; line-height:45px; font-size:16px; display:block; border:none; background:#3a82d4; padding:0;}

.box-1{height:42px; line-height:42px;}

.product_sort {
    margin: 0px;
    width: 235px;
    border:none;
    border-top: solid 1px #eeeeee;
    border-bottom: solid 1px #eeeeee;
    position: relative;
    z-index: 90;
    background:#fff;
}
.product_sort .bd .layer .subitem{
    left: 235px;
    _left: 235px;
    top: -1px;
}
.product_sort .bd .layer .subitem .inner ul li{height:45px; line-height:45px;}
.product_sort .bd .item .arrow{right:20px;}
.product_sort .bd .item .title a:hover{color:#3a82d4;}
#carousel-example-generic{height:335px;}
.panel{margin-bottom:15px;}

.thumbnail{width:200px; height:200px; margin-bottom:12px; padding:0; border:none; display:block; overflow:hidden;}
.thumbnail img{width:200px; height:200px;transition: transform 1s;}
.thumbnail:hover img{transform: scale(1.15);}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active{border-color:#dddddd;}

.nav{border:none;}
.nav-tabs{border-bottom: 1px solid #dddddd;}
/* .nav > li > a:hover, .nav > li > a:focus{background:#fff;} */

.panel{border:none;}
.panel-heading{padding:0 15px;}
.panel-heading h3{ height:45px; line-height:45px;}
.list-group{padding:10px 0;}
.list-group-item{border:none;}

/* 内页左侧 */
.catmain{width:235px; margin-right:15px;}
.cattit{width:100%; height:60px; background: url(/public/style/images/olBG.jpg) no-repeat 100% 100%; line-height:60px; font-size:16px; color: #fff; padding-left:15px;}
.catlist{background:#fff;}
.catlist .list-group-item{border-bottom:1px solid #eee; margin-bottom:0;}
.catlist span{font-size:16px;}
.catlist a{width:100%; display:block; font-size:16px;}

/* 图文列表 */
.piclist,.newslist,.pageinfo{width:920px; padding:15px; background:#fff;}
.piclist a img:hover{
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    opacity: .8;
    -khtml-opacity: .8;
    /* transition: all .1s linear; */
}
.piclist .media-left{padding-right: 20px;}
.piclist h4 a{
    font-size: 20px;
    color: #222;
    line-height: 30px;
    font-weight: bold;
}
.piclist h4 a:hover{color:#3a82d4;}
.piclist .desc a{
    padding: 15px 0 0px;
    color: #999;
    font-size: 14px;
    height: 98px;
    display: block;
    line-height: 24px;
    text-align: justify;
}

/* 新闻列表 */
.newslist ul{padding:0; margin:0;}
.newslist ul li{
    border-bottom:1px dotted #efefef;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height:40px;
    padding-left:15px;
    background: url(/public/style/images/newsico.gif) no-repeat left center;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.newslist ul li a{font-size:14px; color:#666666;}
.newslist ul li a:hover{color:#3a82d4;}

.newstitle{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 0 auto;
    padding-top: 10px;
    width: 100%;
    color: #222;
    padding-bottom:22px;
    margin-bottom:30px;
    border-bottom: 1px solid #e9e9e9;
}

.ordersearch{padding:12px 10px 11px;}
.ordersearch a{
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding:0;
}

.modal-content{border-radius: 6px;}
@media screen and (min-width: 768px){
    .modal-dialog {
        width: 320px;
        margin: 200px auto;
    }
}